{% extends "layout.html" %}

{% block pageTitle %}
  Register interest in a case – {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Register interest in a case
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Register interest in a case
    </h1>

    <!--Deficiency notice -->
    {% if data['reginterest-task'] == "Deficient" %}
      <div class="address-card">
        <div class="address-container">
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <p class="govuk-warning-text__text">
              <strong>
                <span class="govuk-warning-text__assistive">Warning</span>
                You need to review your documentation
              </strong>
            </p>
          </div>
        </div>
      </div>
    {% endif %}

    <p class="govuk-body">Complete all the steps to register an interest in an active trade remedies investigation.  </p>

    <p class="govuk-body govuk-!-margin-bottom-7">If you leave this page before submitting, you can return later from your dashboard.</p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Select case
        </h2>
        <ul class="app-task-list__items">

          {% include "includes/task-list1.html" %}

        </ul>
      </li>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>About you
        </h2>
        <ul class="app-task-list__items">
          
          {% include "includes/task-list2.html" %}
          
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span>Documentation
        </h2>
        <ul class="app-task-list__items">

          {% include "includes/task-list3.html" %}

        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span>Register interest
        </h2>
        <ul class="app-task-list__items">

          {% include "includes/task-list4.html" %}

        </ul>
      </li>
    </ol>

    <a class="govuk-link govuk-link--no-visited-state" href="../dashboard">Back to Dashboard</a>

  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process" target="_blank" class="govuk-link govuk-link--no-visited-state">Trade remedies investigations process (opens in a new window or tab)</a>
          </li> 
          <li>
            <a href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#confidential-information-and-non-confidential-summaries" target="_blank" class="govuk-link govuk-link--no-visited-state">Creating confidential and non-confidential documents (opens in a new window or tab)</a>
          </li>  
          <li>
            <a href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#about-our-questionnaires" target="_blank" class="govuk-link govuk-link--no-visited-state">About our questionnaires (opens in a new window or tab)</a>
          </li> 

          {% if (data['regcase-task'] == "complete") %}
          <li>
            <br>
            <strong>Email the case team</strong>   
              {% if (data['regnterest-due-date'] == "current") %}
                <a class="govuk-link govuk-link--no-visited-state" href="mailto:caseref@traderemedies.gov.uk">{{data['case-ref1']}}@traderemedies.gov.uk</a>
                {% else %}       
                  <a class="govuk-link govuk-link--no-visited-state" href="mailto:caseref@traderemedies.gov.uk">{{data['case-ref']}}@traderemedies.gov.uk</a>
              {% endif %}
          </li>
          {% endif %} 
        </ul>
      </nav>
    </aside>
  </div>

</div>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


