{% extends "layout.html" %}

{% block pageTitle %}
  Contact details\ - {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">2.  About you</span>
      <h1 class="govuk-heading-xl">Who is your primary client contact?</h1>
      <p>This is the main person you work with from the organisation you are representing.</p>

      {% if data['reginterest-existing-org'] == "New Client" %}
        <form action="reginterest-uk-reg" novalidate method="post" id="reginterest-contact-name-form">  
          {% else %}
          <form action="reginterest-tasks?which-org-task=complete&reginterest-task=Draft" novalidate method="post" id="reginterest-contact-name-form">  
      {% endif %}

        
       {{ govukInput({
          label: {
            text: "Contact name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "reginterest-client-name",
          name: "reginterest-client-name",
          type: "text",
          autocomplete: "name",
          value: data['reginterest-client-name']

        }) }}
  
        {{ govukInput({
          label: {
            text: "Contact email address",
            classes: "govuk-label--s"
          },
          id: "reginterest-client-email",
          name: "reginterest-client-email",
          classes: "govuk-input--width-20",
          type: "email",
          autocomplete: "email",
          value: data['reginterest-client-email']
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          
        </div>

      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
