{% extends "layout.html" %}

{% block pageTitle %}
  Further details about your client’s organisation - {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">2. About you</span>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <form action="reginterest-tasks?which-org-task=complete&reginterest-task=Draft" method="post" id="reginterest-your-org-dets-form">  

        
        {% call govukFieldset({
          legend: {
            text: " Further details about your client’s organisation",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>Provide as many details as you can. These are optional, but can help us with our investigations into any case you register an interest in.</p>

        {{ govukInput({
          label: {
            text: "Organisation website (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "Provide your client’s website if it has one."
          },
          classes: "govuk-input--width-20",
          id: "reginterest-web",
          name: "reginterest-web",
          type: "text",
          value: data['reginterest-web']  
        }) }}

        {{ govukInput({
          label: {
            text: "VAT registration number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "The organisation may be registered for VAT (Value Added Tax) or an international equivalent. "
          },
          classes: "govuk-input--width-20",
          id: "reginterest-vat",
          name: "reginterest-vat",
          type: "text",
          value: data['reginterest-vat']
        }) }}

        {{ govukInput({
          label: {
            text: "EORI number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "The organisation will have an EORI (Economic Operators Registration and Identification) number if you have brought goods into the UK or EU."
          },
          classes: "govuk-input--width-20",
          id: "reginterest-eori",
          name: "reginterest-eori",
          type: "text",
          value: data['reginterest-eori']          
        }) }}

        {{ govukInput({
          label: {
            text: "DUNS number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "The organisation might have a 9-digit DUNS (Data Universal Numbering System) identifier."
          },
          classes: "govuk-input--width-20",
          id: "reginterest-duns",
          name: "reginterest-duns",
          type: "text",
          value: data['reginterest-duns']  
        }) }}
  
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
           
        </div>

        {% endcall %} 

      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}