{% extends "layout.html" %}

{% block pageTitle %}
    Who is registering interest – {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
    {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
    {% include "includes/beta-banner.html" %}

    <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">2. About you</span>

        <form action="/reginterest-which-org-route" method="post" id="reginterest-which-org-form">


        <!-- According to whether it is an org or a rep show the "existing client" in the select -->
        {{ govukRadios({
          idPrefix: "reginterest-what-org",
          name: "reginterest-what-org",
          fieldset: {
            legend: {
              text: "Which organisation do you work for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "my-org",
              text: "I work for the organisation registering an interest in this case",
              checked: checked("reginterest-what-org", "my-org")
            },
            {
              value: "existing-org",
              text: "I am a representative, registering interest in this case on behalf of another organisation",
              checked: checked("reginterest-what-org", "existing-org")
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "What is a representative?",
          text: "representative is a person who works on behalf of the organisation registering interest, but isn't an employee of that organisation. This includes, for example, a person working for a law firm or a consulting business"
          }) }}
           

        <div class="govuk-button-group">
            {{ govukButton({
            text: "Continue"
          }) }}
        </div>

        </form>
        
    </div>


</div>


{% endblock %}


{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
