{% extends "layout.html" %}

{% block pageTitle %}
  Find Trade Remedies case – {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-case">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">1. Select case</span>
    <h1 class="govuk-heading-xl">Select a Trade Remedies case</h1>
    <h2 class="govuk-heading-m">{{data['case-ref']}} - {{data['case-name']}}</h2>
    
    <p>Registration due date: {{data['register-date']}}</p>
    <p>The due date has now passed. You can still register interest, but your opportunities to participate may be limited.</p>
    <p>We encourage anyone with an interest to register.</p>

   

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        href: "reginterest-tasks?regcase-task=complete&reginterest-task=Draft"
      }) }}
    
      <a class="govuk-link govuk-link--no-visited-state" href="reginterest-case">Back</a>

    </div>
   
  </div>

</div>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}