{% extends "layout.html" %}

{% block pageTitle %}
    Upload registration documentation – {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
    {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
    {% include "includes/beta-banner.html" %}

    <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-xl">3. Documentation</span>
		<h1 class="govuk-heading-xl">
				Registration documentation
		</h1>

		{{ govukWarningText({
			text: "Upload a confidential and non-confidential version of the registration documentation",
			iconFallbackText: "Warning"
		}) }}

		<div class="govuk-inset-text govuk-inset-text__reginterest">
      <p>
				{% if (data['pre-download'] == "yes" ) %}
					<a href="reginterest-upload-pre?pre-download=yes" class="govuk-link--no-visited-state"><img
						src="/public/images/doc.png" class="doc-icon-sm">
						registration-documentation-form.docx (344KB) </a><span>&#10003;</span>
					{% else %}
					<a href="reginterest-upload-pre?pre-download=yes" class="govuk-link--no-visited-state"><img
						src="/public/images/doc.png" class="doc-icon-sm">
						registration-documentation-form.docx (344KB) </a>
				{% endif %}
			</p>
    </div>       

		<p>Complete the following documentation that is relevant to your organisation and upload it for the TRA to review (max. file size 30MB).</p>

		<p>The confidential version is needed for the case investigation and the non-confidential version is published to our <a class="govuk-notification-banner__link" href="#">public case</a> page.</p>

		 
  </div>
</div>

 <details class="govuk-details" data-module="govuk-details">
		<summary class="govuk-details__summary">
		<span class="govuk-details__summary-text">
			How to create a non-confidential version of your registration documentation
		</span>
		</summary>
		<div class="govuk-details__text">
			<p>So that all interested parties get the opportunity to understand case evidence, one version needs
					to be non-confidential. Remove all sensitive data from your non-confidential files.</p>
			<p>Create one confidential file containing all details, and one file containing only information
					open to the public. For more help, see: <a
					href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#confidential-information-and-non-confidential-summaries"
					target="_blank" class="link govuk-link--no-visited-state">creating confidential and
					non-confidential documents (opens in a new window or tab)</a>
			</p>
		</div>
	</details>   

<div id="doc-1">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            
           
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Upload document 1
            </h2>
           
            <div class="row-colour">
                <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-heading-s govuk-!-text-align-centre govuk-!-margin-bottom-1">
                        Non-confidential file
                    </h3>
                    {% set id="1" %}
                    {% include 'includes/drag_drop_upload-nonconfi.html' %}
                </div>
                <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-heading-s govuk-!-text-align-centre govuk-!-margin-bottom-1">
                        Confidential file
                    </h3>
                    {% set id="2" %}
                    {% include 'includes/drag_drop_upload-confi.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add another document panel -->

<div id="doc-2" style="display:none">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Upload document 2
            </h2>
            <div class="row-colour">

                <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-heading-s govuk-!-text-align-centre">
                        Non-confidential file
                    </h3>
                    {% set id="3" %}
                    {% include 'includes/drag_drop_upload-nonconfi.html' %}
                </div>
                <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-heading-s govuk-!-text-align-centre">
                        Confidential file
                    </h3>
                    {% set id="4" %}
                    {% include 'includes/drag_drop_upload-confi.html' %}
                </div>
                <div class="remove-doc-panel">
                    <a href="#doc-2" alt="Delete panel" title="Delete panel" onclick="hideDoc2Panel()"
                       class="govuk-link govuk-link--no-visited-state">
                        Remove documents
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Add another document button -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <button class="govuk-button govuk-button--secondary govuk-!-margin-top-2" id="add-doc-button"
                data-module="govuk-button" onclick="showDoc2Panel()">
            Add another document
        </button>
        <form action="reginterest-tasks?upload-pre-task=complete" method="post" id="upload-form">

            <div class="govuk-button-group">
                {{ govukButton({
                text: "Continue"
              }) }}
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

  function showDoc2Panel () {
    var x = document.getElementById('doc-2')
    if (x.style.display === 'none') {
      x.style.display = 'block'
    }
  }

  function hideDoc2Panel () {
    var x = document.getElementById('doc-2')
    if (x.style.display === 'block') {
      x.style.display = 'none'
    }
  }

  function removeDoc () {
    var x = document.getElementById('complete-upload-1')
    var y = document.getElementById('waiting-upload-1')
    if (x.style.display === '') {
      x.style.display = 'none'
      y.style.display = 'block'
    }
  }

</script>


{% endblock %}

{% block footer %}
    {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "reginterest-upload-flow.html",
          text: "Uploading flow"
        }
      ]
    }
  }) }}
{% endblock %}

{% block pageScripts %}
    <script src="/public/javascripts/drag_and_drop.js"></script>
{% endblock %}
