{% extends "layout.html" %}

{% block pageTitle %}
    Upload registration documentation – {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
    {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
    {% include "includes/beta-banner.html" %}

    <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#search-no-js">JavaScript is not running in your browser</a>
            </li>
          </ul>
        </div>
      </div>
    <span class="govuk-caption-xl">3. Documentation</span>
    <div class="govuk-form-group govuk-form-group--error">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--xl" for="search-reg-org">
          Registration documentation
        </label>
      </h1>
      <p id="search-no-js" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>
          Uploading documents works best when JavaScript is turned on.
      </p>
      <div id="search-hint" class="govuk-hint">
        <p>Download the documentation and complete the relevant forms. Once complete, upload two versions: one
        confidential and one non-confidential (max. file size 30MB).</p>
        <p>To upload multiple documents, click 'Add another document'.</p>
      </div>
       <ul class="govuk-list">
        <li>
          {% if (data['pre-download'] == "yes" ) %}
            <a href="reginterest-upload-pre?pre-download=yes" class="govuk-link--no-visited-state"><img
                    src="/public/images/doc.png" class="doc-icon-sm">
                registration-documentation-form.docx (344KB) </a><span>&#10003;</span>
          {% else %}
            <a href="reginterest-upload-pre?pre-download=yes" class="govuk-link--no-visited-state"><img
                    src="/public/images/doc.png" class="doc-icon-sm">
                registration-documentation-form.docx (344KB) </a>
          {% endif %}
        </li>
      </ul>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How to create a non-confidential version of your registration documentation
        </span>
        </summary>
        <div class="govuk-details__text">
          <p>So that all interested parties get the opportunity to understand case evidence, one version needs
              to be non-confidential. Remove all sensitive data from your non-confidential files.</p>
          <p>Create one confidential file containing all details, and one file containing only information
              open to the public. For more help, see: <a
                href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#confidential-information-and-non-confidential-summaries"
                target="_blank" class="link govuk-link--no-visited-state">creating confidential and non-confidential documents (opens in a new window or tab)</a></p>
        </div>
      </details>
    </div>
   

   
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div id="doc-1">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="doc1">
         Upload document 1
      </h2>
     
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="row-colour">
            <div class="govuk-grid-column-one-half">
              <h3 class="govuk-heading-s govuk-!-text-align-centre">
                Non-confidential file
              </h3>
              <div class="upload-card">
                <div class="upload-container">
                  <label class="govuk-label" for="progress-complete">
                    Upload complete:<br>mydocumentation.docx
                  </label>
                  <p><a href="#" class="govuk-link--no-visited-state" id="case-selected-status">
                    Remove <span class="govuk-visually-hidden">file</span></a></p>
                </div>
              </div>
            </div>
            <div class="govuk-grid-column-one-half">
              <h3 class="govuk-heading-s govuk-!-text-align-centre">
                Confidential file
              </h3>    
              <div class="upload-card">
                <div class="upload-container clearfix input-js">
                  <form action="#doc1">
                    <input class="govuk-file-upload upload-button" id="input-js" name="input-js" type="file">
                    <br><br>
                    <input class="govuk-label upload-button" type="submit" value="Upload file">
                  </form>       
                </div>
              </div>        
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>

<!-- Add another document panel -->

<div id="doc-2" style="display:none">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Upload document 2
      </h2>
      <div class="row-colour">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s govuk-!-text-align-centre">
              Non-confidential file
          </h3>
          <div class="upload-card">
            <div class="upload-container clearfix input-js">
              <input class="govuk-file-upload upload-button" id="input-js" name="input-js" type="file">
              <br><br>
              <input class="govuk-label upload-button" type="button" value="Upload file">
            </div>
          </div>  
        </div>
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s govuk-!-text-align-centre">
              Confidential file
          </h3>
          <div class="upload-card">
            <div class="upload-container clearfix input-js">
              <input class="govuk-file-upload upload-button" id="input-js" name="input-js" type="file">
              <br><br>
              <input class="govuk-label upload-button" type="button" value="Upload file">
            </div>
          </div> 
        </div>
        <div class="remove-doc-panel">
          <a href="#doc-1" alt="Delete panel" title="Delete panel" onclick="hideDoc2Panel()"
              class="govuk-link govuk-link--no-visited-state">
              Remove documents
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add another document button -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <button class="govuk-button govuk-button--secondary govuk-!-margin-top-2" id="add-doc-button"
                data-module="govuk-button" onclick="showDoc2Panel()">
            Add another document
        </button>
        <form action="reginterest-tasks?upload-pre-task=complete" method="post" id="upload-form">

            <div class="govuk-button-group">
                {{ govukButton({
                text: "Continue"
              }) }}
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

  function showDoc2Panel () {
    window.location.href = '#doc-2';
    var x = document.getElementById('doc-2')
    if (x.style.display === 'none') {
      x.style.display = 'block'
    }
  }

  function hideDoc2Panel () {
    window.location.href = '#doc-1';
    var x = document.getElementById('doc-2')
    if (x.style.display === 'block') {
      x.style.display = 'none'
    }
  }

  function removeDoc () {
    var x = document.getElementById('complete-upload-1')
    var y = document.getElementById('waiting-upload-1')
    if (x.style.display === '') {
      x.style.display = 'none'
      y.style.display = 'block'
    }
  }

</script>


{% endblock %}

{% block footer %}
    {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "reginterest-upload-flow.html",
          text: "Uploading flow"
        }
      ]
    }
  }) }}
{% endblock %}

{% block pageScripts %}
    <script src="/public/javascripts/drag_and_drop.js"></script>
{% endblock %}
