{% extends "layout.html" %}

{% block pageTitle %}
  Select Trade Remedies case – {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1. Select case</span>
    <h1 class="govuk-heading-xl">Select a Trade Remedies case</h1>
    <p>Select the case you would like to participate in.</p>
  </div>

  <div class="govuk-grid-column-full">
    <form>
      <div class="govuk-form-group table-sort">
        <label class="govuk-label govuk-!-display-inline" for="sort-cases">
          Sort by
        </label>
        <select class="govuk-select" id="sort-cases" name="sort-cases">
          <option value="No." selected>Case No.</option>
          <option value="Case">Case</option>
          <option value="Type">Type</option>
          <option value="Status">Status</option>
          <option value="Started">Initiated</option>
          <option value="Status">Status</option>
          <option value="Reg due">Reg due</option>
        </select>
      </div>
      <div class="govuk-form-group table-sort">
        <label class="govuk-label govuk-visually-hidden" for="direction-cases">
          Direction
        </label>
        <select class="govuk-select" id="direction-cases" name="direction-cases">
          <option value="Decending" selected>Decending</option>
          <option value="Ascending ">Ascending </option>
        </select>
      </div>
      {{ govukButton({
        text: "Sort",
        classes: "govuk-button--secondary table-sort"
      }) }}
      
    </form>     

    <table class="govuk-table sortable mobile-table-border desktop-table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
        A table listing all of the open Trade Remedies cases
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" aria-sort="descending">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>No.
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Case
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Type
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Status
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Initiated
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Reg due
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header no-sort">
            <span class="govuk-visually-hidden">Action: </span>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">No. </span>{{data ['case-ref8']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Case: </span>{{data ['case-name8']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type8']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Status: </span>{{data ['status8']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated8']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Registration due: </span>{{data ['register-date8']}}
          </td>
          <td class="govuk-table__cell action">
            <a href="">
              Select <span class="govuk-visually-hidden--desktop">case {{data ['case-ref8']}}</span>
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">No. </span>{{data ['case-ref9']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Case: </span>{{data ['case-name9']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type9']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Status: </span>{{data ['status9']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated9']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Registration due: </span>{{data ['register-date9']}}
          </td>
          <td class="govuk-table__cell action">
            <a href="">Select <span class="govuk-visually-hidden--desktop">case {{data ['case-ref9']}}</span></a>
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">No. </span>{{data ['case-ref1']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Case: </span>{{data ['case-name1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type1']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Status: </span>{{data ['status1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Registration due: </span><span id="date"></span>
          </td>
          <td class="govuk-table__cell action">
            <a href="reginterest-tasks?regcase-task=complete&case-ref=AD2224&case-name=Steel plate from Russia&case-type=Anti-dumping">Select <span class="govuk-visually-hidden--desktop">case {{data ['case-ref1']}}</span></a>
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">No. </span>{{data ['case-ref10']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Case: </span>{{data ['case-name10']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type10']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Status: </span>{{data ['status10']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated10']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Registration due: </span>{{data ['register-date10']}}
          </td>
          <td class="govuk-table__cell action">
            <a href="">Select <span class="govuk-visually-hidden--desktop">case {{data ['case-ref10']}}</span></a>
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">No. </span>{{data ['case-ref3']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Case: </span>{{data ['case-name3']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type3']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Status: </span>{{data ['status3']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated3']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Registration due: </span>{{data ['register-date3']}}
          </td>
          <td class="govuk-table__cell action">
            <a href="reginterest-case-old?regcase-task=started&case-ref=AG0404&case-name=Farnets from Fabon&case-type=Anti-subsidy investigation&register-date=01 May 2022">Select <span class="govuk-visually-hidden--desktop">case {{data ['case-ref3']}}</span></a>
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">No. </span>{{data ['case-ref5']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Case: </span>{{data ['case-name5']}}
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type5']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Status: </span>{{data ['status5']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated5']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Registration due: </span>{{data ['register-date5']}}
          </td>
          <td class="govuk-table__cell action">
            <a href="reginterest-tasks?regcase-task=complete&case-ref=AD0004&case-name=Garnets from Gabon&case-type=Anti-subsidy investigation&register-date=15 Jan 2021">Select <span class="govuk-visually-hidden--desktop">case {{data ['case-ref5']}}</span></a>
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">No. </span>{{data ['case-ref4']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Case: </span>{{data ['case-name4']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type4']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Status: </span>{{data ['status4']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated4']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Registration due: </span>{{data ['register-date4']}}
          </td>
          <td class="govuk-table__cell action">
            <a href="">Select <span class="govuk-visually-hidden--desktop">case {{data ['case-ref4']}}</span></a>
          </td>
        </tr>

         <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">No. </span>{{data ['case-ref6']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Case: </span>{{data ['case-name6']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type6']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Status: </span>{{data ['status6']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated6']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Registration due: </span>{{data ['register-date6']}}
          </td>
          <td class="govuk-table__cell action">
            <a href="">Select <span class="govuk-visually-hidden--desktop">case {{data ['case-ref6']}}</span></a>
          </td>
        </tr>
      </tdbody>
    </table>
    
  </div>
</div>

<script>
  const date = new Date();
  const formattedDate = date.toLocaleDateString('en-GB', {
    day: '2-digit', month: 'short', year: 'numeric'
  }).replace(/ /g, ' ');
  document.getElementById("date").innerHTML = formattedDate;
</script>


{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
