{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Graham's Data Hub prototypes
      </h1>
      <ul class="govuk-list">
        <li>
          Export wins
          <ol>
            <li><a href="/graham/export-wins/homepage">Homepage</a></li>
            <li><a href="/graham/export-wins/companies">Companies</a></li>
            <li><a href="/graham/export-wins/company-detail">Company detail</a></li>
            <li><a href="/graham/export-wins/export-wins">Export wins</a></li>

            <li><a href="/graham/export-wins/officer-details">Add export win > Officer details</a></li>
            <li><a href="/graham/export-wins/credit-for-this-win">Add export win > Credit for this win</a></li>
            <li><a href="/graham/export-wins/customer-details">Add export win > Customer details</a></li>     
            <li><a href="/graham/export-wins/win-details">Add export win > Win details</a></li>   
            <li><a href="/graham/export-wins/support-provided">Add export win > Support provided</a></li>
            <li><a href="/graham/export-wins/check-before-sending">Add export win > Check before sending</a></li>    
            <li><a href="/graham/export-wins/sent-thank-you">Add export win > Sent - Thank you</a></li>

            <li><a href="/graham/export-wins/export-project">Export project</a></li>

            <li><a href="/graham/export-wins/review-win-accepted">Review accepted win</a>
            <li><a href="/graham/export-wins/review-win-rejected">Review rejected win</a>

            <li><a href="/graham/export-wins/resend-export-win">Resend export win</a>

          </ol>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
