accesscontrol==6.3 ; python_version >= "3.9" and python_version < "3.12"
acquisition==5.1 ; python_version >= "3.9" and python_version < "3.12"
asgiref==3.7.2 ; python_version >= "3.9" and python_version < "3.12"
authencoding==5.0 ; python_version >= "3.9" and python_version < "3.12"
beautifulsoup4==4.12.2 ; python_version >= "3.9" and python_version < "3.12"
black==23.10.1 ; python_version >= "3.9" and python_version < "3.12"
bs4==0.0.1 ; python_version >= "3.9" and python_version < "3.12"
btrees==5.1 ; python_version >= "3.9" and python_version < "3.12"
certifi==2023.11.17 ; python_version >= "3.9" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
chameleon==4.3.0 ; python_version >= "3.9" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.9" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.12" and platform_system == "Windows"
crossplane==0.5.8 ; python_version >= "3.9" and python_version < "3.12"
cryptography==41.0.6 ; python_version >= "3.9" and python_version < "3.12"
datetime==5.3 ; python_version >= "3.9" and python_version < "3.12"
django-environ==0.11.2 ; python_version >= "3.9" and python_version < "3.12"
django-extensions==3.2.3 ; python_version >= "3.9" and python_version < "3.12"
django-revproxy @ git+https://github.com/jazzband/django-revproxy@5908f2e968a44f54d57491777680e51b4cb662a8 ; python_version >= "3.9" and python_version < "3.12"
django==4.2.8 ; python_version >= "3.9" and python_version < "3.12"
documenttemplate==4.6 ; python_version >= "3.9" and python_version < "3.12"
extensionclass==5.1 ; python_version >= "3.9" and python_version < "3.12"
gevent==23.9.1 ; python_version >= "3.9" and python_version < "3.12"
greenlet==3.0.1 ; python_version >= "3.9" and python_version < "3.12"
gunicorn==21.2.0 ; python_version >= "3.9" and python_version < "3.12"
idna==3.4 ; python_version >= "3.9" and python_version < "3.12"
importlib-metadata==7.0.0 ; python_version >= "3.9" and python_version < "3.10"
markupsafe==2.1.3 ; python_version >= "3.9" and python_version < "3.12"
multimapping==5.0 ; python_version >= "3.9" and python_version < "3.12"
multipart==0.2.4 ; python_version >= "3.9" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.9" and python_version < "3.12"
pastedeploy==3.1.0 ; python_version >= "3.9" and python_version < "3.12"
pathspec==0.11.2 ; python_version >= "3.9" and python_version < "3.12"
persistence==4.1 ; python_version >= "3.9" and python_version < "3.12"
persistent==5.1 ; python_version >= "3.9" and python_version < "3.12"
platformdirs==3.11.0 ; python_version >= "3.9" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.9" and python_version < "3.12"
pyopenssl==23.3.0 ; python_version >= "3.9" and python_version < "3.12"
python-gettext==5.0 ; python_version >= "3.9" and python_version < "3.12"
pytz==2023.3.post1 ; python_version >= "3.9" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.9" and python_version < "3.12"
restrictedpython==7.0 ; python_version >= "3.9" and python_version < "3.12"
roman==4.1 ; python_version >= "3.9" and python_version < "3.12"
sentry-sdk==1.34.0 ; python_version >= "3.9" and python_version < "3.12"
setuptools==69.0.2 ; python_version >= "3.9" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
soupsieve==2.5 ; python_version >= "3.9" and python_version < "3.12"
sqlparse==0.4.4 ; python_version >= "3.9" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.12"
transaction==4.0 ; python_version >= "3.9" and python_version < "3.12"
typing-extensions==4.8.0 ; python_version >= "3.9" and python_version < "3.12"
tzdata==2023.3 ; python_version >= "3.9" and python_version < "3.12" and sys_platform == "win32"
urllib3==2.1.0 ; python_version >= "3.9" and python_version < "3.12"
waitress==2.1.2 ; python_version >= "3.9" and python_version < "3.12"
webob==1.8.7 ; python_version >= "3.9" and python_version < "3.12"
webtest==3.0.0 ; python_version >= "3.9" and python_version < "3.12"
werkzeug==3.0.1 ; python_version >= "3.9" and python_version < "3.12"
wsgiproxy2==0.5.1 ; python_version >= "3.9" and python_version < "3.12"
z3c-pt==4.0 ; python_version >= "3.9" and python_version < "3.12"
zc-lockfile==3.0.post1 ; python_version >= "3.9" and python_version < "3.12"
zconfig==4.0 ; python_version >= "3.9" and python_version < "3.12"
zexceptions==5.0 ; python_version >= "3.9" and python_version < "3.12"
zipp==3.17.0 ; python_version >= "3.9" and python_version < "3.10"
zodb==5.8.1 ; python_version >= "3.9" and python_version < "3.12"
zodbpickle==3.1 ; python_version >= "3.9" and python_version < "3.12"
zope-annotation==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-browser==3.0 ; python_version >= "3.9" and python_version < "3.12"
zope-browsermenu==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-browserpage==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-browserresource==5.1 ; python_version >= "3.9" and python_version < "3.12"
zope-cachedescriptors==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-component==6.0 ; python_version >= "3.9" and python_version < "3.12"
zope-component[zcml]==6.0 ; python_version >= "3.9" and python_version < "3.12"
zope-configuration==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-container==5.2 ; python_version >= "3.9" and python_version < "3.12"
zope-contentprovider==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-contenttype==5.1 ; python_version >= "3.9" and python_version < "3.12"
zope-datetime==5.0.0 ; python_version >= "3.9" and python_version < "3.12"
zope-deferredimport==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-deprecation==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-dottedname==6.0 ; python_version >= "3.9" and python_version < "3.12"
zope-event==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-exceptions==5.0.1 ; python_version >= "3.9" and python_version < "3.12"
zope-filerepresentation==6.0 ; python_version >= "3.9" and python_version < "3.12"
zope-globalrequest==2.0 ; python_version >= "3.9" and python_version < "3.12"
zope-hookable==6.0 ; python_version >= "3.9" and python_version < "3.12"
zope-i18n==5.1 ; python_version >= "3.9" and python_version < "3.12"
zope-i18n[zcml]==5.1 ; python_version >= "3.9" and python_version < "3.12"
zope-i18nmessageid==6.1.0 ; python_version >= "3.9" and python_version < "3.12"
zope-interface==6.1 ; python_version >= "3.9" and python_version < "3.12"
zope-lifecycleevent==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-location==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-pagetemplate==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-processlifetime==3.0 ; python_version >= "3.9" and python_version < "3.12"
zope-proxy==5.1 ; python_version >= "3.9" and python_version < "3.12"
zope-ptresource==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-publisher==7.0 ; python_version >= "3.9" and python_version < "3.12"
zope-schema==7.0.1 ; python_version >= "3.9" and python_version < "3.12"
zope-security==6.2 ; python_version >= "3.9" and python_version < "3.12"
zope-sequencesort==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-site==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-size==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-structuredtext==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-tal==5.0.1 ; python_version >= "3.9" and python_version < "3.12"
zope-tales==6.0 ; python_version >= "3.9" and python_version < "3.12"
zope-testbrowser==6.0 ; python_version >= "3.9" and python_version < "3.12"
zope-testing==5.0.1 ; python_version >= "3.9" and python_version < "3.12"
zope-traversing==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope-viewlet==5.0 ; python_version >= "3.9" and python_version < "3.12"
zope==5.9 ; python_version >= "3.9" and python_version < "3.12"
