{% extends "layout.html" %}

{% block pageTitle %}
There's a problem - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}

{% block header %}
 {% include "includes/header-public-signedout.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        There's a problem
      </h1>

      <p>This invite has been already been used or has expired. Please contact the admin for this organisation if there is a problem.</p>
      
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "../start"
        }) }}    
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}