{% extends "layout.html" %}

{% block pageTitle %}
 There's a problem - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        There's a problem
      </h1>

      <p>You cannot invite this user due to a technical problem.</p>
      
      <p>{{data['invite-user-name'] or data['party-user11'] }} - {{data['invite-user-email'] or data['party-email11'] }}</p>
      <p>Please contact the TRA at <a href="mailto:contact@traderemedies.gov.uk?subject=Problem with inviting a user">contact@traderemedies.gov.uk</a> for assistance.</p>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Go to Manage users",
          href: "../manage-org-user"
        }) }}    
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}