{% extends "layout.html" %}

{% block pageTitle %}
  Choose case - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}


{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">   
    

      <form action="invite-user-check" method="post" id="invite-case-form">   

        {% set Case1HTML %}
          {{ data['case-ref1']}} - {{ data['case-name1']}}
        {% endset %}

        {% set Case2HTML %}
          {{ data['case-ref2'] }} - {{ data['case-name2'] }}
        {% endset %}

        {% set Case2HintHTML %}
          {{data['party2']}}
        {% endset %}

        {% set Case3HTML %}
        {{ data['case-ref2'] }} - {{ data['case-name2'] }}
        {% endset %}

        {% set Case3HintHTML %}
          {{data['party4']}}
        {% endset %}

        {{ govukCheckboxes({
          idPrefix: "invite-case",
          name: "invite-case",
          fieldset: {
            legend: {
              text: "Which case?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select the cases they can take part in."
          },
          items: [
            {
              value: Case1HTML,
              html: Case1HTML,
              checked: checked("invite-case", "case1")
            },
            {
              value: Case2HTML,
              html: Case2HTML,
              hint: {
                html: Case2HintHTML
              },
              checked: checked("invite-case", "case2")
            },
            {
              value: Case3HTML,
              html: Case3HTML,
              hint: {
                html: Case3HintHTML
              },
              checked: checked("invite-case", "case3")
            },
            {
              divider: "or"
            },
            {
              value: "None",
              text: "None, I will assign a case later",
              checked: checked("invite-case", "none"),
              behaviour: "exclusive"
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Why can't I see other active cases?",
          html: '<p>You can only select cases that you are currently participating in.</p>
          <p> You can <a href="" class="govuk-link">register interest</a> in a case and if accepted you can invite others.</p>'
        }) }}
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
           
        </div>

        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}