{% extends "layout.html" %}

{% block pageTitle %}
Existing user - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Existing user
      </h1>

      <p>This email address is already registered to your organisation:</p>
      
      <p>{{data['invite-user-name'] or data['party-user11'] }}: {{data['invite-user-email'] or data['party-email11'] }}</p>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Cancel invite",
          href: "manage-org"
        }) }}    
       <a class="govuk-link govuk-link--no-visited-state"  href="invite-user-details">Back</a>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}