{% extends "layout.html" %}

{% block pageTitle %}
Cancel invite - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}
 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Cancel invite
      </h1>

      {% if data['cancel-invite'] =="org" %}
        <p>{{data['invite-user-name'] or data['party-user11'] }} - {{data['invite-user-email'] or data['party-email11'] }}</p>
        <form action="invite-user-cancel-confirm?invite-org-task=cancel#manage-team" method="post" id="cancel-invite-form">
        {% else %}
        {% if (data['invite-rep-what-org'] == "new-org") %}
          <p>{{data['invite-rep-name'] or data['rep-user2'] }} - {{data['invite-rep-email'] or data['rep-email2'] }}</p>
          {% else %}
          <p>{{data['invite-rep-name'] or data['rep-user1'] }} - {{data['invite-rep-email'] or data['rep-email1'] }}</p>
        {% endif %}
          <form action="invite-user-cancel-confirm?invite-rep-task=cancel" method="post" id="cancel-invite-form">
      {% endif %}

      <p>Are you sure you want to cancel this invite?</p>



      <input type="hidden" id="show-invite" name="show-invite" value="no">
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Cancel invite"
        }) }}    
        
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}