{% extends "layout.html" %}

{% block pageTitle %}
  Invite user - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}


{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">   
    

      <form action="/invite-type-no-case-route" method="post" id="invite-type-form">   
        
        {{ govukRadios({
          idPrefix: "reg-type",
          name: "reg-type",
          fieldset: {
            legend: {
              text: "Who are you inviting?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
          {
            value: "invite-own-org",
            text: "Someone who works directly for your organisation",
            checked: checked("reg-type", "invite-own-org")

          },
          {
            value: "invite-rep",
            text: "A representative, for example a lawyer ",
            checked: checked("reg-type", "invite-rep")
            }
          ]
        }) }}
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
           
        </div>

        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}