<h2 class="summary-group__heading">Barrier headlines</h2>
<section class="summary-group">
    <div class="summary-group__list">
        <div class="summary-group__list-item-50">
            <dt class="summary-group__list__key">Date reported</dt>
            <dd class="summary-group__list__value">20 January 2023</dd>
        </div>
        <div class="summary-group__list-item-50">
            <dt class="summary-group__list__key">Date modified</dt>
            <dd class="summary-group__list__value">20 January 2023</dd>
        </div>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Barrier description</dt>
        <dd class="summary-group__list__value">Increase leg deal finally less above local daughter. Enough car cup news eye argue decision. While human prepare sometimes. Article walk over too sminky whatever this. Order type necessary with arrive specific thus method. Pinkey tend learn my friend fight just. <a class="summary-group__list__value__edit govuk-link--no-visited-state" href="#">Edit</a></dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Progress update</dt>
        <dd class="summary-group__list__value">
            <a class="govuk-button button--primary barrier-progress-update__cta govuk-link--no-visited-state" href="#">Add progress update</a> 
        </dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Estimated resolution date</dt>
        <dd class="summary-group__list__value"><a href="#" class="summary-group__list__value__add govuk-link--no-visited-state">Add estimate resolution date if applicable</a></dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Barrier start date</dt>
        <dd class="summary-group__list__value"><a href="#" class="summary-group__list__value__add govuk-link--no-visited-state">Add barrier start date</a></dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Companies known to be affected</dt>
        <dd class="summary-group__list__value">                
            <ul class="summary-group__list__value__list">
                <li class="summary-group__list__value__list__item">Test company.</li>
            </ul> 
            <a class="summary-group__list__value__edit govuk-link--no-visited-state" href="#" aria-label="edit companies known to be affected">Edit</a>
        </dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">HS commodity codes</dt>
        <dd class="summary-group__list__value"><a href="#" class="summary-group__list__value__add govuk-link--no-visited-state">Add HS commodity codes</a></dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Trade direction</dt>
        <dd class="summary-group__list__value"><a href="#" class="summary-group__list__value__add govuk-link--no-visited-state">Add the trade direction</a></dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Sectors affected:</dt>
        <span>Main sector affected:</span>
        <dd class="summary-group__list__value"><a href="#" class="summary-group__list__value__add govuk-link--no-visited-state">Add main sectors</a></dd>
        <span>Other sectors affected:</span>
        <dd class="summary-group__list__value">                
            <ul class="summary-group__list__value__list">
                <li class="summary-group__list__value__list__item">Aerospace.</li>
            </ul> 
            <a class="summary-group__list__value__edit govuk-link--no-visited-state" href="#" aria-label="edit sectors">Edit</a>
        </dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Government organisations related to the barrier</dt>
        <dd class="summary-group__list__value">                
            <ul class="summary-group__list__value__list">
                <li class="summary-group__list__value__list__item">The Office for National Statistics</li>
            </ul> 
            <a class="summary-group__list__value__edit govuk-link--no-visited-state" href="#" aria-label="edit departments related to the barrier)">Edit</a>
        </dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Barrier categories</dt>
        <dd class="summary-group__list__value">                
            <ul class="summary-group__list__value__list">
                <li class="summary-group__list__value__list__item">Restrictions on business names</li>
            </ul> 
            <a class="summary-group__list__value__edit govuk-link--no-visited-state" href="#" aria-label="edit replace with what is being edited description. e.g. (companies known to be affected)">Edit</a>
        </dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Export type</dt>
        <dd class="summary-group__list__value"><a href="#" class="summary-group__list__value__add govuk-link--no-visited-state">Add barrier export type</a></dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Goods, services or investments affected</dt>
        <dd class="summary-group__list__value">                
            <ul class="summary-group__list__value__list">
                <li class="summary-group__list__value__list__item">None</li>
            </ul> 
            <a class="summary-group__list__value__edit govuk-link--no-visited-state" href="#" aria-label="edit goods services etc.)">Edit</a>
        </dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Has this barrier been notified to the WTO?</dt>
        <dd class="summary-group__list__value"><a href="#" class="summary-group__list__value__add govuk-link--no-visited-state">Add information</a></dd>
    </div>
    <div class="summary-group__list">
        <dt class="summary-group__list__key">Barrier reported by</dt>
        <dd class="summary-group__list__value">Terry Tibbs</dd>
    </div>
</section>