//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

/* THIS IS WHERE THE CUSTOM CSS STARTS - DO NOT REMOVE THIS COMMENT */

@import "patterns/blue-panel";
@import "patterns/nav";
@import "patterns/password";
@import "patterns/table1";
@import "patterns/uploads";
@import "patterns/address-card";

.clearfix {
  overflow: auto;
}

/* CHANGING THE WIDTH and HEADER COLOUR BETWEEN PUBLIC AND CASEWORKER */
.caseworker-red .govuk-header__container {
    border-bottom: 10px solid #df3034;
  }

.caseworker-width .govuk-width-container {
 max-width: 1020px;
}

/* Action links that are right alignhed to a header...both sites*/
.right-aligned-link {
  float: right;
  padding-top: 0px;
}

/* Form fields that are horizontally aligned */

.govuk-button.left-aligned {
  margin-right: 10px;
}


/* createaccount / reginterest - autocomplete on new company */

.autocomplete__wrapper * {
    @include govuk-typography-common();
  }


/* Reginterest - selecting existing company */
#hidden_div {
  display: none;
}


  /* Task list when being used for other things */
@media (min-width: 40.0625em) {
  .uploads.app-task-list__items {
      padding-left: 0px;
  }
}

.govuk-input--readonly {
  border:1px solid govuk-colour("light-grey");
  background-color:  govuk-colour("light-grey")	;
}

/* Doc icons used on Public*/
.doc-icon {
  margin: 0px 0px -5px 0px;
  width: 42px;
}

.doc-icon-sm {
  margin: 0px 0px -5px 0px;
  width: 32px;
}



  
/* Caseworker */
/* Caseworker */
/* Caseworker */
/* Caseworker */
/* Caseworker */
/* Caseworker */
/* Caseworker */
/* Caseworker */


/* Reg interest inset-text */

.govuk-inset-text__reginterest {
  margin-top: 0px;
}

//Visibly hiding certain fields on desktop only
.govuk-visually-hidden--desktop {
  @include govuk-media-query($from: tablet) {
  @include govuk-visually-hidden();
}
}


/* H1 for case pages*/
.govuk-heading-xl__case-header {
  margin-bottom: 0px;
}

.govuk-details_orgs {
  padding: 10px 10px 0px 10px;
  background-color: govuk-colour("light-grey");
  margin-bottom: 10px;
}

.govuk-details_orgs--summary.govuk-details__summary {
  display: block;
  margin-bottom: 10px;
  padding: 5px 10px 5px 30px;
  cursor: pointer;
  font-size: 1.1875rem;
}

.govuk-details_orgs .govuk-details__summary:before {
  margin-left: 10px
}

.govuk-details_orgs .govuk-details__text {
  padding: 10px 10px 10px 10px;
  border-left: 2px solid govuk-colour("light-grey");
  border-right: 2px solid govuk-colour("light-grey");
  margin-bottom: 10px;
}


/* Merge pagination */
.left-aligned {
  float: left;
}

.right-aligned {
  float: right;
}

.govuk-pagination.right-aligned {
  margin-bottom: 10px;
}

.govuk-heading-s.merge-header {
  margin-top: 10px;
  padding-right: 10px;
}

.govuk-pagination__item, .govuk-pagination__next, .govuk-pagination__prev {
  min-width: 30px;
  min-height: 30px;
  padding: 10px 8px;
}

.govuk-pagination__next, .govuk-pagination__prev{
   font-weight: 400;
}

/*


/* FEEDBACK RATING  https://www.cssscript.com/star-rating-radio/ */

@at-root.star-rating3__stars {
  position: relative;
  height: 5rem;
  width: 23.5rem;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 70 70'%3e%3cpath fill='white' stroke='grey' stroke-width='2' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
  background-size: 5rem 5rem;
  margin: 10px;
}

/* For when the rating is shown on a task completion page*/
.star-rating3__stars.task {
  margin: 0 auto;
}

.govuk-button.task {
  margin: 0 auto;
}

.star-rating3__label {
  position: absolute;
  height: 100%;
  background-size: 5rem 5rem;
}

.star-rating3__label .text {
  display: none;
  background: white;
}

.task-issue-hide {
  display: none;
}

.task-issue-hide2 {
  display: block;
}

.star-rating3__input:checked + .star-rating3__label .text, .star-rating3__label:hover .text {
  display: block;
  position: relative;
  width: 16.7em;
  text-align: center;
  top: 60px;
  padding: 0 1.5em 0 1.5em;
}

.star-rating3__input {
  margin: 0;
  position: absolute;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.star-rating3__stars .star-rating3__label:nth-of-type(1) {
  z-index: 5;
  width: 20%;
}
.star-rating3__stars .star-rating3__label:nth-of-type(2) {
  z-index: 4;
  width: 40%;
}
.star-rating3__stars .star-rating3__label:nth-of-type(3) {
  z-index: 3;
  width: 60%;
}
.star-rating3__stars .star-rating3__label:nth-of-type(4) {
  z-index: 2;
  width: 80%;
}
.star-rating3__stars .star-rating3__label:nth-of-type(5) {
  z-index: 1;
  width: 100%;
}

.star-rating3__input:checked + .star-rating3__label,
.star-rating3__input:focus + .star-rating3__label,
.star-rating3__label:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 70 70'%3e%3cpath fill='%23ffdd00' stroke='grey' stroke-width='2' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
  background-size: 5rem 5rem;
}

.star-rating3__label:hover ~ .star-rating3__label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 70 70'%3e%3cpath fill='white' stroke='grey' stroke-width='2' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
}

.star-rating3__input:focus ~ .star-rating3__focus {
  position: absolute;
  top: -.6em;
  right: -.4em;
  bottom: -.6em;
  left: -.4em;
  padding-bottom: 0px;
  box-shadow: inset 0 0 0 2px;
  outline: 3px solid govuk-colour("yellow");
}

/*Feedback button centered on end of task page*/
.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.govuk-fieldset .align {
  text-align: center;
  padding-bottom: 10px;
}

/* Forcing things like web addresses and emails to break over a line*/
.text-overflow {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;
}