{% extends "layout.html" %}

{% block pageTitle %}
Verify your email address – {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="../dashboard">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Verify your email address   
      </h1>
      {% if (data['rerequestEmail'] == "yes") %}

      {% set requestSent %}
          We have sent a new account activation email link to {{data['createaccount-email']}}.
      {% endset %}

      {{ govukInsetText({
        text: requestSent
      }) }}

      {% endif %}

      <p>Check the inbox of the email address you used to create your account. You will have received a verification email with a link.</p>
      <p>Click the link in the email to verify your email address.</p>
      <p>The link is valid for 24 hours. If it expires, you can request a new verification email.  </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I have not received an email
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Check that you entered your email address correctly. If it is incorrect, create an account again with the correct email address.</p>
          <p>Check your spam or junk mail folders.</p>
          <p>If you still have not received your verification email, <a href="account-activate-account?rerequestEmail=yes">request a new email</a>.</p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            The link in my email has expired
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="account-activate-account?rerequestEmail=yes">Request a new verification email</a>.</p>
        </div>
      </details>


      <form action="../dashboard" method="post">  

      {{ govukButton({
        text: "Back to dashboard"
      }) }}
    </form>


      
        
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "../email/email-createaccount-activate-account",
          text: "For user testing: Go to email"
        }
      ]
    }
  }) }}
{% endblock %}