{% extends "layout.html" %}

{% block pageTitle %}
Password changed - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html"%}

  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-panel__title">
        You have a new password
      </h1>

      <p>You have successfully reset your password.</p>

      {{ govukButton({
        text: "Manage account",
        href: "account"
      }) }}    

    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}