<div class="summary-group__list">
    <dt class="summary-group__list__key">Item 1 heading</dt>
    <dd class="summary-group__list__value">                
        <ul class="summary-group__list__value__list">
            <li class="summary-group__list__value__list__item">Bulleted data item.</li>
        </ul> 
        <a class="summary-group__list__value__edit govuk-link--no-visited-state" href="#" aria-label="edit replace with what is being edited description. e.g. (companies known to be affected)">Edit</a>
    </dd>
</div>