{% macro dataSetFinderHeader(params) %}
<header class="govuk-header {{ params.classes if params.classes }}" role="banner" data-module="govuk-header"
        {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="govuk-header__container {{ params.containerClasses | default('govuk-width-container') }}">
    {% if params.serviceName or params.navigation  %}
    {% if params.serviceName %}
    <a href="{{ params.serviceUrl }}" class="govuk-header__link govuk-header__link--service-name">
      {{ params.serviceName }}
    </a>
    {% endif %}
    <div class="app-header--suggestion">
        <p class="govuk-body">
          <a class="govuk-header__link" href="https://data.trade.gov.uk/" target="_blank">Switch to Data Workspace</a>
        </p>
      </div>
    {% if params.navigation %}
    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation {{ params.navigationClasses if params.navigationClasses }}" aria-label="Top Level Navigation">
        {% for item in params.navigation %}
          {% if item.href and item.text %}
            <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if item.active }}">
              <a class="govuk-header__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                {{ item.text }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
    {% endif %}
  </div>
</header>
{% endmacro %}
