{% extends "layout.html" %}

{% block pageTitle %}
  Confirm – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <!--REg interest-->
  {% if data['verify-type'] == "reg-interest" %}
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['case-ref2']}}: {{data['case-name2']}}</span>   
      <h1 class="govuk-heading-xl">
        Registration of interest
      </h1>
      {% if data[''] =="" %}
      {% endif %}

      <p>This registration of interest was <strong>rejected</strong> on 13 March 2020 by Edwina Worker</p>
      <h2 class="govuk-heading-m">Interested party</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation
          </dt>
          <dd class="govuk-summary-list__value">       
              {{data ['party5']}}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Submitted by
          </dt>
          <dd class="govuk-summary-list__value">
              {{data ['party-user5']}}<br>
              {{data['party-email5']}}
          </dd>
        </div>
        {% if data['third-party'] == "yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              LOA signatory
            </dt>
            <dd class="govuk-summary-list__value">
              {{data ['party-user5']}}<br>
              {{data['party-email5']}}               
            </dd>
          </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Org status
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['reginterest-valid-primary'] or "Unverified"}}             
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Internal case notes
          </dt>
          <dd class="govuk-summary-list__value">
            Unable to verfiy the organisation. Nothing comes up during searches and no responses to email contact.              
          </dd>
        </div>
      </dl>

      {% if data['third-party'] == "yes" %}
        <h2 class="govuk-heading-m">Representative </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation 
            </dt>
            <dd class="govuk-summary-list__value">      
                {{data['representative1'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case contact 
            </dt>
            <dd class="govuk-summary-list__value">      
                {{data ['rep-user1']}}<br>
                {{data['rep-user1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['reginterest-valid-representative'] or "Verified"}}             
            </dd>
          </div>
        </dl>

      {% endif %}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Amend registration of interest",
          href: "../reg-interest/reginterest-decline"
        }) }} 
      </div>
    </div>
    {% else %}

    <!--Rep invite-->
    {% if data['verify-type'] == "rep-invite" %}
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">2. Confirm </span>   
        <h1 class="govuk-heading-xl">
          Approve representative invite
        </h1>
        <h2 class="govuk-heading-m">Interested party </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">       
              {{data ['party1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Submitted by
            </dt>
            <dd class="govuk-summary-list__value">
              {{data ['party-user1']}}<br>
              {{data ['party-email1']}}      
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              LOA signatory
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['reginterest-auth-choose-contact'] == "Jane Winder" ) %}
                Jane Winder <br>
                j.winder@steeluk.com
                {% else %}        
                {{data['reginterest-auth-name'] }} <br>
                {{data['reginterest-auth-email'] or "j.winder@steeluk.com"}} 
              {% endif %}     
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Representative </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation 
            </dt>
            <dd class="govuk-summary-list__value">      
                {{data['representative1'] }} 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case contact 
            </dt>
            <dd class="govuk-summary-list__value">      
                {{data ['rep-user1']}}<br>
                {{data ['rep-email1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['reginterest-valid-representative'] or "Verified"}}             
            </dd>
          </div>
        </dl>
        {{ govukButton({
          text: "Amend invite",
          href: "reginterest-complete?accept-on-case-result=reject"
        }) }} 
        </div>
      </div>
    {% endif %} 
  {% endif %} 

</div>

{% endblock %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}


