{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Cases: Steel plate from Russia – {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav party-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
{% set bodyClasses = 'caseworker' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-heading-xl__case-header">
      {{data['case-ref1']}}: {{data['case-name1']}}
      <span class="govuk-heading-s govuk-!-font-weight-regular"><strong>Status:</strong> {{data['status1']}}</span>
    </h1>
    {% include "includes/caseworker-nav-case.html" %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l clearfix">
      Parties 
      <p class="right-aligned-link">
        <a href="invite-party" class="govuk-link--no-visited-state">Invite party to case</a>
      </p> 
    </h2>
    <form>
       <div class="govuk-form-group table-filter">
        <label class="govuk-label govuk-!-display-inline govuk-visually-hidden--desktop" for="filter-roles">
          Filter parties by
        </label>
        <select class="govuk-select" id="filter-roles" name="filter-roles">
          <option value="All parties" selected>All parties</option>
          <option value="Unverified">Unverified parties</option>
          <option value="Applicant">Applicant</option>
          <option value="Importer">Importer</option>
          <option value="Unverified">Can't be verified</option>
          <option value="Invited">Invited to case</option>
        </select>
      </div>

      {{ govukButton({
        text: "Show",
        classes: "govuk-button--secondary"
      }) }}
    </form>
  
    <h3 class="govuk-heading-m">Unverified parties</h3>
    <div class="govuk-tabs">
      <table class="govuk-table mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing all of the unverified parties
        </caption>
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
                Organisation
            </th>
            <th class="govuk-table__header no-sort ">
                <span class="govuk-visually-hidden--desktop">Action:</span>
            </th>
          </tr>
        </thead>
        <tbody class="case-user">
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow ">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="case-party-bluesteel" class="govuk-link--no-visited-state">{{data['representative1']}}
              </a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-body right-aligned-link"><span class="govuk-visually-hidden--desktop">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?verify-type=reg-interest&third-party=yes&notify-contact=no" class="govuk-link govuk-link--no-visited-state govuk-tag govuk-tag--red ">Verify party<span class="govuk-visually-hidden">{{data['representative1']}}</span></a></span>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['party5']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-body right-aligned-link"><span class="govuk-visually-hidden--desktop">Action: </span><a href="" class="govuk-link govuk-link--no-visited-state govuk-tag govuk-tag--red">Verify party<span class="govuk-visually-hidden">{{data['party5']}}</span></a></span>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="case-party-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-body right-aligned-link"><span class="govuk-visually-hidden--desktop">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?verify-type=reg-interest&third-party=yes&notify-contact=no" class="govuk-link govuk-link--no-visited-state govuk-tag govuk-tag--red">Verify party<span class="govuk-visually-hidden">{{data['party1']}}</span></a></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="govuk-heading-m">Applicant</h3>
    {% set applicantSampledHTML %}
    <h4 class="govuk-heading-s">Sampled</h4>
    <table class="govuk-table mobile-table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
        A table listing all of the sampled applicants
      </caption>
      <thead class="govuk-table__head govuk-visually-hidden">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" aria-sort="ascending">
              Organisation
          </th>
          <th class="govuk-table__header no-sort ">
              <span class="govuk-visually-hidden--desktop">Action:</span>
          </th>
        </tr>
      </thead>
      <tbody class="case-user">
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow ">
            <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['applicant1']}}
            </a>
          </td>
          <td class="govuk-table__cell text-overflow">
          </td>
        </tr>
      </tbody>
    </table>
  
    {% endset %}

    {% set applicantNonSampledHTML %}
      <h4 class="govuk-heading-s">Not sampled</h4>
      <p>Applicants that will not be sampled: 0</p>
    {% endset %}

    {{ govukTabs ({
      items: [
      { 
        label: "Sampled (1)",
        id: "applicant-sampled",
        panel: {
          html: applicantSampledHTML
        }
      },
      { 
        label: "Not sampled (0)",
        id: "applicant-nonsampled",
        panel: {
          html: applicantNonSampledHTML
        }
      }
      ]
    }) }}

    <h3 class="govuk-heading-m">Importer</h3>
    {% set importerSampledHTML %}
    <h4 class="govuk-heading-s">Sampled</h4>
    <table class="govuk-table mobile-table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
        A table listing all of the sampled Importers
      </caption>
      <thead class="govuk-table__head govuk-visually-hidden">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" aria-sort="ascending">
              Organisation
          </th>
          <th class="govuk-table__header no-sort ">
              <span class="govuk-visually-hidden--desktop">Action:</span>
          </th>
        </tr>
      </thead>
      <tbody class="case-user">
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow ">
            <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['party4']}}
            </a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-body right-aligned-link"><span class="govuk-visually-hidden--desktop">Action: </span><a href="" class="govuk-link--no-visited-state">Remove from sample list</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="govuk-link govuk-link--no-visited-state govuk-tag govuk-tag--yellow">Review submission<span class="govuk-visually-hidden">{{data['party4']}}</span></a></span>
          </td>
        </tr>
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow ">
            <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['party3']}}
            </a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-body right-aligned-link"><span class="govuk-visually-hidden--desktop">Action: </span><a href="" class="govuk-link--no-visited-state">Remove from sample list</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="govuk-link govuk-link--no-visited-state govuk-tag govuk-tag--yellow">Review submission<span class="govuk-visually-hidden">{{data['party3']}}</span></a></span>
          </td>
        </tr>
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow ">
            <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['applicant4']}}
            </a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-body right-aligned-link"><span class="govuk-visually-hidden--desktop">Action: </span><a href="" class="govuk-link--no-visited-state">Remove from sample list</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="govuk-link govuk-link--no-visited-state govuk-tag govuk-tag--purple">Publish submission<span class="govuk-visually-hidden">{{data['applicant4']}}</span></a></span>
          </td>
        </tr>
      </tbody>
    </table>
    
    {% endset %}

    {% set importerNonSampledHTML %}
      <h4 class="govuk-heading-s">Not sampled</h4>
      <p>Importers that will not be sampled: 0</p>
    {% endset %}

    {{ govukTabs ({
      items: [
      { 
        label: "Sampled (3)",
        id: "importer-sampled",
        panel: {
          html: importerSampledHTML
        }
      },
      { 
        label: "Not sampled (0)",
        id: "importer-nonsampled",
        panel: {
          html: importerNonSampledHTML
        }
      }
      ]
    }) }}

    <h3 class="govuk-heading-m">Can't be verified</h3>
    <table class="govuk-table mobile-table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
        A table listing all of the sampled applicants
      </caption>
      <thead class="govuk-table__head govuk-visually-hidden">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" aria-sort="ascending">
              Organisation
          </th>
          <th class="govuk-table__header no-sort ">
              <span class="govuk-visually-hidden--desktop">Action:</span>
          </th>
        </tr>
      </thead>
      <tbody class="case-user">
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow ">
            <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="case-party-awesomesteel" class="govuk-link--no-visited-state">{{data['party111']}}
            </a>
          </td>
          <td class="govuk-table__cell text-overflow">
          </td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-m">Invited to case</h3>
    <div class="govuk-tabs">
      <details class="govuk-details_orgs">
        <summary class="govuk-details__summary govuk-body">
          <span class="govuk-details__summary-text">
          Steelers Inc
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-inset-text govuk-inset-text__reginterest">
            <p>Invite was sent on <strong>21 May 2022</strong> by <strong>{{data['caseworkername']}}</strong></p>
          </div>
          <h4 class="govuk-heading-s">Case contacts</h4>
          <table class="govuk-table sortable mobile-table-border " id="table-header">
            <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
              A table listing all of the organisations that are invited to join this case
            </caption>
            <tbody class="case-user">
              <tr class="govuk-table__row no-border">
                <td class="govuk-table__cell text-overflow">
                  <span class="govuk-visually-hidden--desktop">Name: </span><a href="" class="govuk-link--no-visited-state">Simone Cheshire</a>
                </td>
                <td class="govuk-table__cell text-overflow">
                  <span class="govuk-visually-hidden--desktop">Email: </span>simone.cheshire@steelers.inc
                </td>
                <td class="govuk-table__cell text-overflow">
                  <span class="govuk-visually-hidden--desktop">Action: </span><a href="#" class="govuk-link--no-visited-state">Cancel invite <span class="govuk-visually-hidden">Steelers Inc</span></a>
                </td>
              </tr>
            </tbody>
          </table>    
        </div>
      </details>
    </div>    
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
