{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Cases: Steel plate from Russia – {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width cases-nav case-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-heading-xl__case-header">
      {{data['case-ref1']}}: {{data['case-name1']}}
      <span class="govuk-heading-s govuk-!-font-weight-regular"><strong>Status:</strong> {{data['status1']}}</span>
    </h1>
    {% include "includes/caseworker-nav-case.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Overview</h2>
      
    {% set requestsHTML %}
      <h3 class="govuk-heading-m">Requests</h3>  
      <p>There are <strong>3</strong> requests waiting to be approved.</p>
      <form>
        <div class="govuk-form-group table-sort">
          <label class="govuk-label govuk-!-display-inline" for="sort-party">
            Sort parties by
          </label>
          <select class="govuk-select" id="sort-party" name="sort-party">
            <option value="Party" selected>Interested party</option>              
            <option value="Request">Request</option>
            <option value="Submitted by">Submitted by</option>
            <option value="Submitted">Submitted</option>
          </select>
        </div>
        <div class="govuk-form-group table-sort">
          <label class="govuk-label govuk-visually-hidden" for="direction-party">
            Direction
          </label>
          <select class="govuk-select" id="direction-party" name="direction-party">
            <option value="Decending" selected>Decending</option>
            <option value="Ascending ">Ascending </option>
          </select>
        </div>

        {{ govukButton({
          text: "Sort",
          classes: "govuk-button--secondary table-sort"
        }) }}
      </form>  
  
      <table class="govuk-table sortable mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing all of the parties waiting to be verified
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Interested party
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Request
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted by
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header no-sort">
                <span class="govuk-visually-hidden--desktop">Action:</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">             
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="case-party-steeel" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Request: </span>{{data['party-submission1']}}
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="#" class="govuk-link--no-visited-state">{{data['dup-user1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>22 May 2022
            </td>  
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?verify-type=reg-interest&third-party=no&notify-contact=yes" class="govuk-link--no-visited-state">Review <span class="govuk-visually-hidden">{{data['dup-party1']}}</span></a>
            </td>             
          </tr>

          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="case-party-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Request: </span>{{data['party-submission2']}}
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="#" class="govuk-link--no-visited-state">{{data['party-user1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>{{data['submission-date2']}}
            </td>  
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?who-signin=invest&verify-type=rep-invite&third-party=yes&loa-sufficient=yes" class="govuk-link--no-visited-state">Review <span class="govuk-visually-hidden">submission from {{data['party1']}}</span></a>
            </td>             
          </tr>
  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="case-party-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Request: </span>{{data['party-submission1']}}
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>28 May 2022
            </td>   
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?verify-type=reg-interest&third-party=yes&notify-contact=yes" class="govuk-link--no-visited-state">Review <span class="govuk-visually-hidden">{{data['party1']}}
              </span></a>
            </td>        
          </tr> 
        </body>
      </table>   
    {% endset %}
  
    {% set submissionsHTML %}
      <h3 class="govuk-heading-m">Submissions to review</h3> 
      <p>There are <strong>4</strong> submission waiting to be approved.</p> 
      <form>
        <div class="govuk-form-group table-sort">
          <label class="govuk-label govuk-!-display-inline" for="sort-submission">
            Sort sumbissions by
          </label>
          <select class="govuk-select" id="sort-submission" name="sort-submission">
            <option value="Interested party" selected>Interested party</option>
            <option value="Submission">Submission</option>
            <option value="Submitted by">Submitted by</option>
            <option value="Submitted">Submitted</option>
          </select>
        </div>
        <div class="govuk-form-group table-sort">
          <label class="govuk-label govuk-visually-hidden" for="direction-submission">
            Direction
          </label>
          <select class="govuk-select" id="direction-submission" name="direction-submission">
            <option value="Decending" selected>Decending</option>
            <option value="Ascending ">Ascending </option>
          </select>
        </div>

        {{ govukButton({
          text: "Sort",
          classes: "govuk-button--secondary table-sort"
        }) }}
      </form>  
  
      <table class="govuk-table sortable mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing all of the submissions waiting to be reviewed
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Interested party
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submission
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted by
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header no-sort">
                <span class="govuk-visually-hidden--desktop">Action:</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body"> 
            
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="#" class="govuk-link--no-visited-state">{{data['party3']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submission: </span>{{data['submission3']}}
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="#" class="govuk-link--no-visited-state">{{data['party-user3']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>13 April 2021
            </td>
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="" class="govuk-link--no-visited-state">Review <span class="govuk-visually-hidden">submission from {{data['party3']}}</span></a>
            </td>    
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="case-party-steeel" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Request: </span>Registration documentation
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="#" class="govuk-link--no-visited-state">{{data['dup-user1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>22 May 2022
            </td>  
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="" class="govuk-link--no-visited-state">Review <span class="govuk-visually-hidden">{{data['dup-party1']}}</span></a>
            </td>             
          </tr> 

          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="case-party-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submission: </span>Letter of Authority
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="#" class="govuk-link--no-visited-state">{{data['party-user1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>{{data['submission-date2']}}
            </td>  
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="submissions/case-submission-rep.html" class="govuk-link--no-visited-state">Review <span class="govuk-visually-hidden">submission from {{data['party1-user1']}}</span></a>
            </td>             
          </tr>
  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="case-party-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submission: </span>Registration documentation
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>{{data['register-date1']}}
            </td>
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="/caseworker/cases/submissions/case-submission-regint" class="govuk-link--no-visited-state">Review <span class="govuk-visually-hidden">submission from {{data['rep-user1']}}
              </span></a>
            </td>    
          </tr>
        </body>
      </table>   
    {% endset %}
  
    {% set submissionsPublishHTML %}
      <h3 class="govuk-heading-m">Submissions to publish</h3>  
      <p>There is <strong>1</strong> submission waiting to be published.</p>
      <form>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-!-display-inline" for="sort-published">
              Sort sumbissions by
            </label>
            <select class="govuk-select" id="sort-published" name="sort-published">
              <option value="Interested party" selected>Interested party</option>
              <option value="Submitted by">Submitted by</option>
              <option value="Submission">Submission</option>
              <option value="Submitted">Submitted</option>
            </select>
          </div>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-visually-hidden" for="direction-published">
              Direction
            </label>
            <select class="govuk-select" id="direction-published" name="direction-published">
              <option value="Decending" selected>Decending</option>
              <option value="Ascending ">Ascending </option>
            </select>
          </div>
  
          {{ govukButton({
            text: "Sort",
            classes: "govuk-button--secondary table-sort"
          }) }}
      </form>  
      <table class="govuk-table sortable mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing submissions waiting to be published
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Interested party
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted by
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submission
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header no-sort">
                <span class="govuk-visually-hidden--desktop">Action:</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="#" class="govuk-link--no-visited-state">{{data['applicant4']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="#" class="govuk-link--no-visited-state">{{data['applicant-user4']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submission: </span>Questionnaire
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>12 May 2022
            </td>
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="" class="govuk-link--no-visited-state">Publish <span class="govuk-visually-hidden">{{data['applicant4']}} submissions</span></a>
            </td>  
          </tr>
        </body>
      </table>  

    {% endset %}
  
    {{ govukTabs ({
      items: [
      { 
        label: "Requests (3)",
        id: "requests",
        panel: {
          html: requestsHTML
        }
      },
      { 
        label: "Submissions to review (4)",
        id: "new-submissions",
        panel: {
          html: submissionsHTML
        }
      },
      { 
        label: "Submissions to publish (1)",
        id: "submissions-publish",
        panel: {
          html: submissionsPublishHTML
        }
      }
      ]
    }) }}
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m">Case details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Applicant
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['applicant1']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['status1']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last updated
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['updated1']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registration due by
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['register-date1']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Initiation date
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['initiated1']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Commodies affected
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>7222202100</li>
            <li>7222202900</li>
            <li>7222203100</li>
            <li>7222203900</li>
            <li>7222208100</li>
            <li>7222208900</li>
          </ul>
        </dd>
      </div>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Linked cases
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="" class="govuk-link--no-visited-state">AD5832 - Steel Magnolia's from Mongolia</a>
              <ul class="govuk-list govuk-list--bullet">
                <li>{{data['case-ref1']}}: {{data['case-name1']}}
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a href="" class="govuk-link--no-visited-state">AD3467 - Steel Plating from Poland</a>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a href="" class="govuk-link--no-visited-state">AD11234 - Polished Steel Plates from Paraguay</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </dd>
      </div>
    </dl>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Team members</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Head of Investigations
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                <li><a href="" class="govuk-link--no-visited-state">Sabrina Watch - sabrina.watch@TRA.gov.uk</a></li>
              </ul>  
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Edit<span class="govuk-visually-hidden"> Head of Investigations</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lead Investigators
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                <li><a href="" class="govuk-link--no-visited-state">Lizzo Twizzel - lizzo.twizzel@TRA.gov.uk</a></li>
              </ul> 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Edit<span class="govuk-visually-hidden"> investigators</span>
              </a>
            </dd>
          </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Investigators
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                <li><a href="" class="govuk-link--no-visited-state">Bob Tyler - bob.tyler@TRA.gov.uk</a></li>
                <li><a href="" class="govuk-link--no-visited-state">Lauri Wotner - lauri.wotner@tra.gov.uk</a></li>
                <li><a href="" class="govuk-link--no-visited-state">Colin Totnes - colin.totnes@tra.gov.uk</a></li>
              </ul> 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Edit<span class="govuk-visually-hidden"> lead investigators</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Administrators
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                <li><a href="" class="govuk-link--no-visited-state">Johnny John- johnny.john@TRA.gov.uk</a></li>
              </ul> 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Edit<span class="govuk-visually-hidden"> Administrators</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <h2 class="govuk-heading-m">Case administration</h2>
    <ul class="govuk-list">
      <li><a href="" class="govuk-link--no-visited-state">Case documents</a></li>
      <li><a href="" class="govuk-link--no-visited-state">Administrator controls</a></li>
    </ul>  
  </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
