{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Cases: Steel plate from Russia - Milestones – {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width cases-nav milestone-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
{% set bodyClasses = 'caseworker' %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-heading-xl__case-header">
        {{data['case-ref1']}}: {{data['case-name1']}}
        <span class="govuk-heading-s govuk-!-font-weight-regular"><strong>Status:</strong> {{data['status1']}}</span>
      </h1>
      {% include "includes/caseworker-nav-case.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Milestones</h2>
      <form id="events-table-filter">
        <div class="govuk-form-group table-filter">
          <label class="govuk-label govuk-!-display-inline govuk-visually-hidden--desktop" for="filter-roles">
            Filter parties by
          </label>
          <select class="govuk-select" id="filter-roles" name="filter-roles">
            <option value="all" selected>All events</option>
              <option value="milestones">Only milestones</option>
          </select>
        </div>

        {{ govukButton({
          text: "Show",
          classes: "govuk-button--secondary"
        }) }}
        
      </form>  
      <form id="hidden-table-sort">
        <div class="govuk-form-group table-sort">
          <label class="govuk-label govuk-!-display-inline" for="sort-entries">
            Sort entries by
          </label>
          <select class="govuk-select" id="sort-entries" name="sort-entries">
            <option value="Date" selected>Date</option>
            <option value="Event">Event</option>
            <option value="User">User</option>
            <option value="Milestone">Milestone</option>
          </select>
          </div>
        <div class="govuk-form-group table-sort">
          <label class="govuk-label govuk-visually-hidden" for="direction-entries">
            Direction
          </label>
          <select class="govuk-select" id="direction-entries" name="direction-entries">
            <option value="Decending" selected>Decending</option>
            <option value="Ascending ">Ascending </option>
          </select>
        </div>

        {{ govukButton({
          text: "Sort",
          classes: "govuk-button--secondary table-sort"
        }) }}
      </form>  
  
      <table class="govuk-table sortable mobile-table-border desktop-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing all of the parties waiting to be confirmed on to a case
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Date
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Event
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>User
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Milestone
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Date: </span>20 Jun 2022 09:30:00
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Event: </span>DELIVERED contact
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="#">Bob@TRA.com</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Milestone: </span><img src="/public/images/checkmark.png" class="verified-check" alt="Milestone complete" title="Milestone complete" width="20px">
            </td>           
          </tr>
  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Date: </span>16 Jun 2022 10:30:00
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Event: </span>UPDATE submission<br>
              <ul class="govuk-list">
                <li>received_at changed from `empty value` to `2022-06-20T09:16:36.29677...`.</li>
                <li>received_from changed from `empty value` to `Natalie Wilson`.</li>
              </ul>  
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="#">testingnw85@gmail.com</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Milestone: none </span>
            </td>   
          </tr> 
        </body>
      </table>       
    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
