{% extends "layout.html" %}

{% set header1 = "Organsiation details" %}

{% block pageTitle %}
  {{header1}} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}

<table role="presentation" width="100%" style="border-collapse: collapse;min-width: 100%;width: 100% !important;" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr align="center">
      <td>

        {% if data['merge-rep-task'] == "Complete" %}
          <a href="../reg-interest/reginterest-merge-rep-review"></href><img src="/public/images/org-in-case-no-merge.png"></a>
        {% else %}
          <a href="../reg-interest/reginterest-merge-rep-review"></href><img src="/public/images/org-in-case-with-merge.png"></a>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block content %}

{% endblock %}