{% extends "layout.html" %}

{% block pageTitle %}
  Cases details – {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'cases-nav' %}


{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-org-case">Manage cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Case details
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{data['case-name1']}}
    </h1>

    {% set manageCasesHTML %}
      <h2 class="govuk-heading-m clearfix">What's occured
        <p class="right-aligned-link">
          <a href="/public-site/reg-interest/reginterest-tasks?tasklist-type=reg-interest" class="govuk-link--no-visited-state">Do something</a>
        </p>
      </h2>
      <p>Manage some things</p>
      
    {% endset %}

    {% set manageUsersHTML %}
      <h2 class="govuk-heading-m clearfix">Manage users
        <p class="right-aligned-link">
          <a href="/public-site/reg-interest/reginterest-tasks?tasklist-type=reg-interest" class="govuk-link--no-visited-state">Some action</a>
        </p>
      </h2>
      <p>Manage the people assigned to work on this case.</p>    

      
    {% endset %}
    
    
    {{ govukTabs ({
      items: [
      
      { 
        label: "What's occured cases",
        id: "manage-cases",
        panel: {
          html: manageCasesHTML
        }
      },
      { 
        label: "Manage users",
        id: "manage-users",
        panel: {
          html: manageUsersHTML
        }
      }
      ]
    }) }}
    
  </div>

</div>


{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}