{% extends "layout.html" %}

{% block pageTitle %}
  Manage cases – {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'cases-nav' %}


{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Manage cases
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Manage cases
    </h1>
    {% if data[''] ==""%}
      <div class="address-card">
        <div class="address-container">
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <p class="govuk-warning-text__text">
              <strong>
                <span class="govuk-warning-text__assistive">Warning</span>
                You have 1 registration of interest with deficient documentation
              </strong>
            </p>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="govuk-grid-column-full">

    {% set manageCasesHTML %}
      <h2 class="govuk-heading-m clearfix">My cases
        <p class="right-aligned-link">
          <a href="/public-site/reg-interest/reginterest-tasks?tasklist-type=reg-interest" class="govuk-link--no-visited-state">Register interest in case</a>
        </p>
      </h2>
      <p>Manage the cases your organisation is involved in.</p>
      <form>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-!-display-inline" for="sort-cases">
              Sort cases by
            </label>
            <select class="govuk-select" id="sort-cases" name="sort-cases">
              <option value="Case No." selected>Case No.</option>
              <option value="Case">Case</option>
              <option value="Status">Status</option>
              <option value="Case stage">Case stage</option>
              <option value="Update">Update</option>
            </select>
          </div>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-visually-hidden" for="direction-cases">
              Direction
            </label>
            <select class="govuk-select" id="direction-cases" name="direction-cases">
              <option value="Decending" selected>Decending</option>
              <option value="Ascending ">Ascending </option>
            </select>
          </div>
          {{ govukButton({
            text: "Sort cases",
            classes: "govuk-button--secondary table-sort"
          }) }}
      </form>

      <table class="govuk-table sortable table-border mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">A table listing all of your organisation's case</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>No.
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Case
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submission
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Status
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header" data-sortby="date">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted 
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header no-sort">
              <span class="govuk-visually-hidden--desktop">Action: </span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if (data['reginterest-task'] == "Draft") or (data['reginterest-task'] == "Submitted") %}

            <tr class="govuk-table__row no-border">
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Case No. </span><a href="case-details" class="govuk-link--no-visited-state">{{data ['case-ref'] or "AD2224"}}</a>
              </td>
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Case: </span><a href="case-details" class="govuk-link--no-visited-state">{{data ['case-name'] or "Steel plate from Russia"}}</a>
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Submission </span>Registration of interest
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Status: </span>{{data['reginterest-task']}}
              </td>
              <td class="govuk-table__cell num">
                <span class="govuk-visually-hidden--desktop">Submitted: </span><span id="date2"></span>
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Action: </span><a href="" class="govuk-link--no-visited-state">Manage case <span class="govuk-visually-hidden--desktop"> {{data['case-ref']}}</span</a>
              </td>
            </tr>

            {% else %}
         
            <tr class="govuk-table__row no-border">
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Case No. </span><a href="case-details" class="govuk-link--no-visited-state">{{data['case-ref1']}}</a>
              </td>
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Case: </span><a href="case-details" class="govuk-link--no-visited-state">{{data['case-name1']}}</a>
              </td>
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Status: </span>{{data['party-status1']}}
              </td>
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Case stage: </span>{{data['status1']}}
              </td>
              <td class="govuk-table__cell text-overflow num">
                <span class="govuk-visually-hidden--desktop">Update: </span>{{data['updated1']}}
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Action: </span><a href="case-details" class="govuk-link--no-visited-state">Manage case <span class="govuk-visually-hidden--desktop"> {{data['case-ref6']}}</span</a>
              </td>
            </tr>

            <tr class="govuk-table__row no-border">
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Case No. </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref5']}}</a>
              </td>
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name5']}}</a>
              </td>
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Status: </span>{{data['party-status5']}}
              </td>     
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Case stage: </span>{{data['status5']}}
              </td>
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Update: </span>{{data['updated5']}}
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Action: </span><a href="" class="govuk-link--no-visited-state">Manage case <span class="govuk-visually-hidden--desktop"> {{data['case-ref6']}}</span</a>
              </td>
            </tr>

          {% endif %}
          
        </body>
      </table>  

      <script>
        const date2 = new Date();
        const formattedDate2 = date2.toLocaleDateString('en-GB', {
          day: '2-digit', month: 'short', year: 'numeric'
        }).replace(/ /g, ' ');
        document.getElementById("date2").innerHTML = formattedDate2;
      </script>
      
    {% endset %}
    
    
    {{ govukTabs ({
      items: [
      
      { 
        label: "My cases",
        id: "manage-cases",
        panel: {
          html: manageCasesHTML
        }
      }
      ]
    }) }}
    
  </div>

</div>


{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}