{% extends "layouts/main.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "manage-account",
  serviceName: "Apply for an export certificate",
  serviceUrl: "manage-account",
  navigation: [
    {
      href: "#3",
      text: "Home"
    },
    {
      href: "#3",
      text: "Certificates"
    }
    ,
    {
      href: "manage-account",
      text: "Account",
      active: true
    }
    ,
    {
      href: "/your-orgs",
      text: "Your organisations"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
    {% from "govuk/components/select/macro.njk" import govukSelect %}

    {{ govukSelect({
      id: "destination-country",
      name: "destination-country",
      label: {
        text: "Choose an agent organisation ",
        classes: "govuk-label--l"
      },
      hint: {
        text: "The organisation you are adding the individual agent to"
      },
    
      items: [
        {
          value: "choose",
          text: "Choose organisation",
          selected: true
        },
        {
          value: "lyle-agency",
          text: "Lyle Agency"
        },
        {
          value: "marlowe-agency",
          text: "Marlowe Agency"
        },
        {
          value: "green-agency",
          text: "Green Agency"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: {
        "data-action": "form-submit",
        "data-submitting-text": "Submitting...",
        "data-prevent-double-click": "true"
      },
      href: "add-agent-info",
      id: "continue-button"
    }) }}

</div>
{% endblock %}


