{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
    {% from "govuk/components/select/macro.njk" import govukSelect %}

    {{ govukSelect({
      id: "destination-country",
      name: "destination-country",
      label: {
        text: "Where are you sending the goods? ",
        classes: "govuk-label--l"
      },
    
      items: [
        {
          value: "choose",
          text: "Choose country",
          selected: true
        },
        {
          value: "china",
          text: "China"
        },
        {
          value: "turkey",
          text: "Turkey"
        },
        {
          value: "uae",
          text: "U.A.E"
        },
        {
          value: "uganda",
          text: "Uganda"
        },
        {
          value: "ukraine",
          text: "Ukraine"
        },
        {
          value: "unitedkingdom",
          text: "United Kingdom"
        },
        {
          value: "unitedstates",
          text: "United States"
        },
        {
          value: "uruguay",
          text: "Uruguay"
        },
        {
          value: "uzbekistan",
          text: "Uzbekistan"
        },
        {
          value: "vietnam",
          text: "Vietnam"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: {
        "data-action": "form-submit",
        "data-submitting-text": "Submitting...",
        "data-prevent-double-click": "true"
      },
      href: "check-ii",
      id: "continue-button"
    }) }}

</div>
{% endblock %}


