{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <span class="govuk-caption-m">1 of 3</span>
  <h1 class="govuk-heading-xl">
    Organisation or private individual
  </h1>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in">
            Organisation or agent on behalf of an organisation
          </label>
          <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
            Select this if you want to register an organisation
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in-2">
            Private individual or agent on behalf of an individual
          </label>
          <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
            Select this if you want to register a private individual.
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <br>
  {{ govukButton({
    text: "Continue",
    href: "#",
    attributes: {
      "data-action": "form-submit",
      "data-submitting-text": "Submitting...",
      "data-prevent-double-click": "true",
      "onclick": "return handleSignIn();"
    }
  }) }}

</div>

<script>
  function handleSignIn() {
    const organizationRadio = document.getElementById("sign-in");
    const individualRadio = document.getElementById("sign-in-2");

    if (organizationRadio.checked) {
      window.location.href = "/sign-up";  // URL for the "Organization" option
    } else if (individualRadio.checked) {
      window.location.href = "individual-already-here";  // URL for the "Private Individual" option
    }

    return false;  // Prevent form submission
  }
</script>


{% endblock %}



