{% extends "layout.html" %}

{% block pageTitle %}
  Invite a representative – {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Invite a representative
    </h1>
    <!--Deficiency notice -->
    {% if data['invite-rep-task'] == "Deficient" %}
      <div class="address-card">
        <div class="address-container">
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <p class="govuk-warning-text__text">
              <strong>
                <span class="govuk-warning-text__assistive">Warning</span>
                You need to review your documentation
              </strong>
            </p>
          </div>
        </div>
      </div>
    {% endif %}
    
    <p class="govuk-body">Complete all the steps to invite a representative to act on behalf of your organisation.</p>

    <p class="govuk-body govuk-!-margin-bottom-7">If you leave this page before submitting, you can return later from your dashboard.</p>

    <!--If the user has NOT registered interest in a case and has no existing reps show:-->
    {% if data['existing-cases-reps'] == "no" %}

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>About your representative
          </h2>
          <ul class="app-task-list__items">
            {% include "includes/task-list2.html" %}
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>Invite a representative
          </h2>
          <ul class="app-task-list__items">
            {% include "includes/task-list4.html" %}
          </ul>
        </li>
      </ol>

      <!--If the user has registered interest in one or more cases and they have already got representatives show:-->
      {% else %}

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Your cases
          </h2>
          <ul class="app-task-list__items">
            {% include "includes/task-list1.html" %}
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>About your representative
          </h2>
          <ul class="app-task-list__items">
            {% include "includes/task-list2.html" %}
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>Upload forms
          </h2>
          <ul class="app-task-list__items">
            {% include "includes/task-list3.html" %}
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span>Invite representative
          </h2>
          <ul class="app-task-list__items">
            {% include "includes/task-list4.html" %}
          </ul>
        </li>
      </ol>
    {% endif %}

    <a class="govuk-link govuk-link--no-visited-state" href="/public-site/dashboard">Back to Dashboard</a>

  </div>
</div>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


