{% extends "layout.html" %}

{% block pageTitle %}
  Invite sent - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Invite sent
        </h1>
      </div>
  
      <p>We have sent an email to invite a representative to join your account and act on your behalf.</p>
      <p>
        {% if (data['who-signin'] == "org") or (data['who-signin'] == "org-invite") %}
          {% if data['invite-rep-what-org'] == "existing-org" %}
            {{ data['invite-rep-name'] or data['rep-user3'] }} - {{ data['invite-rep-email'] or data['rep-email3'] }} <br> 
            {{data['reginterest-existing-org'] or data['representative1']}}<br>
            {{data ['invite-rep-what-case'] or "AD2224 - Steel plate from Russia"}}<br>           
            
            {% else %}
            {% if data['invite-rep-what-org'] == "new-org" %}
              {{ data['invite-rep-name'] or data['rep-user3'] }} - {{ data['invite-rep-email'] or data['rep-email3'] }} <br> 
              {{data['invite-rep-org-name'] or data['representative1'] }}<br>
              {{data ['invite-rep-what-case'] or "AD2224 - Steel plate from Russia"}}

            {% endif %}
          {% endif %}
        {% endif %}
      </p>

      <p>The invite will ask your representative to register. This will give them access to the Trade Remedies Service. </p>
      <p>They will be able to act on your behalf once they have registered and their organisation has been verified by us.</p>

      <form action="../manage-org-user#manage-invites" method="post" id="dashboard">              

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Manage users"
          }) }}    
          <a class="govuk-link govuk-link--no-visited-state" href="../invite-user-type">Invite user</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
        },
        {
          href: "/public-site/email/email-invite-rep.html",
          text: "New rep invite"
        },
        {
          href: "/public-site/email/email-invite-rep-has-account.html",
          text: "Existing rep invite"
        }
      ]
    }
  }) }}
{% endblock %}