{% extends "layout.html" %}

{% block pageTitle %}
  Representative contact details - {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">2.  About your representative</span>
      <h1 class="govuk-heading-xl">Representative details</h1>
      <form action="invite-rep-tasks?invite-which-org-task=complete" novalidate method="post" id="reginterest-contact-name-form">  

        {{ govukInput({
          label: {
            text: "Organisation name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "invite-rep-org-name",
          name: "invite-rep-org-name",
          value: data['invite-rep-org-name'],
          type: "text"
        }) }}

        {% call govukFieldset({
          legend: {
            text: "Who is your primary contact?",
            classes: "govuk-fieldset__legend--s",
            isPageHeading: true
          }
        }) %}

        <p>This is the main person you work with from the organisation you are inviting.</p>

          {{ govukInput({
            label: {
              text: "Contact name",
              isPageHeading: false
            },
            classes: "govuk-input--width-20",
            id: "invite-rep-name",
            name: "invite-rep-name",
            type: "text",
            autocomplete: "name",
            value: data['invite-rep-name']

          }) }}

          {{ govukInput({
            label: {
              text: "Contact email address"
            },
            id: "invite-rep-email",
            name: "invite-rep-email",
            classes: "govuk-input--width-20",
            type: "email",
            autocomplete: "email",
            value: data['invite-rep-email']
          }) }}
        
        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
           
        </div>
      </form> 
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}