{% extends "layout-dh.html" %}
{% block pageTitle %}
 Data Hub
{% endblock %}

{% block header %}
{{ dataHubHeader({serviceName: "Data Hub", navigation: [{"href": "companies", "text": "Companies", "class": "active"}, {"href": "contacts", "text": "Contacts"}, {"href": "events", "text": "Events"}, {"href": "interactions", "text": "Interactions"}, {"href": "investments", "text": "Investments"}, {"href": "orders", "text": "Orders"}, {"href": "#", "text": "Find exporters"}, {"href": "#", "text": "Market access"}, {"href": "support", "text": "Support"}]}) }}
{% endblock %}


{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Companies
    </li>
  </ol>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Companies</h1>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Filters</h2>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section govuk-accordion__section--expanded">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Company details
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

              <!-- Company name -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="company-name">
                  <b>Company name</b>
                </label>
                <input class="govuk-input" id="company-name" name="company-name" type="text">
              </div>

              <!-- Organisation -->

              <div class="govuk-form-group govuk-!-static-margin-top-7">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-size-16">
                      Organisation
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="organisation">
                        European HQ
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                      <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="organisation-2">
                        Global HQ
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                      <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="organisation-3">
                        UK HQ
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <!-- Sector -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="sort">
                  <b>Sector</b>
                </label>
                <select class="govuk-select govuk-!-font-size-16 govuk-!-width-full" id="sort" name="sort">
                  <option value="Search sector" selected disabled>Search sector</option>
                </select>
              </div>

              <!-- Status -->

              <div class="govuk-form-group govuk-!-static-margin-top-7">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-size-16">
                      Status
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="organisation">
                        Active
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                      <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="organisation-2">
                        Inactive
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <!-- Lead ITA -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="sort">
                  <b>Lead ITA or global account manager</b>
                </label>
                <select class="govuk-select govuk-!-font-size-16 govuk-!-width-full" id="sort" name="sort">
                  <option value="Search sector" selected disabled>Search adviser</option>
                </select>
              </div>



            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Location details
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

              <!-- Country -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="sort">
                  <b>Country</b>
                </label>
                <select class="govuk-select govuk-!-font-size-16 govuk-!-width-full" id="sort" name="sort">
                  <option value="Search sector" selected disabled>Search country</option>
                </select>
              </div>

              <!-- UK postcode -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="uk-postcode">
                  <b>UK postcode</b>
                </label>
                <input class="govuk-input govuk-!-font-size-16" id="uk-postcode" name="uk-postcode" type="text" placeholder="Search UK postcode">
              </div>

              <!-- UK region -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="sort">
                  <b>UK region</b>
                </label>
                <select class="govuk-select govuk-!-font-size-16 govuk-!-width-full" id="uk-region" name="uk-region">
                  <option value="Search UK region" selected disabled>Search UK region</option>
                </select>
              </div>

              <!-- US state -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="sort">
                  <b>US state</b>
                </label>
                <select class="govuk-select govuk-!-font-size-16 govuk-!-width-full" id="us-state" name="us-state">
                  <option value="Search US state" selected disabled>Search US state</option>
                </select>
              </div>

              <!-- Canadian province -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="sort">
                  <b>Canadian province</b>
                </label>
                <select class="govuk-select govuk-!-font-size-16 govuk-!-width-full" id="canadian-province" name="canadian-province">
                  <option value="Search Canadian province" selected disabled>Search Canadian province</option>
                </select>
              </div>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Company activity
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

              <!-- Date last interaction from -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="uk-postcode">
                  <b>Last interaction from</b>
                </label>
                <input class="govuk-input govuk-!-font-size-16" id="interaction-from" name="interaction-from" type="text" placeholder="dd/mm/yyyy">
              </div>

              <!-- Date last interaction to -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="uk-postcode">
                  <b>Last interaction to</b>
                </label>
                <input class="govuk-input govuk-!-font-size-16" id="interaction-to" name="interaction-to" type="text" placeholder="dd/mm/yyyy">
              </div>

              <!-- Currently exporting to -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="sort">
                  <b>Currently exporting to</b>
                </label>
                <select class="govuk-select govuk-!-font-size-16 govuk-!-width-full" id="exporting-to" name="exporting-to">
                  <option value="Search country" selected disabled>Search country</option>
                </select>
              </div>

              <!-- Countries of interest -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="sort">
                  <b>Future countries of interest</b>
                </label>
                <select class="govuk-select govuk-!-font-size-16 govuk-!-width-full" id="future-countries" name="future-countries">
                  <option value="Search country" selected disabled>Search country</option>
                </select>
              </div>

              <!-- Export segment -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="sort">
                  <b>Export segment</b>
                </label>
                <select class="govuk-select govuk-!-font-size-16 govuk-!-width-full" id="export-segment" name="export-segment">
                  <option value="Search export segment" selected disabled>Search export segment</option>
                </select>
              </div>

              <!-- Export subsegment -->

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-16" for="sort">
                  <b>Export subsegment</b>
                </label>
                <select class="govuk-select govuk-!-font-size-16 govuk-!-width-full" id="export-subsegment" name="export-subsegment">
                  <option value="Search export subsegment" selected disabled>Search export subsegment</option>
                </select>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <p class="gov-body govuk-!-font-size-36"><b>176,714</b> <span class="govuk-!-font-size-24">companies</span></p>
          </div>
          <div class="govuk-grid-column-one-half govuk-!-text-align-right">
            <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
              Add company
            </button>
          </div>
        </div>
        <hr></hr>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-!-padding-top-2">
            <p class="govuk-body govuk-hint govuk-!-font-size-16">Page 1 of 100</p>
          </div>
          <div class="govuk-grid-column-one-half govuk-!-text-align-right">
            <div class="govuk-form-group govuk-!-margin-bottom-0">
              <label class="govuk-label" for="sort">
                Sort by
                <select class="govuk-select" id="sort-by" name="sort-by">
                  <option value="Recently updated" selected disabled>Recently updated</option>
                </select>
              </label>
            </div>
          </div>
        </div>
        <hr></hr>
        <p class="govuk-body-s govuk-!-margin-bottom-0">Filter to fewer than 5,000 companies to download</p>
        <hr></hr>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-padding-top-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-underline" href="company-detail">ROLLS-ROYCE HOLDINGS PLC</a></h3>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1 govuk-!-text-align-right">
                <div class="datahub-badge">United Kingdom</div>
                <div class="datahub-badge">North West</div>
              </div>
            </div>
            <p class="govuk-body govuk-hint govuk-!-font-size-14 govuk-!-margin-bottom-3">Updated on 1 May 2023, 8:30pm</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Sector</span> Aerospace : Manufacturing and Assembly : UAVs</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Address</span> MOOR LANE, DERBY, Derbyshire, DE24 8BJ, United Kingdom</p>
            <p class="govuk-body-s"><span class="govuk-hint govuk-!-font-size-16">Last interaction</span> 17 Oct 2023</p>
            <hr></hr>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-padding-top-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-underline" href="company-detail">PETS PARADISE</a></h3>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1 govuk-!-text-align-right">
                <div class="datahub-badge">United Kingdom</div>
                <div class="datahub-badge">North West</div>
              </div>
            </div>
            <p class="govuk-body govuk-hint govuk-!-font-size-14 govuk-!-margin-bottom-3">Updated on 18 Oct 2023, 4:00pm</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Sector</span> Food and Drink : Pet Food</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Address</span> Swallow Croft, Ings Lane, Bishop Monkton, HARROGATE, North Yorkshire, HG3 3QT, United Kingdom</p>
            <p class="govuk-body-s"><span class="govuk-hint govuk-!-font-size-16">Last interaction</span> 18 Nov 2014</p>
            <hr></hr>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-padding-top-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-underline" href="company-detail">NICK'S COMPANY</a></h3>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1 govuk-!-text-align-right">
                <div class="datahub-badge">United Kingdom</div>
                <div class="datahub-badge">North West</div>
              </div>
            </div>
            <p class="govuk-body govuk-hint govuk-!-font-size-14 govuk-!-margin-bottom-3">Updated on 18 Oct 2023, 3:57pm</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Sector</span> Automotive</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Address</span> 140 Melbury Avenue, POOLE, Dorset, BH12 4EW, United Kingdom</p>
            <p class="govuk-body-s"><span class="govuk-hint govuk-!-font-size-16">Last interaction</span> 18 Nov 2014</p>
            <hr></hr>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-padding-top-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-underline" href="company-detail">BURREN BALSAMICS LTD</a></h3>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1 govuk-!-text-align-right">
                <div class="datahub-badge">United Kingdom</div>
                <div class="datahub-badge">North West</div>
              </div>
            </div>
            <p class="govuk-body govuk-hint govuk-!-font-size-14 govuk-!-margin-bottom-3">Updated on 18 Oct 2023, 3:52pm</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Sector</span> Food and Drink</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Address</span> 37 Aghory Road, Richhill, ARMAGH, Co Armagh, BT61 9LY, United Kingdom</p>
            <p class="govuk-body-s"><span class="govuk-hint govuk-!-font-size-16">Last interaction</span> 18 Nov 2014</p>
            <hr></hr>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-padding-top-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-underline" href="company-detail">BIG AYE SKATEBOARDS LTD</a></h3>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1 govuk-!-text-align-right">
                <div class="datahub-badge">United Kingdom</div>
                <div class="datahub-badge">North West</div>
              </div>
            </div>
            <p class="govuk-body govuk-hint govuk-!-font-size-14 govuk-!-margin-bottom-3">Updated on 18 Oct 2023, 3:45pm</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Sector</span> Leisure and Tourism</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Address</span> 14, Acacia Business Centre Howard Road, LONDON, E11 3PJ, United Kingdom</p>
            <p class="govuk-body-s"><span class="govuk-hint govuk-!-font-size-16">Last interaction</span> 18 Nov 2014</p>
            <hr></hr>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-padding-top-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-underline" href="company-detail">SMOOTHIES LIMITED</a></h3>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1 govuk-!-text-align-right">
                <div class="datahub-badge">United Kingdom</div>
                <div class="datahub-badge">North West</div>
              </div>
            </div>
            <p class="govuk-body govuk-hint govuk-!-font-size-14 govuk-!-margin-bottom-3">Updated on 18 Oct 2023, 3:39pm</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Sector</span> Food and Drink</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Address</span> 250 High Road Leyton, Leyton, LONDON, E10 5PW, United Kingdom</p>
            <p class="govuk-body-s"><span class="govuk-hint govuk-!-font-size-16">Last interaction</span> 19 Jun 2023</p>
            <hr></hr>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-padding-top-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-underline" href="company-detail">BUTTER & BREAD LTD</a></h3>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1 govuk-!-text-align-right">
                <div class="datahub-badge">United Kingdom</div>
                <div class="datahub-badge">North West</div>
              </div>
            </div>
            <p class="govuk-body govuk-hint govuk-!-font-size-14 govuk-!-margin-bottom-3">Updated on 1 May 2023, 8:30pm</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Sector</span> Food and Drink : Bakery Products</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Address</span> 155 Porters Avenue, DAGENHAM, Essex, RM9 5YU, United Kingdom</p>
            <p class="govuk-body-s"><span class="govuk-hint govuk-!-font-size-16">Last interaction</span> 08 Aug 2023</p>
            <hr></hr>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-padding-top-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-underline" href="company-detail">D&J</a></h3>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1 govuk-!-text-align-right">
                <div class="datahub-badge">United Kingdom</div>
                <div class="datahub-badge">North West</div>
              </div>
            </div>
            <p class="govuk-body govuk-hint govuk-!-font-size-14 govuk-!-margin-bottom-3">Updated on 18 Oct 2023, 3:24pm</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Sector</span> Aerospace</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Address</span> 32 Fairbanks Road, LONDON, N17 9JJ, United Kingdom</p>
            <p class="govuk-body-s"><span class="govuk-hint govuk-!-font-size-16">Last interaction</span> 18 Nov 2014</p>
            <hr></hr>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-padding-top-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-underline" href="company-detail">SUNDAY ROAST LTD</a></h3>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1 govuk-!-text-align-right">
                <div class="datahub-badge">United Kingdom</div>
                <div class="datahub-badge">North West</div>
              </div>
            </div>
            <p class="govuk-body govuk-hint govuk-!-font-size-14 govuk-!-margin-bottom-3">Updated on 18 Oct 2023, 3:23pm</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Sector</span> Food and Drink</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Address</span> Unit 3B, Berol House, 25 Ashley Road, LONDON, N17 9LJ, United Kingdom</p>
            <p class="govuk-body-s"><span class="govuk-hint govuk-!-font-size-16">Last interaction</span> 18 Nov 2014</p>
            <hr></hr>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-padding-top-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-underline" href="company-detail">GEO MITCHELL LTD</a></h3>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-1 govuk-!-text-align-right">
                <div class="datahub-badge">United Kingdom</div>
                <div class="datahub-badge">North West</div>
              </div>
            </div>
            <p class="govuk-body govuk-hint govuk-!-font-size-14 govuk-!-margin-bottom-3">Updated on 18 Oct 2023, 3:21pm</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Sector</span> Automotive : Automotive Maintenance</p>
            <p class="govuk-body-s govuk-!-margin-bottom-3"><span class="govuk-hint govuk-!-font-size-16">Address</span> 8 Summers Road, GODALMING, Surrey, GU7 3BB, United Kingdom</p>
            <p class="govuk-body-s"><span class="govuk-hint govuk-!-font-size-16">Last interaction</span> 18 Oct 2023</p>
            <hr></hr>
          </div>
        </div>

        <!-- Pagination -->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-padding-top-1">
            <nav class="govuk-pagination" role="navigation" aria-label="results">
              <ul class="govuk-pagination__list">
                <li class="govuk-pagination__item govuk-pagination__item--current">
                  <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                    1
                  </a>
                </li>
                <li class="govuk-pagination__item">
                  <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                    2
                  </a>
                </li>
                <li class="govuk-pagination__item">
                  <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                    3
                  </a>
                </li>
              </ul>
              <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg></a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>






{% endblock %}
