{% extends "layout-dh.html" %}
{% block pageTitle %}
 Data Hub
{% endblock %}

{% block header %}
{{ dataHubHeader({serviceName: "Data Hub", navigation: [{"href": "companies", "text": "Companies", "class": "active"}, {"href": "contacts", "text": "Contacts"}, {"href": "events", "text": "Events"}, {"href": "interactions", "text": "Interactions"}, {"href": "investments", "text": "Investments"}, {"href": "orders", "text": "Orders"}, {"href": "#", "text": "Find exporters"}, {"href": "#", "text": "Market access"}, {"href": "support", "text": "Support"}]}) }}
{% endblock %}


{% block content %}


<!-- START BREADCRUMB TRAIL -->
    <div class="govuk-breadcrumbs" data-test="breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="homepage">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="companies">Companies</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="company-detail">ROLLS-ROYCE HOLDINGS PLC</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Edit export win</li></ol>
      </div>
<!-- END BREADCRUMB TRAIL -->


    <div id="flash-messages" class="react-slot"><noscript>Please enable JavaScript in your browser to see the content.</noscript></div>

      <div class="govuk-grid-row c-local-header__content">
        <div class="govuk-grid-column-full">
          <h1 class="c-local-header__heading">Edit export win</h1>
          <h2 class="govuk-!-font-weight-regular">ROLLS-ROYCE HOLDINGS PLC</h2>
      </div>
    </div>

  </div>
</div>


<!-- START CONTAINER -->
<div class="govuk-width-container">


<!-- STARTS 1. Officer details -->
<h2>1. Officer details</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
    </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Owner name
          </dt>
          <dd class="govuk-summary-list__value">
            Graham Sanders
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
              <a class="govuk-link" href="officer-details">Change</a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team type
          </dt>
          <dd class="govuk-summary-list__value">
            Trade (TD or ST)
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
              <a class="govuk-link" href="officer-details">Change</a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            HQ team, region or post
          </dt>
          <dd class="govuk-summary-list__value">
            TD - Events - Services
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
              <a class="govuk-link" href="officer-details">Change</a>
            </dd>
        </div>
  </dl><!-- ENDS -->


  <div class="govuk-!-padding-top-5"></div>


<!-- STARTS 2. Credit for this win -->
<h2>2. Credit for this win</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
    </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Did any other teams help with this win?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
              <a class="govuk-link" href="credit-for-this-win">Change</a>
            </dd>
        </div>

  </dl><!-- ENDS -->


  <div class="govuk-!-padding-top-5"></div>


<!-- STARTS 3. Customer details  -->
<h2>3. Customer details </h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
    </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation or company name
          </dt>
          <dd class="govuk-summary-list__value">
            Rolls-Royce Holdings PLC
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
              <a class="govuk-link" href="customer-details">Change</a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Data Hub (Companies House) or CDMS reference number
          </dt>
          <dd class="govuk-summary-list__value">
            07524813
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
              <a class="govuk-link" href="customer-details">Change</a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact name
          </dt>
          <dd class="govuk-summary-list__value">
            Howard Kendall
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
              <a class="govuk-link" href="customer-details">Change</a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact email
          </dt>
          <dd class="govuk-summary-list__value">
            howard.kendall@rolls-roycemotorcars.com
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
              <a class="govuk-link" href="customer-details">Change</a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Job title
          </dt>
          <dd class="govuk-summary-list__value">
            CEO
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
              <a class="govuk-link" href="customer-details">Change</a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            HQ location
          </dt>
          <dd class="govuk-summary-list__value">
            Wales
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
              <a class="govuk-link" href="customer-details">Change</a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Medium sized and high potential companies
          </dt>
          <dd class="govuk-summary-list__value">
            An exporter with high export value
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
              <a class="govuk-link" href="customer-details">Change</a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Export experience
          </dt>
          <dd class="govuk-summary-list__value">
            Exported before, but no exports in the last 12 months
          </dd>
            <dd class="govuk-summary-list__actions govuk-!-text-align-right">
            </dd>
        </div>


  </dl><!-- ENDS -->

  <div class="govuk-inset-text">
    Contact <a href="mailto:exportwins@gov.uk">exportwins@gov.uk</a> if you need to update the section: <strong>Export experience.</strong>
  </div>


  <div class="govuk-!-padding-top-5"></div>


  <!-- STARTS 4. Win details   -->
<h2>4. Win details</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
  </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Destination
        </dt>
        <dd class="govuk-summary-list__value">
          United Arab Emirates
        </dd>
          <dd class="govuk-summary-list__actions govuk-!-text-align-right">
          </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date won (within 2023/2024 financial year)
        </dt>
        <dd class="govuk-summary-list__value">
          10/2023
        </dd>
          <dd class="govuk-summary-list__actions govuk-!-text-align-right">
          </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Summary of support
        </dt>
        <dd class="govuk-summary-list__value">
          I helped the customer by exporting to a new market, understanding paperwork needed to sell goods abroad and rules for selling services to a specific country.
        </dd>
          <dd class="govuk-summary-list__actions govuk-!-text-align-right">
            <a class="govuk-link" href="win-details">Change</a>
          </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Overseas customer
        </dt>
        <dd class="govuk-summary-list__value">
          Confidential
        </dd>
          <dd class="govuk-summary-list__actions govuk-!-text-align-right">
            <a class="govuk-link" href="win-details">Change</a>
          </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What kind of business deal was this win?
        </dt>
        <dd class="govuk-summary-list__value">
          Export sale
        </dd>
          <dd class="govuk-summary-list__actions govuk-!-text-align-right">
            <a class="govuk-link" href="win-details">Change</a>
          </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of business deal
        </dt>
        <dd class="govuk-summary-list__value">
          Export
        </dd>
          <dd class="govuk-summary-list__actions govuk-!-text-align-right">
          </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Export value over the next 5 years
        </dt>
        <dd class="govuk-summary-list__value">
          £15,000,000
        </dd>
          <dd class="govuk-summary-list__actions govuk-!-text-align-right">
          </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What does the value relate to?
        </dt>
        <dd class="govuk-summary-list__value">
          Goods
        </dd>
          <dd class="govuk-summary-list__actions govuk-!-text-align-right">
            <a class="govuk-link" href="win-details">Change</a>
          </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of goods or services
        </dt>
        <dd class="govuk-summary-list__value">
          Rolls Royce cars
        </dd>
          <dd class="govuk-summary-list__actions govuk-!-text-align-right">
            <a class="govuk-link" href="win-details">Change</a>
          </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sector
        </dt>
        <dd class="govuk-summary-list__value">
          Automotive
        </dd>
          <dd class="govuk-summary-list__actions govuk-!-text-align-right">
            <a class="govuk-link" href="win-details">Change</a>
          </dd>
      </div>

</dl><!-- ENDS -->

<div class="govuk-inset-text">
  Contact <a href="mailto:exportwins@gov.uk">exportwins@gov.uk</a> if you need to update the sections: <strong>Destination, Date won, Type of win</strong> and <strong>Export Value.</strong>
</div>


<div class="govuk-!-padding-top-5"></div>


 <!-- STARTS 5. Support given -->
 <h2>5. Support given</h2>
 <dl class="govuk-summary-list">
   <div class="govuk-summary-list__row">
   </div>


       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          HVC code
         </dt>
         <dd class="govuk-summary-list__value">
          UAE Automotive: 1834
         </dd>
           <dd class="govuk-summary-list__actions govuk-!-text-align-right">
           </dd>
       </div>


       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What type of support was given?
         </dt>
         <dd class="govuk-summary-list__value">
          Missions, Tradeshows & Events
         </dd>
           <dd class="govuk-summary-list__actions govuk-!-text-align-right">
           </dd>
       </div>


       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
          Was there a DBT campaign or event that contributed to this win?
         </dt>
         <dd class="govuk-summary-list__value">
          ESIF
         </dd>
           <dd class="govuk-summary-list__actions govuk-!-text-align-right">
           </dd>
       </div>


 </dl><!-- ENDS -->

 <div class="govuk-inset-text">
  Contact <a href="mailto:exportwins@gov.uk">exportwins@gov.uk</a> if you need to update this section.
</div>

<div class="govuk-!-padding-top-5"></div>



<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This information will be sent to howard.kendall@rolls-roycemotorcars.com so they can confirm the export win
  </strong>
</div>


<!-- START Buttons -->
<div class="govuk-button-group">
  <a href="sent-thank-you" class="govuk-button" data-module="govuk-button">
    Confirm and send to customer
  </a>
  <a class="govuk-link" href="export-wins">Cancel</a>
</div>

  
  <div class="govuk-!-padding-top-5"></div>
  </div>
</div>
<!-- END CONTAINER -->



{% endblock %}
