{% extends "layout-dh.html" %}
{% block pageTitle %}
 Data Hub
{% endblock %}

{% block header %}
{{ dataHubHeader({serviceName: "Data Hub", navigation: [{"href": "companies", "text": "Companies", "class": "active"}, {"href": "contacts", "text": "Contacts"}, {"href": "events", "text": "Events"}, {"href": "interactions", "text": "Interactions"}, {"href": "investments", "text": "Investments"}, {"href": "orders", "text": "Orders"}, {"href": "#", "text": "Find exporters"}, {"href": "#", "text": "Market access"}, {"href": "support", "text": "Support"}]}) }}
{% endblock %}


{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="export-wins">Export wins</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{ data['type-of-goods'] }} to {{ data['destination'] }}
    </li>
  </ol>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      {{ data['type-of-goods'] }} to {{ data['destination'] }}
    </h1>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% if data['type-of-win'] %}
        {% if "Export" in data['type-of-win'] %}
        {% set items = [data['export-won-year-23'] | int, data['export-won-year-24'] | int, data['export-won-year-25'] | int,data['export-won-year-26'] | int, data['export-won-year-27'] | int]%}
        {%- endif -%}
        {%- endif -%}
        {{ govukTable({
            firstCellIsHeader: true,
            classes: "govuk-!-font-size-16",
            rows: [
              [
                {
                  text: "UK Company"
                },
                {
                  html: "<a class='govuk-link' href='company-detail'>ROLLS-ROYCE HOLDINGS PLC</a>"
                }
              ],
              [
                {
                  text: "Contact"
                },
                {
                  html: "<a class='govuk-link' href='#'>" + data['contact-name'] + "</a>"
                }
              ],
              [
                {
                  text: "Goods or services"
                },
                {
                  text: data['type-of-goods']
                }
              ],
              [
                {
                  text: "Destination"
                },
                {
                  text: data['destination']
                }
              ],
              [
                {
                  text: "Export amount"
                },
                {
                  text: "£" + items | sum
                }
              ],
              [
                {
                  text: "Date won"
                },
                {
                  text: "Oct 2023"
                }
              ],
              [
                {
                  text: "Last modified"
                },
                {
                  text: "31 Oct 2023"
                }
              ],
              [
                {
                  text: "Customer feedback"
                },
                {
                  text: "I don't feel the type of goods or services is accurate and needs to be revised to show that the win was related to aircraft engines."
                }
              ],
              [
                {
                  text: "Export win confirmed"
                },
                {
                  text: "No"
                }
              ],
              [
                {
                  text: "Date of feedback"
                },
                {
                  text: "Oct 2023"
                }
              ],
              [
                {
                  text: "Adviser(s)"
                },
                {
                  text: "Data Hub user"
                }
              ]
            ]
          }) }}

          <div class="govuk-button-group">
            <a href="check-before-sending" class="govuk-button" data-module="govuk-button">
              Edit export win
            </a>
            <a class="govuk-link" href="export-wins">Back</a>
          </div>

    </div>
    </div>
  </main>
</div>


{% endblock %}
