{% extends "layout.html" %}

{% block pageTitle %}
  Verify Registered Interest – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{data['case-ref1']}}: {{data['case-name1']}}</span>
    <h1 class="govuk-heading-xl">
      Reigtration of interest
    </h1>
    <p>Approve the registration of interest documents to allow the interested party to take part in this case.</p>
    <div class="govuk-inset-text govuk-inset-text__reginterest">
      <strong>{{data['representative1']}}</strong> has been approved on to 2 cases <br>
      The last approval was on <strong>21 Feb 2020</strong> by <strong>Bobby Caseworker</strong>
    </div> 
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Party details</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <strong>Interested party</strong><br>
            {{data['party1'] or "Steel UK"}}
          </li> 
          <li>
            <strong>Representative </strong><br>
            {{data ['representative1'] or "Bluesteel Partners"}}
          </li>
          <li>
            <strong>Representative contact</strong><br>
            {{data ['rep-user1'] or "Bob Hoskins"}}
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    
    {% set firstHTML %}
    <h3 class="govuk-heading-m">Submission
    </h3>
    <form>
        <div class="govuk-form-group table-sort">
          <label class="govuk-label govuk-!-display-inline" for="sort-cases">
            Sort submissions by
          </label>
          <select class="govuk-select" id="sort-cases" name="sort-cases">
            <option value="Document" selected>Document</option>
            <option value="Submitted by">Submitted by</option>
            <option value="Submitted">Submitted</option>
          </select>
        </div>

        {{ govukButton({
          text: "Sort",
          classes: "govuk-button--secondary table-sort"
        }) }}
    </form>  

      

    <table class="govuk-table sortable mobile-table-border desktop-table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
        A table listing the submissions provided by the organsiation
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" aria-sort="ascending">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Document
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header" aria-sort="ascending">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted by
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header" aria-sort="ascending">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header no-sort">Sufficient?
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Document: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">	letter-of-authorisation-110918.docx</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Submitted: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">{{data['register-date5']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <div class="govuk-form-group">
              <label class="govuk-visually-hidden" for="sort">
                Is the document sufficient?
              </label>
              <select class="govuk-select" id="sufficient" name="sufficient" onchange="update(this);">
                <option id="select" selected>Select</option>
                <option value="Sufficient">Sufficient</option>
                <option value="Deficient">Deficient</option>
              </select>
            </div>
          </td>
        </tr>      
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Document: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">	registrationdoc-confi.docx</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Submitted: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">{{data['register-date5']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <div class="govuk-form-group">
              <label class="govuk-visually-hidden" for="sort">
                Is the document sufficient?
              </label>
              <select class="govuk-select" id="sufficient" name="sufficient" onchange="update(this);">
                <option id="select" selected>Select</option>
                <option value="Sufficient">Sufficient</option>
                <option value="Deficient">Deficient</option>
              </select>
            </div>
          </td>
        </tr>       
      </body>
    </table>  

    <div class="govuk-button-group" id="myDIV" style="display:none;">
      {{ govukButton({
        text: "Submit decision",
        href: ""
      }) }}    
      <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
    </div>

    <!--Script to show hide the submit button-->
    <script>
      function update(nameSelect)
    {
        console.log(nameSelect);
        if(nameSelect){
          selectValue = document.getElementById("select").value;
            if(selectValue == nameSelect.value){
                document.getElementById("myDIV").style.display = "none";
            }
            else{
                document.getElementById("myDIV").style.display = "block";
            }
        }
        else{
            document.getElementById("myDIV").style.display = "block";
        }
    }
    </script>

  {% endset %}

  {% set originalHTML %}
  <h3 class="govuk-heading-m">Original documentation
  </h3>
  <form>
      <div class="govuk-form-group table-sort">
        <label class="govuk-label govuk-!-display-inline" for="sort-cases">
          Sort original documentation by
        </label>
        <select class="govuk-select" id="sort-cases" name="sort-cases">
          <option value="Document" selected>Document</option>
          <option value="Uploaded by">Uploaded by</option>
        </select>
      </div>

      {{ govukButton({
        text: "Sort",
        classes: "govuk-button--secondary table-sort"
      }) }}
  </form>  

    

  <table class="govuk-table sortable mobile-table-border desktop-table-border" id="table-header">
    <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
      A table listing the original documents provided by the TRA
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" aria-sort="ascending">
          <button class="govuk-button govuk-button--secondary">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Document
            <span class="indicator" aria-hidden="true"></span>
          </button>
        </th>
        <th class="govuk-table__header" aria-sort="ascending">
          <button class="govuk-button govuk-button--secondary">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Uploaded by
            <span class="indicator" aria-hidden="true"></span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell text-overflow">
          <span class="govuk-visually-hidden--desktop">Document: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">	letter-of-authorisation.docx</a>
        </td>
        <td class="govuk-table__cell text-overflow">
          <span class="govuk-visually-hidden--desktop">Uploaded by: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">{{data['caseworkername']}}</a>
        </td>
      </tr>   
      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell text-overflow">
          <span class="govuk-visually-hidden--desktop">Document: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">	registration-docs.docx</a>
        </td>
        <td class="govuk-table__cell text-overflow">
          <span class="govuk-visually-hidden--desktop">Uploaded by: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">{{data['caseworkername']}}</a>
        </td>
      </tr>       
    </body>
  </table> 
 
  {% endset %}


  {{ govukTabs ({
    items: [
    { 
      label: "Submission",
      id: "first",
      panel: {
        html: firstHTML
      }
    },
    { 
      label: "Original documentation",
      id: "original",
      panel: {
        html: originalHTML
      }
    }
    ]
  }) }}

  </div>

</div>


{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


