{% extends "layout.html" %}

{% block pageTitle %}
  Feedback complete - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Feedback sent"
      }) }}

      <p class="govuk-body">Your feedback has been sent</p>
      <p class="govuk-body">Your feedback will help us improve our service.</p>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Go to my dashboard",
          href: "dashboard"
        }) }}    
      </div>

  </div>
</div>

{% endblock %}
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}