{% extends "layout.html" %}

{% block pageTitle %}
  Give feedback - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="feedback-complete" method="post" id="feedback-form">

        <h1 class="govuk-heading-l">
          Give feedback on the Trade Remedies Service 
        </h1>

        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h2 class="govuk-fieldset__heading">
                Overall, how would you rate your experience with the Trade Remedies Service today?  
              </h2>
            </legend>
             <div class="govuk-radios star-rating3__stars" data-module="govuk-radios">
                <input class="star-rating3__input" type="radio" name="task-rating" value="1" id="task-rating-1" {{ checked("task-rating", "1") }} onclick="hide2();" />
                <label class="star-rating3__label" for="task-rating-1" aria-label="Very dissatisfied"><span class="govuk-label text">Very dissatisfied</span></label></a>
                <input class="star-rating3__input" type="radio" name="task-rating" value="2" id="task-rating-2" {{ checked("task-rating", "2") }} onclick="hide2();" />
                <label class="star-rating3__label" for="task-rating-2" aria-label="Dissatisfied"><span class="govuk-label text">Dissatisfied</span></label>
                <input class="star-rating3__input" type="radio" name="task-rating" value="3" id="task-rating-3" {{ checked("task-rating", "3") }} onclick="hide2();" />
                <label class="star-rating3__label" for="task-rating-3" aria-label="Neither satisified or dissatisfied"><span class="govuk-label text">Neither satisified or dissatisfied</span></label>
                <input class="star-rating3__input" type="radio" name="task-rating" value="4" id="task-rating-4" {{ checked("task-rating", "4") }} onclick="hide2();" />
                <label class="star-rating3__label" for="task-rating-4" aria-label="Satisfied"><span class="govuk-label text">Satisfied</span></label>
                <input class="star-rating3__input" type="radio" name="task-rating" value="5" id="task-rating-5" {{ checked("task-rating", "5") }} onclick="hide1();" />
                <label class="star-rating3__label" for="task-rating-5" aria-label="Very satisfied"><span class="govuk-label text">Very satisfied</span></label>
                <div class="star-rating3__focus"></div>
              </div>
          </fieldset>
        </div>

        <!--2nd question only shown if there are less than 5 stars-->
        <div class="govuk-form-group task-issue-hide" id="div1">
          <fieldset class="govuk-fieldset" aria-describedby="task-issue-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              What didn't work so well (optional)?
            </legend>
            <div id="task-issue-hint" class="govuk-hint">
              Select all options that are relevant to you.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="task-issue-1" name="task-issue" type="checkbox" value="email">
                <label class="govuk-label govuk-checkboxes__label" for="task-issue-1">
                  Process is not clear
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="task-issue-2" name="task-issue" type="checkbox" value="phone">
                <label class="govuk-label govuk-checkboxes__label" for="task-issue-2">
                  Not enough guidance 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="task-issue-3" name="task-issue" type="checkbox" value="text message">
                <label class="govuk-label govuk-checkboxes__label" for="task-issue-3">
                  I was asked for information I don’t have 
                </label>
              </div>
               <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="task-issue-5" name="task-issue" type="checkbox" value="text message">
                <label class="govuk-label govuk-checkboxes__label" for="task-issue-5">
                  I didn’t get information I expected 
                </label>
              </div>
               <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="task-issue-4" name="task-issue" type="checkbox" value="text message" data-aria-controls="conditional-task-issue-4">
                <label class="govuk-label govuk-checkboxes__label" for="task-issue-4">
                  Other issue
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-task-issue-4">
                <div class="govuk-form-group">
                <label class="govuk-label" for="task-issue-other">
                  What other issues did you have?
                </label>
                <textarea class="govuk-textarea govuk-!-width-two-third" id="task-issue-other" name="task-issue-other" rows="5" spellcheck="true"></textarea>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <!--Script to show hide the 2nd question if stars are less than 5-->
        <script>
        function hide1(){
          document.getElementById('div1').style.display = 'none';
          document.getElementById('div2').style.display = 'none';
        }
        function hide2(){
          document.getElementById('div1').style.display = 'block';
          document.getElementById('div2').style.display = 'none';
        }
        </script>



        {% if data['task-rating'] =="5" or data['task-rating'] =="0" %}
          {% else %}
          <div class="govuk-form-group" id="div2">
            <fieldset class="govuk-fieldset" aria-describedby="task-issue-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                What didn't work so well (optional)?
              </legend>
              <div id="task-issue-hint" class="govuk-hint">
                Select all options that are relevant to you.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="task-issue-1" name="task-issue" type="checkbox" value="email">
                  <label class="govuk-label govuk-checkboxes__label" for="task-issue-1">
                    Process is not clear
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="task-issue-2" name="task-issue" type="checkbox" value="phone">
                  <label class="govuk-label govuk-checkboxes__label" for="task-issue-2">
                    Not enough guidance 
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="task-issue-3" name="task-issue" type="checkbox" value="text message">
                  <label class="govuk-label govuk-checkboxes__label" for="task-issue-3">
                    I was asked for information I don’t have 
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="task-issue-4" name="task-issue" type="checkbox" value="text message" data-aria-controls="">
                  <label class="govuk-label govuk-checkboxes__label" for="task-issue-4">
                    I couldn’t find the information I wanted
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="task-issue-5" name="task-issue" type="checkbox" value="text message" data-aria-controls="conditional-task-issue-5">
                  <label class="govuk-label govuk-checkboxes__label" for="task-issue-5">
                    Other issues
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-task-issue-5">
                  <div class="govuk-form-group">
                  <label class="govuk-label" for="task-issue-other">
                    What other issues did you have?
                  </label>
                  <textarea class="govuk-textarea govuk-!-width-two-third" id="task-issue-other" name="task-issue-other" rows="5" spellcheck="true"></textarea>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

      

        {% endif %}

        {{ govukCharacterCount({
          name: "more-detailt",
          id: "more-detail",
          maxlength: 1200,
          label: {
            text: "How could we improve this service (optional)?",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "Do not include personal or financial information like your National Insurance number or credit card details."
          }
        }) }}

        <p>We use feedback to help us improve the service and cannot respond to any requests for support you make on this form.</p>

        {{ govukButton({
          text: "Submit"
        }) }}

    </form>
  </div>
</div>

{% endblock %}
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}
