{% extends "layout.html" %}

{% block pageTitle %}
Email sent - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html"%}

  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Email sent     
      </h1>
      <p>Check your email and follow the link provided to reset your password. </p>
      <p>You will only receive a password reset email if you entered the same email you used to sign up.</p>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "email/email-signin-forgotpass-reset",
          text: "For user testing: Go to email"
        }
      ]
    }
  }) }}
{% endblock %}