{% extends "layout.html" %}

{% block pageTitle %}
  Two factor authentication - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Two-factor authentication      
      </h1>

      {% if (data['rerequest2FA'] == "yes") %}

        {% set requestSent %}
            We have sent a new authetication code to [email address or mobile number].
        {% endset %}

        {{ govukInsetText({
          text: requestSent
        }) }}

      {% else %}

        <p>We have sent an authentication code to [email address or mobile number].  </p>

      {% endif %}


      <p>This code will be valid for 10 minutes. You can request a new code if you need more time.</p>

      <form action="/public-site/dashboard" method="post" id="signin-2fa-form">
    
        {{ govukInput({
          label: {
            text: "Enter the code"
          },
          classes: "govuk-input--width-5",
          id: "signin-code",
          name: "signin-code"
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I have a problem with my code 
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>If you have not received a code or it has expired, you can request a new code using this link: <br>
            <a href="signin-2FA?rerequest2fa=yes">Send a new code</a></p>
            <p>If you request a new code too many times, your account may be temporarily locked. It will be automatically re-enabled shortly.</p>
            <p>Receiving your code by text message is sometimes less reliable.<br>
            <a href="signin-2FA?rerequest2fa=yes">Email my code</a></p>
          </div>
        </details>

        {{ govukButton({
          text: "Submit code"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "email/email-signin-2fa",
          text: "For user testing: Go to email"
        }
      ]
    }
  }) }}
{% endblock %}