{% extends "layout.html" %}

{% block pageTitle %}
  Sign in or create account - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Sign in
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Trade Remedies Service
      </h1>
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Error summary e.g. You have not entered an email address",
            href: "#signin-email"
          },
          {
            text: "Error summary e.g. You have not entered a password",
            href: "#signin-password"
          }
        ]
      }) }}

      <p>To request a Trade Remedies investigation or participate in an existing case, create an account or sign in to the Trade Remedies Service.</p>

      <p><a href="#">Create an account</a></p>

      <form action="/trade-remedies/dashboard" method="post" id="signin-form">

        {% call govukFieldset({
          legend: {
            text: "Sign in",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: false
          }
        }) %}
        
          {{ govukInput({
            label: {
              text: "Email address"
            },
            classes: "govuk-input--width-20",
            id: "signin-email",
            name: "signin-email",
            autocomplete: "email",
            errorMessage: {
              text: "Error text e.g. Enter an email address"
            }
            
          }) }}
        
          {{ govukInput({
            label: {
              text: "Password"
            },
            classes: "govuk-input--width-20",
            id: "signin-password",
            name: "signin-password",
            type: "password",
            errorMessage: {
              text: "Error text e.g. Enter a password"
            }
          }) }}

        <p><a href="signin-forgotpass" class="govuk-link govuk-link--no-visited-state">Forgotten password</a></p>

        {{ govukButton({
          text: "Sign in"
        }) }}

        {% endcall %}
      </form>

    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
