{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
    Dashboard – {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width dash-nav' %}

{% block header %}
    {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
        Welcome
    </h1>
    <p>This is your dashboard for trade remedies cases you are involved in.</p>
    <form>
      <div class="govuk-form-group table-sort">
        <label class="govuk-label govuk-!-display-inline" for="sort-cases">
            Sort your cases by
        </label>
        <select class="govuk-select" id="sort-cases" name="sort-cases">
            <option value="No." selected>No.</option>
            <option value="Case">Case</option>
            <option value="Type">Type</option>
            <option value="Applicant">Applicant</option>
            <option value="Initiated">Initiated</option>
            <option value="Status">Status</option>
            <option value="Alerts">Alerts</option>
        </select>
      </div>
      <div class="govuk-form-group table-sort">
        <label class="govuk-label govuk-visually-hidden" for="direction-cases">
            Direction
        </label>
        <select class="govuk-select" id="direction-cases" name="direction-cases">
            <option value="Decending" selected>Decending</option>
            <option value="Ascending ">Ascending </option>
        </select>
      </div>

      {{ govukButton({
        text: "Sort",
        classes: "govuk-button--secondary table-sort"
      }) }}
    </form>
    <table class="govuk-table sortable mobile-table-border desktop-table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
         A table listing all of the representatives that have access to this organisations account
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" aria-sort="ascending">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>No.
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Case
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Type
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Applicant
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Initiated
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Status
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Next task
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Alerts
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">No. </span>
            <a href="cases/case-overview" class="govuk-link--no-visited-state">{{ data['case-ref1'] }}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">{{ data['case-name1'] }}</a>
            </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>
            <span title="{{ data['case-type1'] }}">{{ data['case-typeabr1'] }}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Applicant: </span><a href="#" class="govuk-link--no-visited-state">{{ data['applicant1'] }}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{ data['initiated1'] }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Status: </span>{{ data['status1'] }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Next task: </span>{{ data['next-task1'] }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Alerts: </span><strong class="govuk-tag govuk-tag--red">8</strong>
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">No. </span><a href="" class="govuk-link--no-visited-state">{{ data['case-ref4'] }}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="" class="govuk-link--no-visited-state">{{ data['case-name4'] }}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>
            <span title="{{ data['case-type1'] }}">{{ data['case-typeabr4'] }}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Applicant: </span><a href="#" class="govuk-link--no-visited-state">{{ data['applicant4'] }}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{ data['initiated4'] }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Status: </span>{{ data['status4'] }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Next task: </span>{{ data['next-task4'] }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Alerts: </span><strong class="govuk-tag govuk-tag--green">0</strong>
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">No. </span><a href="" class="govuk-link--no-visited-state">{{ data['case-ref6'] }}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="" class="govuk-link--no-visited-state">{{ data['case-name6'] }}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>
            <span title="{{ data['case-type1'] }}">{{ data['case-typeabr6'] }}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Applicant: </span><a href="#" class="govuk-link--no-visited-state">{{ data['applicant6'] }}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{ data['initiated6'] }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Status: </span>{{ data['status6'] }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Next task: </span>{{ data['next-task6'] }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Alerts: </span><strong class="govuk-tag govuk-tag--green">0</strong>
          </td>
        </tr>
      </body>
   </table>
  </div>
</div>
{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
