{% extends "layout.html" %}

{% block pageTitle %}
  Password reset email sent – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width caseworker-red' %}

{% block beforeContent %}

  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Password reset email sent     
      </h1>
      <p>We've sent an email to the email address you provided. Use the link in the email to reset your password.</p>
      <p>You'll only receive a password reset email if that email address is registered with us.</p>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "email/email-signin-forgotpass-reset",
          text: "For user testing: Go to email"
        }
      ]
    }
  }) }}
{% endblock %}