{% extends "layout.html" %}

{% block pageTitle %}
  Sign in – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width caseworker-red' %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="signin-2fa?rerequest2FA=no" method="post" id="signin-form">

 <!-- This text is only shown to screen readers and informs the user that the password is / isn't hidden -->
        <p aria-live="polite" id="password-text" class="sr-only">Password hidden.</p>


        {% call govukFieldset({
          legend: {
            text: "Sign in to Trade Remedies",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}
        
          {{ govukInput({
            label: {
              text: "Email address"
            },
            classes: "govuk-input--width-20",
            id: "signin-email",
            name: "signin-email",
            type: "email",
            autocomplete: "email"
          }) }}
        

          <div class="input-with-button">
            <button id="show-password" type="button" role="switch" aria-checked="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              <span class="show-text">Show</span>
            </button>
            
            {{ govukInput({
              label: {
                text: "Password"
              },
              classes: "govuk-input--width-15",
              id: "password",
              name: "password",
              type: "password",
              describedBy: "password-hints",
              autocomplete: "new-password" 
            }) }}
          
          </div>

        <p><a href="signin-forgotpass" class="govuk-link govuk-link--no-visited-state">Forgotten password</a></p>

        {{ govukButton({
          text: "Sign in"
        }) }}

        {% endcall %}
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
