{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Barrier created",
        html: "The barrier ID is<br><strong>B-23-T65</strong>"
      }) }}

      <!-- DISPLAY BASED ON STEP REACHED IN MVE JOURNEY -->
      <!-- DISPLAYED IF ALLOWED AND TITLE AND SUMMARY -->
      {% if data['barrier-public-view-status'] == 'Can be published' and data['public-title'] and data['public-summary'] %}

      <p class="govuk-body">Within the next 30 days, the approver in your region needs to confirm they are happy for the barrier to be published.</p>

      {% elseif data['barrier-public-view-status'] == 'Cannot be published' %}
        <p class="govuk-body">You stated that the barrier cannot be published on GOV.UK. This decision will be reviewed by your regional coordinator.</p>
      {% else %}
      <!-- DISPLAYED IF NO TITLE AND SUMMARY -->
        <p class="govuk-body">Within the next 30 days:</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>you need to provide a public title and summary on the <a href="#">Public view page</a></li>
          <li>the approver in your region needs to confirm they are happy for the barrier to be published</li>
        </ul>
      
      {% endif %}


      <!-- DISPLAYED IF SET TO NOT ALLOWED TO BE PUBLISHED -->





    </div>
  </div>

{% endblock %}