{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Barrier created",
        html: "The barrier ID is<br><strong>B-23-T65</strong>"
      }) }}

      <!-- DISPLAY BASED ON STEP REACHED IN MVE JOURNEY -->

      {% if data['barrier-public-view-status'] == 'Allowed' and data['public-title'] and data['public-summary'] %}
      <p class="govuk-body">In the next 30 days the approver in your region needs to confirm they are happy for the barrier to be published.</p>

      {% elseif data['barrier-public-view-status'] == 'Not allowed' %}
        Not allowed
      {% else %}
      <!-- DISPLAYED IF NO TITLE AND SUMMARY -->
        <p class="govuk-body">As soon as you can, go to the <a href="#" class="govuk-link">Public view page</a> to provide a public title and summary. </p>
        <p class="govuk-body">In the next 30 days:</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>you need to write a public title and summary </li>
          <li>the approver in your region needs to confirm they are happy for the barrier to be published </li>
        </ul>
      
      {% endif %}


      <!-- DISPLAYED IF SET TO NOT ALLOWED TO BE PUBLISHED -->





    </div>
  </div>

{% endblock %}