{% extends "layouts/main.html" %}

{% block pageTitle %}
  About the barrier – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set captionHeading %}
        <span class="govuk-caption-m">Section 1 of 11</span>
        About the barrier
      {% endset %}

      <form class="form" action="section-2" method="post">

        <p>
         
          {{ govukFieldset({
            legend: {
              html: captionHeading,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: false
            }
          }) }}
          
          {{ govukCharacterCount({
            name: "barrier-title",
            value: data['barrier-title'],
            id: "barrier-title",
            maxlength: 150,
            rows: 1,
            label: {
              text: "Barrier title",
              classes: "govuk-label--s",
              isPageHeading: true
            },
            hint: {
              text: "Include the product, service or investment and the type of problem. For example, Import quotas for steel rods."
            }
          }) }}

          {{ govukCharacterCount({
            name: "barrier-description",
            value: data['barrier-description'],
            id: "barrier-description",
            maxlength: 500,
            rows: 3,
            label: {
              text: "Barrier description",
              classes: "govuk-label--s",
              isPageHeading: true
            },
            hint: {
              text: "Explain how the barrier is affecting trade and why it exists. Where relevant include the specific laws or measures blocking trade, and any political context."
            }
          }) }}


        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

        {{ govukButton({
          text: "Save and exit",
          classes: "govuk-button--secondary",
          href: "#"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
