{% extends "layouts/main.html" %}

{% block pageTitle %}
  Add public title – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% set titleHintText %}
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Guidance on writing summaries
      </span>
    </summary>
    <div class="govuk-details__text">
      We will add some guidance here and possibly links to help, or examples or both or more.
    </div>
  </details>
  <p class="govuk-body govuk-hint">You need to provide a public summary for the barrier with the internal description <strong>{% if data['barrier-description'] %} {{ data['barrier-description'] }}{% else %} Electronics to Iceland{% endif %}</strong>.</p>
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">Section 11 of 11</span>
      <h1 class="govuk-heading-l">
        Add a public summary
      </h1>
      
      <form class="form" action="check-answers" method="post">
      {{ govukCharacterCount({
        name: "public-summary",
        value: data['public-summary'],
        id: "public-summary",
        maxlength: 150,
        rows: 1,
        hint: {
          html: titleHintText | safe
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      {{ govukButton({
        text: "Save and exit",
        classes: "govuk-button--secondary",
        href: "public-view-tab-temp?action-state=save-and-continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
