{% extends "layouts/main.html" %}

{% block pageTitle %}
  Goods, services or investments affected – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">Section 7 of 11</span>
      <h1 class="govuk-heading-l">
        Goods, services or investments affected
      </h1>

      <form class="form" action="section-8" method="post">

        <p>
          You would select the goods, services or investments affected at this point.
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

        {{ govukButton({
          text: "Save and exit",
          classes: "govuk-button--secondary",
          href: "#"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
