{% extends "layouts/main.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "icms-home-II",
  serviceName: "Manage import licences and certificates for export",
  serviceUrl: "icms-home-II",
  navigation: [
    {
      href: "manage-account",
      text: "Home"
    },
    {
      href: "#3",
      text: "Licences and certificates"
    }
    ,
    {
      href: "manage-account",
      text: "Manage account",
      active: true
    }
    ,
    {
      href: "/orgs-list-view",
      text: "Your organisations"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-form-group">
  <h1 class="govuk-heading-xl">
    Assign member to offices
  </h1>

  <div class="govuk-checkboxes" data-module="govuk-checkboxes">

    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
      <label class="govuk-label govuk-checkboxes__label" for="nationality">
        ACME HQ
      </label>
      <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
        Buckingham Palace
        <br>
        London
        <br>
        SW1A 1AA
      </div>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
      <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
        ACME Midlands
      </label>
      <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
        Buckingham Palace
        <br>
        London
        <br>
        SW1A 1AA
      </div>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
      <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
        ACME Cardiff
      </label>
      <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
        Buckingham Palace
        <br>
        London
        <br>
        SW1A 1AA
      </div>
    </div>
  </div>
</fieldset>
</div>
  <br>
  {{ govukButton({
    text: "Save",
    href: "/user-details",
    attributes: {
      "data-action": "form-submit",
      "data-submitting-text": "Submitting...",
      "data-prevent-double-click": "true",
      "onclick": "return handleSignIn();"
    }
  }) }}

</div>



{% endblock %}


