{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Create your password
      </h1>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
            <label class="govuk-label" for="password">
              Enter a password
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            It must be at least 8 characters and must include letters and numbers. Do not use a very common password, such as 'password' or a sequence of numbers.
          </div>
            <div class="govuk-password-input" style="display: flex;">
              <input class="govuk-input" id="password" name="password" type="password" autocomplete="off" style="flex: 1;">
              <button class="govuk-button govuk-button--secondary govuk-password-input__button" type="button" aria-label="Toggle password visibility" style="margin-left: 10px;" onclick="togglePasswordVisibility()">
                Show
              </button>
            </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="password">
              Re-type password
            </label>
            <div class="govuk-password-input" style="display: flex;">
              <input class="govuk-input" id="password" name="password" type="password" autocomplete="off" style="flex: 1;">
              <button class="govuk-button govuk-button--secondary govuk-password-input__button" type="button" aria-label="Toggle password visibility" style="margin-left: 10px;" onclick="togglePasswordVisibility()">
                Show
              </button>
            </div>
          
          <script>
            function togglePasswordVisibility() {
              var passwordInput = document.getElementById("password");
              var showButton = document.querySelector(".govuk-password-input__button");
          
              if (passwordInput.type === "password") {
                passwordInput.type = "text";
                showButton.textContent = "Hide";
              } else {
                passwordInput.type = "password";
                showButton.textContent = "Show";
              }
            }
          </script>
          
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How to create a secure password
              </span>
            </summary>
            <div class="govuk-details__text">
              A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.
            </div>
          </details>
          
          <h2 class="govuk-heading-s">
            Agree to our terms of use
          </h2>

          <p>By continuing, you confirm that you agree to our:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">privacy notice (opens in a new tab)</a>, which explains how we use your personal information</li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">terms and conditions (opens in a new tab)</a></li>
    </ul>
  
        
          {{ govukButton({
            text: "Continue",
            href: "choose-security"
          }) }}

        </fieldset>
      </form>
      

    </div>
  </div>

  



 
    

   

{% endblock %}


