{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        You do not need to use this service
      </h1>

      <p>
        Based on your answers, you cannot obtain an import licence for <b>7207111400 - Iron, Steel and Aluminium</b> commodities from ICMS. 
        Follow the links below for more information regarding your commodities and importing goods into the UK.
      </p>

      <div class="govuk-button-group">
        <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/import-goods-into-uk" target="_blank">Import goods into the UK: step by step</a>
      </div>

      <div class="govuk-button-group">
        <a class="govuk-link govuk-link--no-visited-state" href="https://www.trade-tariff.service.gov.uk/commodities/7207111400" target="_blank">Legal requirements: 72071114 commodities</a>
      </div>

      <h2 class="govuk-heading-m">
        Your answers
      </h2>
     

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: " Check if you need an import licence or export certificate"
            },
            value: {
              text: "Apply for an import licence"
            },
            actions: {
              items: [
                {
                  href: "/icms-home-II",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Are you importing goods impacted by sanctions?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/icms-home-II",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Choose a country of origin"
            },
            value: {
              text: "United Sates"
            },
            actions: {
              items: [
                {
                  href: "/import-form",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,     
          {
            key: {
              text: "Choose a country of consignment"
            },
            value: {
              text: "United Sates"
            },
            actions: {
              items: [
                {
                  href: "/import-form",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Choose your goods"
            },
            value: {
              text: "7207111400 - Iron, Steel and Aluminium"
            },
            actions: {
              items: [
                {
                  href: "/import-form-2-part-2",
                  text: "Change",
                  visuallyHiddenText: "Question 4"
                }
              ]
            }
          }
        ]
      }) }}

      <p>
        <a href="/icms-home-II">Start again</a>
      </p>
      
    </div>
  </div>

  
{% endblock %}
