{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        You need to use this service
      </h1>

      <div class="govuk-inset-text">
        The Certificate of Good Manufacturing Practice (GMPC) only applies to cosmetic products being exported to China. 
        The GMPC certifies that cosmetics manufactured by the applying company are manufactured in compliance with Good Manufacturing Practice.
      </div>

      <p>
        Based on your answers, you need a <b>Certificate of Good Manufacturing Practice</b> from Manage import licences and certificates for export. Create an account or sign in to begin the process.
      </p>

      <div class="govuk-button-group">
        <a href="/onegov-new" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <h2 class="govuk-heading-m">
        Your answers
      </h2>
     


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Check if you need an import licence or export certificate
          </dt>
          <dd class="govuk-summary-list__value">
            Apply for a certificate for export
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/export-form-2">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Choose a destination country
          </dt>
          <dd class="govuk-summary-list__value">
            China
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/export-form-2">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Choose a certificate type
          </dt>
          <dd class="govuk-summary-list__value">
            Certificate of Good Manufacturing Practice (GMPC)
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/export-form-2">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>

      <p>
        <a href="/icms-home-II">Start again</a>
      </p>

      <h2 class="govuk-heading-m">
        Want to know more?
      </h2>
     
      <p>
        <a href="#" target="_blank">
          Understanding the Certificate of Good Manufacturing Practice (GMPC)</a>
      </p>

    </div>
  </div>

  
{% endblock %}
