{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <span class="govuk-caption-m">2 of 3</span>
  <h1 class="govuk-heading-xl">
    Has anyone else from the organisation set up an account?
  </h1>
  <div class="govuk-radios govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
      <label class="govuk-label govuk-radios__label" for="changed-name">
        Yes
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
      <label class="govuk-label govuk-radios__label" for="changed-name">
        No
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="changed-name-3" name="changed-name" type="radio" value="no">
      <label class="govuk-label govuk-radios__label" for="changed-name-3">
        I don't know
      </label>
    </div>
  </div>
  <div class="govuk-form-group">
    <br />
  </div>
  {{ govukButton({
    text: "Continue",
    href: "",
    attributes: {
      "data-action": "form-submit",
      "data-submitting-text": "Submitting...",
      "data-prevent-double-click": "true",
      "onclick": "return handleSignIn();"
    }
  }) }}
</div>

<script>
  function handleSignIn() {
    const yesRadio = document.getElementById("changed-name");
    const noRadio = document.getElementById("changed-name-2");
    const dontKnowRadio = document.getElementById("changed-name-3"); // Add this line

    if (yesRadio.checked) {
      window.location.href = "get-account";  // URL for "Yes" option
    } else if (noRadio.checked) {
      window.location.href = "/name-of-org";  // URL for "No" option
    } else if (dontKnowRadio.checked) { // Add this else if block
      window.location.href = "/name-of-org";  // URL for "I don't know" option
    }

    return false;  // Prevent form submission
  }
</script>

{% endblock %}



