{% extends "layout.html" %}

{% block pageTitle %}
  Choose case - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'user-nav' %}


{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">   
    

      <form action="user-account" method="post" id="assign-case-form">   
        {% if (data['invite-case'] == "AD2224 - Steel plate from Russia,AS3464 - Garnets from Gabon") %}
          <h1 class="govuk-heading-xl">
            Which case can the user take part in?
            <br>
          </h1>
          <p> There are no more cases available to assign to this user.</p>
          {{ govukDetails({
            summaryText: "Why can't I see other active cases?",
            html: '<p>You can only select cases that your organisation is taking part in.</p>
            <p> You can <a href="" class="govuk-link">register interest</a> in a case and if accepted you can invite others.</p>'
          }) }}
           <div class="govuk-button-group">
            {{ govukButton({
              text: "Back"
            }) }}    
          </div>
          {% else %}

          {% if data['invite-case'] =="None" or data['invite-case'] == null %}

            {{ govukCheckboxes({
              idPrefix: "invite-case",
              name: "invite-case",
              fieldset: {
                legend: {
                  text: "Which case can the user take part in?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                text: "Select all that apply"
              },
              items: [
                {
                  value: "AD2224 - Steel plate from Russia",
                  html: "AD2224 - Steel plate from Russia",
                  checked: checked("invite-case", "AD2224 - Steel plate from Russia")
                },
                {
                  value: "AS3464 - Garnets from Gabon",
                  html: "AS3464 - Garnets from Gabon",
                  checked: checked("invite-case", "AS3464 - Garnets from Gabon" )
                }
              ]
            }) }}

            {% else %}
            {% if (data['invite-case'] == "AD2224 - Steel plate from Russia") %}

              {{ govukCheckboxes({
                idPrefix: "invite-case",
                name: "invite-case",
                fieldset: {
                  legend: {
                    text: "Which case can the user take part in?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
                hint: {
                  text: "Select all that apply"
                },
                items: [
                  {
                    value: "AD2224 - Steel plate from Russia,AS3464 - Garnets from Gabon",
                    html: "AS3464 - Garnets from Gabon",
                    checked: checked("invite-case", "AD2224 - Steel plate from Russia,AS3464 - Garnets from Gabon" )
                  }
                ]
              }) }}

              {% else %}
              {% if (data['invite-case'] == "AS3464 - Garnets from Gabon") %}

                {{ govukCheckboxes({
                  idPrefix: "invite-case",
                  name: "invite-case",
                  fieldset: {
                    legend: {
                      text: "Which case can the user take part in?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--xl"
                    }
                  },
                  hint: {
                    text: "Select all that apply"
                  },
                  items: [
                    {
                      value: "AD2224 - Steel plate from Russia,AS3464 - Garnets from Gabon",
                      html: "AD2224 - Steel plate from Russia",
                      checked: checked("invite-case", "AD2224 - Steel plate from Russia,AS3464 - Garnets from Gabon")
                    }
                  ]
                }) }}              
              {% endif %}
            {% endif %}
          {% endif %}
        
          {{ govukDetails({
            summaryText: "Why can't I see other active cases?",
            html: '<p>You can only select cases that your organisation is taking part in.</p>
            <p> You can <a href="" class="govuk-link">register interest</a> in a case and if accepted you can invite others.</p>'
          }) }}
          
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Assign"
            }) }}    
             
          </div>
        {% endif %}
      </form> 
    </div>
  </div>
{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "#1",
        text: "Help"
      },
      {
        href: "#2",
        text: "Cookies"
      },
      {
        href: "/public-site/terms-privacy",
        text: "Terms & Privacy"
      },
      {
        href: "#4",
        text: "Accessibility statement"
      },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      },
      {
        href: "invite-user-case-rep",
        text: "Cases for Rep orgs"
      }
    ]
  }
}) }}
{% endblock %}