{% extends "layout.html" %}

{% block pageTitle %}
There's a problem - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'user-nav' %}

{% block header %}
 {% include "includes/header-public-signedout.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        There's a problem
      </h1>
      <p>You cannot change the user’s role in this case.</p>
      <p>There must always be at least one case contact on a case.</p>
      
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back",
          href: "javascript: history.back()"
        }) }}    
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}