{% extends "layout.html" %}

{% block pageTitle %}
Remove user - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'user-nav' %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Remove user
      </h1>
      <p>
        {% if data['account-user'] =="party-user1" %}
          {{data['party-user11'] }} - {{data['party-email11'] }}
          {% else %}
          {% if data['account-user'] =="party-user11" %}
            {{data['party-user11'] }} - {{data['party-email11'] }}
            {% else %}
            {% if data['account-user'] =="invite-rep-name" or data['account-user'] =="rep-user3" %}
              {{data['invite-rep-name'] or data['rep-user3']}} - {{data['invite-rep-email'] or data['rep-email3']}}
              {% else %}
              {% if data['account-user'] =="invite-user-name" %}
                {{data['invite-user-name'] or data['party-user11']}} - {{data['invite-user-email'] or data['party-email11']}}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
        <br>
        {% if data['remove-case'] =="case1" %}
          {{data['case-ref1'] }} - {{data['case-name1'] }}
          {% else %}
          {% if data['remove-case'] =="case5" %}
            {{data['case-ref5'] }} - {{data['case-name5'] }}
            {% else %}
            {% if data['remove-case'] =="case6" %}
              <p>{{data['case-ref6'] }} - {{data['case-name6'] }}
            {% endif %}
          {% endif %}
        {% endif %}
      </p>

      <p>Are you sure you want to remove the user from this case? They will no longer be able to access or manage the case.</p>
      
      {% if data['invite-case'] =="AD2224 - Steel plate from Russia,AS3464 - Garnets from Gabon" %}
        {% if data['remove-case'] =="case1" %}
        <form action="user-account?invite-case=AS3464 - Garnets from Gabon" method="post" id="remove-user-form">
          {% else %}
          {% if data['remove-case'] =="case5" %}
            <form action="user-account?invite-case=AD2224 - Steel plate from Russia" method="post" id="remove-user-form">
          {% endif %}
        {% endif %}
        {% else %}
        <form action="user-account?invite-case=None" method="post" id="remove-user-form">
      {% endif %}

        <input type="hidden" id="show-invite" name="show-invite" value="no">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Remove user"
          }) }}    
         
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}