{% set pvStatus = data['barrier-public-view-status'] %}
{% set pvApproved = data['public-title'] %}
{% set pvSummaryStatus = data['public-summary'] %}
{% set pvApprovalStatus = data['approval-status'] %}
{% set pvStatus = 'not allowed' %}
{% set pvTitleStatus = 'entered' %}
{% set pvSummaryStatus = 'entered' %}
{% set pvApprovalStatus = 'not approved' %}
<!-- NEED TO COME BACK AND SET AN OVERALL PUBLIC VIEW STATUS VAR -->

<!-- IF PV NOT ALLOWED WE SUPRESS THE COMPONENT -->
{% if pvStatus == "not allowed" %}

<!-- IF PV NOT SET EITHER WAY -->
{% elseif not pvStatus %}  
    <!-- show first time box style -->
    <div class="information-box information-box__notset">
            <div class="govuk-summary-list__row">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Approval</h2>
            </div>     
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">You must set the public view status and add a title and summary.</p>
    </div>

<!-- IF PV SET AND TITLE AND SUMMARY ADDED --> 
{% elseif pvStatus == "allowed" and pvTitleStatus == "entered" and pvSummaryStatus == "entered" %}
    <div class="information-box">
        <div class="govuk-summary-list__row">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Approval</h2>
        </div>
        <h3 class="govuk-!-margin-top-0 govuk-!-margin-bottom-1">Approvers for this barrier:</h3>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-0">
            <li>Market Access Regional Coordinators</li>
            <li>BTR Regional Teams</li>
            <li>Department for Levelling Up, Housing and Communities</li>
            <li>Department for Environment, Food & Rural Affairs</li>
        </ul>
        {% if pvApprovalStatus == "not approved"%}
            <ul class="govuk-list ">
                <li class="govuk-!-margin-top-0"><a href="#" class="govuk-link--no-visited-state govuk-!-font-size-19">Edit approvers</a></li>
            </ul>
            {{ govukButton({
                text: "Mark as approved",
                classes: "govuk-!-margin-bottom-1"
            }) }}
        {% else %}
            {{ govukButton({
                text: "Mark as not approved",
                classes: "govuk-button--secondary govuk-!-margin-bottom-1"                
            }) }}
        {% endif %}
    </div>

{% endif %}

<!---
If not allowed hide
else
if blank then say set allowed or not and add a title and summary
else
must be set to allowed so show various states which are:
    Not approved - show edit approvers / approve button
    Approved - show unapprove button

end if

-->