
{% extends "layout.html" %}

{% block pageTitle %}
  Home – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Trade Remedies Prototype
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        </h1>
        <p>This is the prototype for the Trade Remedies System for Caseworker and public users. This prototype is <strong>NOT</strong> fully functional
        </p>
        <p>Please <a href="/manage-prototype/clear-data" class="govuk-link--no-visited-state">clear data</a> to delete all stored data and re-set the prototype between journeys.</p>
  
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">          
            <ol class="app-task-list">
              <li> 
                <h2 class="app-task-list__section">
                  <span class="app-task-list__section-number">1. </span> 
                  Public TRS journeys
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-18</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/start?who-signin=org&user-permissions=Admin user" class="govuk-link--no-visited-state" aria-describedby="create-status">
                        Create account, Sign in & Forgotton Password
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="create-status">Live</span>
                    <!--errors-->
                    <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Error pages
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <a href="public-site/create-account/createaccount-your-org-uk-search-api-error?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - companies house api error
                        </a><br>
                        <a href="public-site/create-account/createaccount-your-org-uk-search-no-js?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - no Javascript error
                        </a>
                      </div>
                    </details>
                    <!---->
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-19</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/reg-interest/reginterest-tasks?who-signin=org&tasklist-type=reg-interest" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Register Interest - own org
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/reg-interest/reginterest-tasks?who-signin=rep&tasklist-type=reg-interest" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Register Interest - as a Representative
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/dashboard-deficient-case-v1?who-signin=org&tasklist-type=reg-interest&regcase-task=complete&which-org-task=complete&reginterest-task=Deficient&upload-pre-task=def&upload-loa-task=def&loa-download=no&user-permissions=Admin user&account-activated=fully&regnterest-due-date=current&reginterest-what-org=new-org" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        ROI (approved on to case) - submission deficiency
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/dashboard-deficient-pending-v1?who-signin=org&tasklist-type=reg-interest&regcase-task=complete&which-org-task=complete&reginterest-task=Deficient&upload-pre-task=def&upload-loa-task=def&loa-download=no&user-permissions=Admin user&account-activated=fully&regnterest-due-date=current&reginterest-what-org=new-org" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        ROI (pending) - submission deficiency
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                     <span class="app-task-list__task-name">
                      <a href="public-site/reg-interest/reginterest-app-details?who-signin=org&tasklist-type=reg-interest&regcase-task=complete&which-org-task=complete&reginterest-task=all&upload-pre-task=def&upload-loa-task=def&loa-download=no&user-permissions=Admin user&account-activated=fully&regnterest-due-date=current&reginterest-what-org=new-org" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        ROI status page - all status's
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                    <!--errors-->
                    <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Error pages
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <a href="public-site/reg-interest/reginterest-duplicate-error?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - duplicate registration of interest
                        </a>
                        <br>
                        <a href="public-site/reg-interest/reginterest-upload-nojs" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - no js on uploads page
                        </a>
                      </div>
                    </details>
                    <!---->
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-21</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/invite/invite-user-type?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Invite user - own org or Rep
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/dashboard-invite-v1-5?who-signin=org&tasklist-type=invite-rep&invite-rep-task=Deficient&invite-loa-task=def&invite-case-task=complete&invite-which-org-task=complete&loa-download=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Invite Rep - deficient invite v1.5
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/dashboard-invite-none-v1-5?who-signin=org&tasklist-type=invite-rep&invite-rep-task=Deficient&invite-loa-task=def&invite-case-task=complete&invite-which-org-task=complete&loa-download=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Invite Rep - no invites on dash v1.5
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="/public-site/dashboard?who-signin=org&user-permissions=Admin%20user&account-activated=fully&invite-rep-task=Deficient&manage-user-states=All" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Invite Rep - all invite status on dash v2
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>

                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/invite/invite-app-details-rep?who-signin=org&tasklist-type=invite-rep&invite-rep-task=All&invite-loa-task=def&invite-case-task=complete&invite-which-org-task=complete&loa-download=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Invite Rep status - all status's
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/invite/invite-app-details-rep?who-signin=org&show-invite-rep=yes&invite-rep-task=Sent&invite-rep-what-org=new-org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Cancel user invite
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <!--errors-->
                    <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Error pages
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <a href="public-site/manage-users/tasklist/invite-case-none" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - org is not registered to a case 
                        </a><br>
                        <a href="public-site/manage-users/invite/invite-user-already-error?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - existing email part of orgs account
                        </a>
                      </div>
                    </details><br>
                    <!---->
                    <span class="app-task-list__task-name">
                      <a href="public-site/email/email-invite-org-user?reg-type=invite-own-org&who-signin=org-invite" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Accept invite to account - own org
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span>
                    <span class="app-task-list__task-name">
                      <a href="public-site/email/email-invite-rep?reg-type=invite-rep&who-signin=rep-invite&invite-rep-who-reg=Email recipient" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Accept invite to account - new rep
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span>
                    <span class="app-task-list__task-name">
                      <a href="public-site/email/email-invite-rep-has-account?reg-type=invite-rep&who-signin=rep-invite&user-permissions=Admin user&account-activated=fully&reginterest-task=null&invite-rep-task=Sent" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Accept invite to account - Existing rep
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br><br><br>
                    <!--errors-->
                    <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Error pages
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <a href="public-site/manage-users/invite/invite-user-cancel-error" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - no invite
                         </a>
                      </div>
                    </details>
                  </li>

                  <li class="app-task-list__item"> 
                    <span class="app-task-list__task-name">TRSP-23</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/email/email-caseworker-existing-invite-org?reg-type=sigin&who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Accept caseworker invite - existing user
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span>
                    <span class="app-task-list__task-name">
                      <a href="public-site/email/email-caseworker-new-invite-org?reg-type=sigin&who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Accept caseworker invite - new user
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span>
                  </li>
                  <li class="app-task-list__item"> 
                    <span class="app-task-list__task-name">TRSP-31 & 34</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/manage-org-user?who-signin=org&user-permissions=Admin user&account-activated=yes&manage-user-states=Initial&invite-org-task=none&invite-rep-task=none" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Manage users - initial state
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/manage-org-user?who-signin=org&user-permissions=Admin user&account-activated=yes&manage-user-states=All" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Manage users - all states
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/user-account?who-signin=org&user-permissions=Admin user&account-activated=yes&manage-user-states=All&account-user=invite-user-name" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Assign own org user to case
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/assign-own-user-case-rep?who-signin=org&user-permissions=Admin user&account-activated=yes&manage-user-states=All&account-user=invite-user-name" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Rep org assign case: case/ org combo
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/user-account?who-signin=org&user-permissions=Admin user&account-activated=yes&manage-user-states=All&account-user=invite-user-name&invite-case=AD2224 - Steel plate from Russia,AS3464 - Garnets from Gabon" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Remove user from case
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/user-account?who-signin=org&user-permissions=Admin user&account-activated=yes&manage-user-states=All&account-user=invite-user-name&invite-case=AD2224 - Steel plate from Russia,AS3464 - Garnets from Gabon" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Change users case role (case contact)
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/user-account?who-signin=org&user-permissions=Admin user&account-activated=yes&manage-user-states=All&account-user=invite-user-name#account-details" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Manage own org user details
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <!--errors-->
                    <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Error pages
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <a href="public-site/manage-users/case-role-error" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - only one Case contact
                         </a>
                      </div>
                    </details>
                    <!---->
                  </li>          
                  <li class="app-task-list__item"> 
                    <span class="app-task-list__task-name">TRSP-56</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/feedback-task-complete" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Feedback on positive task completion
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/feedback-task-blocked" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Feedback on blocked task completion
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/feedback?task-rating=0" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Feedback on service
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                  </li>
                  <li class="app-task-list__item"> 
                    <span class="app-task-list__task-name">TRSP-97</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/start-gds" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       GDS Start page
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                  </li>   
                  <li class="app-task-list__item"> 
                    <span class="app-task-list__task-name">TRSP-108</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/account/account?who-signin=org&user-permissions=Admin user" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Manage account - users own details
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In design</span><br>
                  </li>    
                  <li class="app-task-list__item"> 
                    <span class="app-task-list__task-name">TRSP-119</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/public-cases/cases-all?signed-out=yes&user-permissions=Admin user" class="govuk-link--no-visited-state" aria-describedby="public-file1">
                       Public file - user not logged in
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="public-file1">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/public-cases/cases-all?signed-out=no&user-permissions=Admin user" class="govuk-link--no-visited-state" aria-describedby="public-file2">
                       Public file - user logged in
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="public-file2">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/public-cases/case-submission?party=VIRAJ%20PROFILES%20PRIVATE%20LIMITED&submission=Questionnaire&type=Exporter" class="govuk-link--no-visited-state" aria-describedby="public-file2">
                       Submission - from Int Party
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="public-file2">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/public-cases/case-submission-tra?party=Trade%20Remedies%20Authority&submission=The%20Statement%20of%20Essential%20Facts&type=Trade%20Remedies%20Authority" class="govuk-link--no-visited-state" aria-describedby="public-file2">
                       Submission - from TRA
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="public-file2">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/public-cases/case-submission-tra-intparty?party=VIRAJ PROFILES PRIVATE LIMITED&submission=General publication - Submission (from an interested party)&type=Exporter" class="govuk-link--no-visited-state" aria-describedby="public-file2">
                       Submission - TRA on behalf of Int Party
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="public-file2">In design</span><br>
                  </li>       
                </ul>
              </li>
            </ol>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">          
            <ol class="app-task-list">
              <li>
                <h2 class="app-task-list__section">
                  <span class="app-task-list__section-number">2. </span> 
                  Caseworker TRS journeys
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="caseworker/signin?who-signin=invest" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Sign in & Forgotton Password
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-20 and 24</span><br>
                    <span class="app-task-list__task-name">
                      <a href="/caseworker/reg-interest/reginterest-tasks?who-signin=lead&verify-type=reg-interest&third-party=no&loa-sufficient=yes" class="govuk-link--no-visited-state">
                        Verify ROI - Interested party only
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-parties-page-mergev1?who-signin=lead&verify-type=reg-interest&duplicate-org=both&third-party=yes&loa-sufficient=no&merge-duplicates=1of2&merge-int-task=Not started&merge-rep-task=Not started" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Verify ROI (v1) - Joint Duplicates (v2)
                      </a>
                    </span><span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                     <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-parties-page-rep-mergev1?who-signin=lead&verify-type=merge-only&duplicate-org=rep&third-party=yes&loa-sufficient=no&merge-duplicates=1of2" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Verify ROI (v1) - Split Duplicates (v2)
                      </a>
                    </span><span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/reg-interest/reginterest-loa-submission?who-signin=lead&verify-type=reg-interest&third-party=yes&loa-sufficient=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Verify ROI - LOA Sufficiency
                      </a>
                    </span><span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a class="govuk-link--no-visited-state" href="/caseworker/reg-interest/reginterest-tasks?who-signin=lead&verify-type=reg-interest&third-party=yes&loa-sufficient=yes">
                        Verify ROI - with Rep</a> 
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a class="govuk-link--no-visited-state" href="/caseworker/reg-interest/reginterest-tasks-dup?who-signin=lead&verify-type=reg-interest&duplicate-org=both&third-party=yes&loa-sufficient=yes&merge-duplicates=1of2&merge-int-task=Not started&merge-rep-task=Not started">
                        Verify ROI - Duplicate with Int Party and Rep</a> 
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span>
                     <span class="app-task-list__task-name">
                      <a href="caseworker/cases/case-party-awesomesteel?who-signin=invest" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Verify ROI - Int Party that could not be verified
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-23</span><br>
                    <span class="app-task-list__task-name">
                      <a href="/caseworker/cases/existing-parties-invite?who-signin=lead&direct-invite=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Invite to case
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-22 and 24</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-submission-page?who-signin=invest&verify-type=rep-invite&third-party=yes&loa-sufficient=yes" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite from Submissions
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                     <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-parties-page?who-signin=invest&verify-type=rep-invite&third-party=yes&loa-sufficient=yes" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite from Parties page
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/reg-interest/reginterest-loa-submission?who-signin=invest&verify-type=rep-invite&third-party=yes&loa-sufficient=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite - LOA not sufficient
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-submission-page?who-signin=lead&verify-type=rep-invite&duplicate-org=rep&third-party=yes&loa-sufficient=yes&merge-rep-task=Not started&merge-duplicates=1c" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite - single duplicate as a Lead
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-submission-page?who-signin=lead&verify-type=rep-invite&duplicate-org=rep&third-party=yes&loa-sufficient=yes&merge-rep-task=Not started&merge-duplicates=1of2" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite - multiple duplicates as a Lead
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                     <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-submission-page?who-signin=invest&verify-type=rep-invite&duplicate-org=rep&third-party=yes&loa-sufficient=yes&merge-rep-task=Not started&merge-duplicates=1of2" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite - duplicates as an Investigator
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Live</span><br>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-69</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/submissions/existing-submission-publish?who-signin=lead" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Submissions - publish (v1)
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/cases-all?who-signin=lead" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        All cases
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/case-overview?who-signin=lead" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Single case - overview page
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/case-parties?who-signin=lead" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Parties page (idea 1)
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/case-parties2?who-signin=lead" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Parties page (idea 2)
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="/caseworker/cases/existing-orgs-duplicate?who-signin=lead&verify-type=merge-only&duplicate-org=int&merge-int-task=Not%20started&merge-duplicates=1c" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Org within a case (v1) - duplicate (v2)
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/case-party-steeluk?who-signin=lead" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Org within a case (v2)
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="caseworker/orgs/orgs-all?who-signin=lead" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        All organisations
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/orgs/org-bluesteel?who-signin=lead" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Single organisation
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/orgs/orgs-all" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Merge two organisations
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="caseworker/users/users-all?who-signin=lead" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        All users
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/users/user-account?who-signin=lead" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Single user
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span><br>
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <p>
            <a class="govuk-link--no-visited-state" href="/trs-layout">Template with components</a>
          </p>
          <h2 class="govuk-heading-m" id="subsection-title">Public key states</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/start?who-signin=org">Trade Remedies Start page</a> 
              </li>   
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=org&user-permissions=Admin user&account-activated=no&reginterest-task=null&invite-rep-task=null">Dashboard for Org - not-activated</a> 
              </li> 
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=org&user-permissions=Admin user&account-activated=yes&reginterest-task=null&invite-org-task=none&invite-rep-task=none&my-cases=null">Dashboard for Org - activated but empty</a> 
              </li> 
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=org&user-permissions=Admin user&account-activated=fully&reginterest-task=Draft&reginterest-due-date=current&reginterest-what-org=my-org">Dashboard for Org - Reg Interest</a> 
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=org&user-permissions=Admin user&account-activated=fully&my-cases=yes">Dashboard for Org - Cases</a> 
              </li>   
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=org&user-permissions=Admin user&account-activated=fully&invite-rep-task=Sent">Dashboard for Org - with pending invite (Rep)</a> 
              </li>   
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=rep-invite&user-permissions=Admin user&account-activated=fully&invite-rep-task=Sent">Dashboard for Rep - with client invite</a> 
              </li> 
            </ul>
          </nav>
          <h2 class="govuk-heading-m" id="subsection-title">Caseworker key states</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link--no-visited-state" href="/caseworker/signin?who-signin=invest">Caseworker sign in</a> 
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/caseworker/dashboard?who-signin=invest">Caseworker dashboard</a> 
              </li>`
            </ul>
          </nav>
        </aside>
  
      </div>
    </div>

{% endblock %}


