{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block stylesheets %}
 <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />
 <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageScripts %}
 <script src="/public/javascripts/password.js"></script>
 <script src="/public/javascripts/table1.js"></script>
 <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
{% endblock %}
 