/* Caseworker - Address card  */

.address-cover {
  background-color: govuk-colour("light-grey");
  padding: 20px 20px 0px 20px;
}

.address-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: govuk-colour("light-grey");
}

.address-card-duplicate {
  /* Add shadows to create the "card" effect */
  background-color: white;
}

/* On mouse-over, add a deeper shadow */
.address-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.address-container {
  padding: 25px 20px 5px 20px;
  margin-bottom: 30px;
}

/* Add some padding inside the card container */
.address-container .govuk-heading-m, .address-cover .govuk-form-group, .govuk-details__text .govuk-form-group {
  margin-bottom: 10px;
}

// How the warning message looks in an address container used at the top of page

.address-container .govuk-warning-text  {
  margin-bottom: 0px;
  padding: 0px;
}

.govuk-warning-text__text-p  {
  padding-left: 45px;
  padding-right: 20px;
}

.govuk-warning-text__text-p button  {
  margin-bottom: 0px;
}
//

// Dashboard warning messages for case/ invite updates
.govuk-warning-text__icon.update-icon  {
  margin-top: -3px;
  font-size: 24px;
  line-height: 20px;
  min-width: 27px;
  min-height: 27px;
}

.govuk-warning-text__text.update-text {
  padding-left: 35px;
}
//

.verified-check {
  margin: 0px 0px -10px 10px;
}

.unverified-check {
  margin: 0px 0px -10px 10px;
}

.pending-clock {
  margin: 0px 4px -7px 10px;
  width: 28px;
}

.verified-tick {
  margin: 0px 3px -2px 20px;
}