// This is for the Blue panel header on the Public Cases site


.govuk-bluepanel--confirmation {
    color: #ffffff;
    background: #005ea5;
}

.govuk-panel {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}

.inverse-header {
  background: #005ea5;
  color: white;
}
.govuk-bluepanel {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 25px 25px 0px 25px;
    border: 5px solid transparent;
    text-align: left;
}