/* Password condition check */

/*check: Add a green text color and a checkmark when the requirements are right */
.valid {
  color: #216334;
}

ul li.invalid {
  list-style-type: disc;
}

ul li.valid {
  list-style-type: "\2713";
}

/* Password show hide password text basedc on https://incl.ca/show-hide-password-accessibility-and-password-hints-tutorial/*/
/* Show hide button */
.sr-only{
  border:0 none;
  clip:rect(0px,0px,0px,0px);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
}

.input-with-button {
  position: relative;
}

#show-password, #show-confirm {
position: absolute;
left: 305px;
top: 31px;
width: 80px;
}

.govuk-input--width-15 {
  max-width: 31ex;
}