/*** Small viewports ***/
//@media all and (max-width: 40.0625em) {

@include govuk-media-query($until: tablet) {

  /*  Turn table in blocks */
  .sortable tr,
  .sortable th,
  .sortable td {
  display: block;
  }

  .sortable th {
    display: none;
  }

  .sortable tr:nth-child(even) {
    background-color: govuk-colour("light-grey");
  }

  .sortable tr:last-child {
    border-bottom: none;
  }

  .sortable tr:first-child {
    border-top: none;
  }

  .sortable tr {
    border-bottom: 1px govuk-colour("mid-grey") solid;
  }
      
  .govuk-visually-hidden--mobile {
    @include govuk-visually-hidden();
  } 

  /* border for all mobile tables*/
  .sortable.mobile-table-border {
    border: solid 1px govuk-colour("mid-grey");
  }

  .sortable  .govuk-table__cell {
    border: none;
  }

  /* For sorting on mobile*/
  .table-sort {
    display: inline-block;
    padding-right: 10px;
  }

}

/**** Normal size viewport ****/

/* This border only gets used if the table is NOT in tabs*/
@media (min-width: 40.0625em) {
  .desktop-table-border {
    border-top: solid 1px govuk-colour("mid-grey");
    border-left: solid 1px govuk-colour("mid-grey");
    border-right: solid 1px govuk-colour("mid-grey");
  }

  /* For the hiding the select boxes on desktop that are used for sorting on mobile */
  .table-sort {
    display: none;
  }
}

/* Table filter */
.container {
  overflow: hidden;
}

.sortable .hideTR {
  display: none; /* Hidden by default */
}


/* The "show" class is added to the filtered elements */
.sortable .showTR {
  display: table-row;
}

/* Add a light grey background on mouse-over */
.govuk-button--secondary.active {
  background-color: #ddd;
}

/* //////////// */


.govuk-table__header {
  padding: 10px 10px 10px 0;
}

.sortable tr.govuk-table__row td, .merge tr.govuk-table__row th, .merge tr.govuk-table__row td {
  padding-left: 8px;
  padding-right: 25px;
}

.sortable tr.govuk-table__row th {
  padding-left: 6px;
  padding-right: 25px;
}

.sortable tr.govuk-table__row th {
  vertical-align: middle;
}

.sortable .govuk-table__cell.action {
  text-align: right;
}

/* For all tables that are sortable - and for the merge table*/
.sortable th, .merge th {
  background-color: govuk-colour("light-grey");
}

/*  Accessible table taken from w3c: https://w3c.github.io/aria-practices/examples/table/sortable-table.html */

table.sortable th, table.merge th {
  position: relative;
}

table.sortable th button {
  padding: 0px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  box-shadow: 0 0px;
  background: none;
  margin: 0px;
}

table.sortable .govuk-button:active, .govuk-button:hover, .govuk-button:focus {
  border-color: govuk-colour("light-grey");
  outline: govuk-colour("light-grey");
  box-shadow: none;
}

table.sortable th button span.indicator {
  position: absolute;
  margin-left: 3px;
}

table.sortable th[aria-sort="descending"] span.indicator::before {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-bottom: 7px solid govuk-colour("mid-grey");
}

table.sortable th[aria-sort="descending"] span.indicator::after {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-top: 7px solid govuk-colour("black");
}

table.sortable th[aria-sort="ascending"] span.indicator::before {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-bottom: 7px solid govuk-colour("black");
}

table.sortable th[aria-sort="ascending"] span.indicator::after {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-top: 7px solid govuk-colour("mid-grey");
}

table.sortable th span.indicator::before {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-bottom: 7px solid govuk-colour("mid-grey");
}

table.sortable th span.indicator::after {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-top: 7px solid govuk-colour("mid-grey");
}


/* Focus and hover styling */

table.sortable th:not([aria-sort]) button:focus span::before,
table.sortable th:not([aria-sort]) button:hover span::before {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-bottom: 7px solid govuk-colour("mid-grey");
}

table.sortable th:not([aria-sort]) button:focus span::after,
table.sortable th:not([aria-sort]) button:hover span::after {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-top: 7px solid govuk-colour("mid-grey");
}

/* For filtering on caseworker cases*/
.table-filter {
  display: inline-block;
  padding-right: 20px;
}

#table-filter .govuk-button--secondary {
float: left;
}

/* This is the select button in the caseworker table in reg interest */
table.sortable td button {
  padding: 0px;
  text-align: left;
  cursor: pointer;
  box-shadow: none;
  margin: 0px;
  color:  govuk-colour("blue");
  background:  none;
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

/*Caseworker case users table - putting border-topback*/ 
.case-user tr:first-child {
  border-top: 1px solid govuk-colour("mid-grey");
}

table.sortable .govuk-form-group {
  margin-bottom: 0px;
}

// Highlight status e.g. Deficient
table.sortable .app-task-list__tag {
  float: left;
}