/* Uploads test*/
/* Uploads test*/
/* Uploads test*/
/* Uploads test*/
/* Uploads test*/


.upload-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  background-color: white;
  margin-bottom: 16px;
  max-height: 150px
}

/* On mouse-over, add a deeper shadow */
.upload-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);

}

/* Thisis just to show the hover state when drag and drop is working*/
.upload-card-hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  background-color: govuk-colour("light-grey");
}

/* Add some padding inside the card container */
.upload-container {
  text-align: center;
  padding: 20px 10px 10px 10px;
}

/* Doing clever things with the file browser button  https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way   
https://css-tricks.com/drag-and-drop-file-uploading/  */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* /* "hand" cursor */
.inputfile + label {
	cursor: pointer; 
  color: #1d70b8;
}

.inputfile + label * {
	pointer-events: none;
}


/* Hiding the input itself in a correct manner was one thing, the other is indicating when the element is focused, i.e. rendering .inputfile:focus on the label:*/
.inputfile:focus + label {
  outline: 3px solid transparent;
  background: #ffdd00;
  color: #0b0c0c;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}



  input.upload-button {    
   display: initial;
 }

 progress {
  padding: 15px 0 10px 0;
}

.remove-doc-panel {
  float: right;
  top: -10px;
  right: 15px;
  position: relative;
}

.cancel-invite-link {
  float: right;
  top: 0px;
  position: relative;
}

#input-js {
  margin: auto;
  max-width: 80%;
}

.row-colour {
  background-color:  govuk-colour("light-grey")	;
  padding-top: 15px;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  border: dashed 1px govuk-colour("mid-grey");
}