{% extends "layouts/main.html" %}

{% block pageTitle %}
  Add public title – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- CHECK IF FIRST VISIT -->
{% set actionState = data['action-state'] %}
{% if data['public-title'] %}
  {% set titleHeadingText = "Update public title" %}
{% else %}
  {% block beforeContent %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}
  {% set titleHeadingText = "Add a public title" %}
{% endif %}

{% set titleHintText %}
<p class="govuk-body">You need to provide a public summary for the barrier <strong>{% if data['barrier-summary'] %} {{ data['barrier-title'] }} {% else %} Electronics to Iceland. {% endif %}</strong>.</p>
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Guidance on writing titles
      </span>
    </summary>
    <div class="govuk-details__text">
      We will add some guidance here and possibly links to help, or examples or both or more.
    </div>
  </details>
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ titleHeadingText }}
      </h1>
      
      <form class="form" action="/barrier-title-submit" method="post">
      {{ govukCharacterCount({
        name: "public-title",
        value: data['public-title'],
        id: "public-title",
        maxlength: 150,
        rows: 1,
        hint: {
          html: titleHintText | safe
        }
      }) }}

    {% if actionState == 'edit-pv-title' %}
      {{ govukButton({
        text: "Update"
      }) }}
      <a href="public-view-tab-temp" class="govuk-link form-cancel">Cancel</a>

    {% else %}
      {{ govukButton({
        text: "Continue"
      }) }}

      {{ govukButton({
        text: "Save and exit",
        classes: "govuk-button--secondary",
        href: "public-view-tab-temp?action-state=save-and-continue"
      }) }}
    {% endif %}


      </form>

    </div>
  </div>
{% endblock %}
