{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Barrier created",
        html: "The barrier ID is<br><strong>B-23-T65</strong>"
      }) }}

      <h2 class="govuk-heading-m">What do I need to do next?</h2>
      <h3>You need to add a public title and description to this barrier</h3>

      {{ govukInsetText({
        text: "Whatever information you provide next can be changed at any time."
      }) }}

      <p>You will be asked:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>provide a publically viewable title</li>
        <li> provide a publically viewable summary</li>
      </ul>

      <form class="form" action="barrier-title" method="post">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        
          {{ govukButton({
            text: "I'll do this later",
            href: "public-view-tab-temp?action-state=do-later",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}