{% extends "layout-dw.html" %}

{% block header %}
{{
    dataHubHeader({
        serviceName: "Data Workspace",
        navigation: [
            {"href": "#", "text": "Home", "active": true},
            {"href": "#", "text": "Tools"},
            {"href": "#", "text": "Request data"},
            {"href": "#", "text": "About"},
            {"href": "#", "text": "Support and feedback"},
            {"href": "#", "text": "Help centre"}
        ]
    })
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Welcome to Data Workspace
    </h1>
    <p class="govuk-body-l">
        Data Workspace is where DIT staff and partners can access, analyse and securely share data and data visualisations relevant to DIT.
    </p>

    <div class="govuk-hint">
      Search in data name and description
    </div>
    <div class="search-field govuk-!-margin-bottom-9">
      <label class="govuk-label search-field__label" for="search">Enter your search term(s)</label>
      <div class="search-field-wrapper">
        <input type="search" name="q" id="search" title="Search" class="govuk-input search-field__item search-field__input js-class-toggle" value="" aria-controls="">
        <div class="search-field-submit-wrapper search-field__item">
          <input class="search-field__submit" type="submit" value="Search">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
