{% extends "layout-dh.html" %}
{% block pageTitle %}
 Data Hub
{% endblock %}

{% block header %}
{{ dataHubHeader({serviceName: "Data Hub", navigation: [{"href": "#", "text": "Companies"}, {"href": "#", "text": "Contacts"}, {"href": "#", "text": "Events"}, {"href": "#", "text": "Interactions"}, {"href": "#", "text": "Investments"}, {"href": "#", "text": "Orders"}, {"href": "#", "text": "Find exporters"}, {"href": "#", "text": "Market access"}, {"href": "#", "text": "Support"}]}) }}
{% endblock %}


{% block content %}


{% endblock %}
