{% extends "layout-dh-home.html" %}
{% block pageTitle %}
 Data Hub
{% endblock %}

{% block header %}
{{ dataHubHeader({serviceName: "Data Hub", navigation: [{"href": "companies", "text": "Companies"}, {"href": "contacts", "text": "Contacts"}, {"href": "events", "text": "Events"}, {"href": "interactions", "text": "Interactions"}, {"href": "investments", "text": "Investments"}, {"href": "orders", "text": "Orders"}, {"href": "#", "text": "Find exporters"}, {"href": "#", "text": "Market access"}, {"href": "support", "text": "Support"}]}) }}
{% endblock %}


{% block content %}

<!-- Search -->

<div class="govuk-grid-row govuk-!-margin-top-8">
  <div class="govuk-grid-column-full">
    <label class="govuk-label" for="address-line-1">
      Search for company, contact, event, investment project or OMIS order
    </label>
    <div class="govuk-form-group homepage--search-container">
      <input class="govuk-input" type="text" placeholder="Enter your search term(s)" ><button type="submit" size="40"><svg viewBox="0 0 18 18" focusable="false" aria-hidden="true"><g fill="#ffffff"><path d="M18,16.56l-4.32-4.32a7.65,7.65,0,1,0-1.44,1.44L16.56,18ZM2,7.62a5.6,5.6,0,1,1,5.59,5.59A5.6,5.6,0,0,1,2,7.62Z"></path></g></svg><span class="govuk-visually-hidden">Submit Search</span></button>
    </div>
  </div>
</div>

<!-- Data Hub updates -->

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-full">
    <hr class="keyline-4"></hr>
    <h3 class="govuk-heading-m govuk-!-margin-top-4">Data Hub updates</h3>
    <a href="http://data-services-help.trade.gov.uk/data-hub/updates/announcements/company-overview/" target="_blank" rel="noopener noreferrer" aria-labelledby="link-label" class="govuk-link govuk-!-font-size-19">New company overview page</a> <span class="govuk-body govuk-!-font-size-14">(Link opens in a new window)</span><br />
    <p class="govuk-body govuk-!-font-size-14">3 days ago</p>
    <p class="govuk-body govuk-!-font-size-14"><a href="" class="govuk-link">View all Data Hub updates</a></p>
    <hr class="keyline-4"></hr>
  </div>
</div>

<!-- Tabbed content -->

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#past-day">
            My companies lists
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-week">
            My referrals
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-month">
            My pipeline
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="past-day">
        <h3 class="govuk-heading-m">1 My companies list</h3>
        <hr></hr>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-m">Example list</h4>
          </div>
          <div class="govuk-grid-column-one-half govuk-!-text-align-right">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Edit list name
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Delete list
            </button>
          </div>
        </div>
        <div class="govuk-grid-column-full bg-grey govuk-!-padding-2">
          <div class="govuk-grid-column-one-half">
            <label for="company-name"><span class="govuk-!-font-size-19 govuk-!-padding-right-3">Search this list</span><input placeholder="Company name" id="company-name" type="text" class="govuk-input govuk-input--width-10" value=""></label>
          </div>
          <div class="govuk-grid-column-one-half govuk-!-text-align-right">
            <div class="govuk-form-group govuk-!-margin-0">
              <label class="govuk-label" for="sort">
                Sort by
              <select class="govuk-select" id="sort" name="sort">
                <option value="published">Recent interaction</option>
                <option value="updated" selected>Least recent interaction</option>
                <option value="views">Company name A-Z</option>
              </select>
              </label>
            </div>
          </div>
        </div>
        <table class="govuk-table govuk-!-font-size-16">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Company name</th>
              <th scope="col" class="govuk-table__header">Last interaction</th>
              <th scope="col" class="govuk-table__header">Subject</th>
              <th scope="col" class="govuk-table__header">Added by</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Example company</td>
              <td class="govuk-table__cell">22 Mar 2023</td>
              <td class="govuk-table__cell"><a href="" class="govuk-link">Initial DSE meeting - overview</a></td>
              <td class="govuk-table__cell">Multiple advisers</td>
              <td class="govuk-table__cell"><button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1" data-module="govuk-button">Add interaction</button></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Example company</td>
              <td class="govuk-table__cell">22 Mar 2023</td>
              <td class="govuk-table__cell"><a href="" class="govuk-link">Initial DSE meeting - overview</a></td>
              <td class="govuk-table__cell">Multiple advisers</td>
              <td class="govuk-table__cell"><button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1" data-module="govuk-button">Add interaction</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-m">0 received referrals</h3>
          </div>
          <div class="govuk-grid-column-one-half govuk-!-text-align-right">
            <div class="govuk-form-group govuk-!-margin-0">
              <label class="govuk-label" for="sort">
                View
              <select class="govuk-select" id="sort" name="sort">
                <option value="published">Received referrals</option>
                <option value="updated" selected>Sent referrals</option>
              </select>
              </label>
            </div>
          </div>
        </div>
        <hr></hr>
        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-5">You have not received or sent any referrals.</p>
        <p class="govuk-body govuk-!-margin-bottom-0">You can refer companies to other advisers from a company page.</p>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
        <h3 class="govuk-heading-m">0 projects</h3>
        <div class="govuk-inset-text">
          <p class="govuk-body">My pipeline allows you to track the progress of your projects.</p>

          <p class="govuk-body">For more information please see the <a href="" class="govuk-link">help centre article</a> on how to use this feature.</p>
        </div>


      </div>
    </div>
  </div>
</div>



{% endblock %}
