{% extends "layout.html" %}
{% block pageTitle %}
 Data Workspace
{% endblock %}



{% block content %}



    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Data Hub Prototypes</h1>
        <p class="govuk-body">
          This is where you can find templates as well as prototypes in progress or completed. </p>
<div class="govuk-!-padding-bottom-4"></div>
     </div>




      <div class="govuk-grid-column-full">

          <h2 class="govuk-heading-l">People's workspace</h2>
              <div class="govuk-grid-column-one-third">
                  <h2 class="govuk-heading-m">Sam's space</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <a class="govuk-link" href="/sam/data-explorer">Data explorer</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/sam/data-workspace">Data Workspace</a>
                        </li>
                    </ul>

                    <h2 class="govuk-heading-m">Ece's space</h2>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>
                              <a class="govuk-link" href="/ece/data-workspace">Data Workspace</a>
                          </li>
                         </ul>
                </div>


                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Michal's space</h2>
                       <ul class="govuk-list govuk-list--bullet">
                          <li>
                            <a class="govuk-link" href="/michal/data-workspace">Data Workspace</a>
                          </li>
                        </ul>
                  </div>

                  <div class="govuk-grid-column-one-third">
                      <h2 class="govuk-heading-m">Sekhar's space</h2>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>
                            <a class="govuk-link" href="/sekhar/data-workspace">Data Workspace</a>
                          </li>
                       </ul>
                     </div>
          </div>



           <div class="govuk-grid-column-two-thirds">


            <div class="govuk-!-padding-bottom-6"></div>


             <h3 class="govuk-heading-l">Up-to-date templates</h3>

                  <p class="govuk-body">Copy and paste the pages to your /app/views folder to use as a base to for your prototypes.</p>

                  <ul class="govuk-list govuk-list--bullet">
                    <li> <a class="govuk-link" href="/current/data-hub/blank"> Blank page </a> </li>
                    <li> <a class="govuk-link" href="/current/data-hub/homepage"> Homepage </a> </li>
                    <li> <a class="govuk-link" href="/current/data-hub/companies"> Companies page</a> </li>
                    <li> <a class="govuk-link" href="/current/data-hub/company-detail"> Company detail</a></li>
                    <li> <a class="govuk-link" href="/current/data-hub/contacts"> Contacts</a></li>
                    <li> <a class="govuk-link" href="/current/data-hub/events"> Events</a> </li>
                    <li> <a class="govuk-link" href="/current/data-hub/interactions"> Interactions</a> </li>
                    <li> <a class="govuk-link" href="/current/data-hub/interaction-type"> Interaction type</a> </li>
                    <li><a class="govuk-link" href="/current/data-hub/interaction-details/export-standard-interaction">Standard export interaction form</a></li>
                    <li><a class="govuk-link" href="/current/data-hub/interaction-summary">Interaction summary</a></li>
                    <li><a class="govuk-link" href="/current/data-hub/investments">Investments</a></li>
                    <li><a class="govuk-link" href="/current/data-hub/orders">Orders</a></li>
                  </ul>
                </div>
              </div>






{% endblock %}
