{% extends "layout.html" %}

{% block pageTitle %}
Create an account - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="createaccount-password" novalidate method="post" id="createaccount-your-account-form">  
        
        <h1 class="govuk-heading-xl">
          Create an account
        </h1>

        {{ govukInput({
          label: {
            text: "Enter your name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "createaccount-name",
          name: "createaccount-name",
          type: "text",
          autocomplete: "name",
          value: data['createaccount-name']

        }) }}
  
        {{ govukInput({
          label: {
            text: "Your email address",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Use your professional email to sign in."
          },
          id: "createaccount-email",
          name: "createaccount-email",
          classes: "govuk-input--width-20",
          type: "email",
          autocomplete: "email",
          value: data['createaccount-email']
        }) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Terms of Use and Privacy Notice
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  I have read and understood the <a href="/public-site/terms-privacy" target="_blank">Terms of Use and Privacy Notice (opens in a new window or tab)</a>
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          
      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}