{% extends "layout.html" %}

{% block pageTitle %}
  Registering pre-requisites - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/createaccount-uk-reg-route" method="post" id="createaccount-uk-reg-form"> 
               
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "createaccount-uk-reg",
          name: "createaccount-uk-reg",
          fieldset: {
            legend: {
              text: "Is your organisation a registered UK company?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("createaccount-uk-reg", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("createaccount-uk-reg", "no")
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "How do I find out if my organisation is registered in the UK?",
          html: ' <p class="govuk-body">You can find this on the <a href="https://www.gov.uk/get-information-about-a-company" target="_blank" rel="noopener noreferrer" class="govuk-link">Companies House register (opens in a new tab).</a></p>
          <p>If you cannot find your organisation on the register you need to select "No" your organisation is not registered in the UK.</p>'
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          

        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}