{% extends "layout.html" %}

{% block pageTitle %}
Existing account for your organisation? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/createaccount-existing-account-route" method="post" id="createaccount-existing-account-form"> 
               
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "createaccount-existing-account",
          name: "createaccount-existing-account",
          fieldset: {
            legend: {
              text: "Has anyone else from your organisation already set up an account?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("createaccount-existing-account", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("createaccount-existing-account", "No")
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}