{% extends "layout.html" %}

{% block pageTitle %}
  
Your link has expired - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your link has expired
      </h1>
      <p>Email verification links are valid for 24 hours.</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Request a new link",
          href: "createaccount-activate-expired-sent"
        }) }}
        <a class="govuk-link" href="signin">Sign in</a>
      </div>


    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}