{% extends "layout.html" %}

{% block pageTitle %}
  Verify interested party – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if (data['verify-type'] == "rep-invite") %}
      <span class="govuk-caption-xl">1.
        Review representative
      </span>
      {% else %}
      {% if (data['verify-type'] == "reg-interest") and (data['third-party'] == "yes") %}
        <span class="govuk-caption-xl">2.
          Review representative
        </span>
        {% else %}
        <span class="govuk-caption-xl">1.
          Review parties
        </span>
      {% endif %}
    {% endif %}
    <h1 class="govuk-heading-xl"> 
      Verify interested party
    </h1>
  </div>

    <div class="govuk-grid-column-two-thirds">

    <form action="reginterest-tasks?int-party-task=complete" method="post" id="reginterest-accept-on-case-form">

      {{ govukRadios({
        idPrefix: "reginterest-party-type",
        name: "reginterest-party-type",
        fieldset: {
          legend: {
            html: "What type of party is this organisation acting as in this case?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Domestic Producer",
            text: "Domestic Producer",
            checked: checked("reginterest-party-type", "Domestic Producer")
          },
          {
            value: "Importer",
            text: "Importer",
            checked: checked("reginterest-party-type", "Importer")
          },
          {
            value: "Exporter",
            text: "Exporter",
            checked: checked("reginterest-party-type", "Exporter")
          },
          {
            value: "Overseas Producer",
            text: "Overseas Producer",
            checked: checked("reginterest-party-type", "Overseas Producer")
          },
          {
            value: "Foreign Government",
            text: "Foreign Government",
            checked: checked("reginterest-party-type", "Foreign Government")
          },
          {
            value: "Industrial User of Product",
            text: "Industrial User of Product",
            checked: checked("reginterest-party-type", "Industrial User of Product")
          },
          {
            value: "Trade Body",
            text: "Trade Body",
            checked: checked("reginterest-party-type", "Trade Body")
          },
          {
            value: "Contributor",
            text: "Contributor",
            checked: checked("reginterest-party-type", "Contributor")
          }
        ]
      }) }}   

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
      </div>

    </form>
    
  </div>

</div>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


