{% extends "layout.html" %}

{% block pageTitle %}
  Review your answers – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">
      Review matching organisations
     </span>      
    <h1 class="govuk-heading-xl">
      Review your answers
    </h1>
    {% if data['reginterest-matching-orgs-question'] == "no" %}
      <p>There are <strong>0 organisations</strong> to be merged with the selected organisation. </p>
      {% else %}
      <p>There is <strong>1 organisation</strong> to be merged with the selected organisation. </p>
    {% endif %}
    <p>Our records will show the following details:</p>
    <div class="address-card">
        <div class="address-container">
          <h3 class="govuk-heading-m"><a href="../orgs/org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>  
          </h3> 
          <dl class="govuk-summary-list govuk-!-margin-bottom-1">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Address:</dt>
              <dd class="govuk-summary-list__value">{{data['party-address1']}} <br>
                {{data['party-postcode1']}}<br>
                {{data['party-country1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Reg number: </dt>
              <dd class="govuk-summary-list__value">{{data['party-org-number1']}} <img src="/public/images/checkmark.png" class="verified-tick" alt="Valid Companies House registration number" title="Valid Companies House registration number" width="20px"><span class="govuk-body-s">Valid</span>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Web address: </dt>
              <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['party-web1']}}</a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">VAT no: </dt>
              <dd class="govuk-summary-list__value">{{data['party-vat1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">EORI: </dt>
              <dd class="govuk-summary-list__value">{{data['party-eori1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">D-U-N-S: </dt>
              <dd class="govuk-summary-list__value">{{data['party-duns1']}}</dd>
            </div>
          </dl> 
          <br>
          <details class="case-details govuk-details">
            <summary>
                Cases acting as an interested party: 0
            </summary>
          </details>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Users: 3
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                 <li><a href="/caseworker/users/user-account?account-user=party-user1" class="govuk-link--no-visited-state">{{data['party-user1']}}</a> - {{data['party-email1']}}</li>
                <li><a href="/caseworker/users/user-account?account-user=party-user11" class="govuk-link--no-visited-state">{{data['party-user11']}}</a> - {{data['party-email11']}}</li>
                <li><a href="/caseworker/users/user-account?account-user=party-user6" class="govuk-link--no-visited-state">{{data['party-user6']}}</a> - {{data['party-email6']}}</li>
              </ul>
            </div>
          </details>  
        </div>
      </div>


    {% if data['reginterest-matching-orgs-question'] =="no"%}
      {% else %}
        <details class="case-details govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Organisations to be merged: 2
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="address-card">
            {% include "includes/org-steeluk-all.html" %}
          </div>
        </div>

        <div class="govuk-details__text">
          <div class="address-card">
            {% include "includes/org-steeel-all.html" %}
          </div>
        </div>
      </details>
    {% endif %}
     
    {% if data['reginterest-matching-orgs-question'] =="yes" %}
      {% else %}
      <details class="case-details govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Organisations marked as not a duplicate: 1
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="address-card">
            {% include "includes/org-steeel-all.html" %}
          </div>
        </div>
      </details>
    {% endif %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% if data['reginterest-matching-orgs-question'] =="no" %}

     <div class="govuk-button-group">
        {{ govukButton({
          text: "Submit",
          href: "reginterest-merge-complete-review?merge-int-task=Complete"
        }) }}   
        <a class="govuk-link govuk-link--no-visited-state" href="reginterest-merge-cancel">Cancel</a>
      </div>

      {% else %}
      {{ govukWarningText({
        text: "Merging organisations cannot be undone",
        iconFallbackText: "Warning"
      }) }}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Please confirm the following
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="check-1" name="check" type="checkbox" value="caseworker-check">
              <label class="govuk-label govuk-checkboxes__label" for="check-1">
                I have authority to complete this merge
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Merge organisations",
          href: "reginterest-merge-complete-merge?merge-int-task=Complete"
        }) }}   
        <a class="govuk-link govuk-link--no-visited-state" href="reginterest-merge-cancel">Cancel merge</a>
      </div>
    {% endif %}
  </div>
</div>


{% endblock %}
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}