{% extends "layout.html" %}

{% block pageTitle %}
Letter of Authority – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     {% if (data['verify-type'] == "rep-invite") %}
      <span class="govuk-caption-xl">1.
        Review representative 
      </span>
      {% else %}
      {% if (data['verify-type'] == "reg-interest") and (data['third-party'] == "yes") %}
        <span class="govuk-caption-xl">2.
          Review representative 
        </span>
        {% else %}
        <span class="govuk-caption-xl">1.
          Review interested party
        </span>
      {% endif %}
    {% endif %}
    <h1 class="govuk-heading-xl">
      Letter of Authority
    </h1>

    <div class="govuk-inset-text govuk-inset-text__reginterest">
      <p><a href="" class="govuk-link--no-visited-state"target="_blank">View the Letter of Authority (opens in a new tab)</a></p>
    </div>

    <form action="reginterest-tasks" novalidate method="post" id="reginterest-loa-new-form">

      {% call govukFieldset({
        legend: {
          html: "Who is the authorised signatory in the Letter of Authority?",
          classes: "govuk-fieldset__legend--s",
          isPageHeading: false
        }
      }) %}
      <p>We collect this data so that it's easily available when needed in the future.</p>
  
      {{ govukInput({
        label: {
          text: "Name",
          isPageHeading: false
        },
        classes: "govuk-input--width-20",
        id: "reginterest-auth-name",
        name: "reginterest-auth-name",
        type: "text",
        autocomplete: "name",
        value: data['reginterest-auth-name']
  
      }) }}
  
      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "reginterest-auth-email",
        name: "reginterest-auth-email",
        classes: "govuk-input--width-20",
        type: "email",
        autocomplete: "email",
        value: data['reginterest-auth-email']
      }) }}
  
      {% endcall %}
       
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
      </div>

    </form>
    
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Submission status</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <strong>Letter of Authority:</strong><br>
            Sufficient
            </li>
        </ul>
      </nav>
    </aside>
  </div>

</div>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


