@@ -1,94 +0,0 @@
{% extends "layout.html" %}

{% block pageTitle %}
  Matching organisations resolved - {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Matching organisations resolved
      </h1>
    </div>

    <p>The matching organisation(s) have been marked as not duplicate with the selected organisation.</p>

    {% if data['verify-type'] =="merge-only" and data['duplicate-org'] =="int" %}
      <form action="/caseworker/cases/existing-orgs-duplicate" method="post" id="cancel-invite-form">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Back to organisation"
          }) }} 
        </div> 
      </form>
      {% else %} 
      {% if data['verify-type'] =="merge-only" and data['duplicate-org'] =="rep" %}   
        <form action="/caseworker/reg-interest/reginterestv1-mergev2-rep-complete" method="post" id="cancel-invite-form">
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Review registration of interest"
            }) }} 
          </div> 
        </form>
        {% else %}         
        {% if data['verify-type'] =="rep-invite" %}
          <form action="/caseworker/reg-interest/reginterest-tasks?merge-rep-task=Complete" method="post" id="cancel-invite-form">
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Review representative invite"
              }) }} 
            </div> 
          </form>
          {% else %}
          {% if data['verify-type'] =="reg-interest" %}
            {% if data['duplicate-org'] =="both" and data['merge-int-task'] == "Complete" and data['merge-rep-task'] == "Complete" %}
              <form action="/caseworker/reg-interest/reginterest-tasks" method="post" id="cancel-invite-form">
                <div class="govuk-button-group">
                  {{ govukButton({
                    text: "Review registration of interest"
                  }) }} 
                </div> 
              </form>
              {% else %}
              {% if data['duplicate-org'] =="both" and (data['merge-rep-task'] == "Complete" or data['merge-int-task'] == "Complete")  %}
                <form action="/caseworker/reg-interest/reginterest-tasks-dup" method="post" id="cancel-invite-form">
                  <div class="govuk-button-group">
                    {{ govukButton({
                      text: "Review next organisation"
                    }) }} 
                  </div> 
                </form>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}