{% extends "layout.html" %}

{% block pageTitle %}
  Review matching organisations – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks-dup">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  
    <span class="govuk-caption-xl">
      {% if data['verify-type'] =="reg-interest" %}
        Registration of interest
        {% else %}
        {% if data['verify-type'] =="rep-invite" %}
          Representative invite
        {% endif %}
      {% endif %}
    </span>
    <h1 class="govuk-heading-xl">
      Review matching organisations
    </h1>
    <p>We have found 1 matching organisation you need to review.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s merge-header">Selected organisation
    </h2>
    <!--If there is a rep then the Int Party is Steel UK-->
    {% if data['third-party'] == "yes" %}
    
      <div class="address-card">
        {% include "includes/org-steeluk-all.html" %}
      </div>
      
      <!--If there is not a rep then the Int Party is Steeel-->
      {% else %}
      <div class="address-card">
        {% include "includes/org-steeel-all.html" %}
      </div>
    {% endif %}
  </div>

  <!--List of duplicates-->
  <div class="govuk-grid-column-one-half">
    <!--Show header according to how many dups there are - only showing 1-->
    <h2 class="govuk-heading-s merge-header">Matches
    </h2>
    {% if data['third-party'] == "no" %}
      <div class="address-card address-card-duplicate">
        <div class="address-container">   
          <h3 class="govuk-heading-m"><a href="../orgs/org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>  
          </h3> 
          <dl class="govuk-summary-list govuk-!-margin-bottom-1">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Address:</dt>
              <dd class="govuk-summary-list__value">{{data['party-address1']}} <br>
                {{data['party-postcode1']}}<br>
                {{data['party-country1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Reg number: </dt>
              <dd class="govuk-summary-list__value">{{data['party-org-number1']}} 
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Web address: </dt>
              <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['party-web1']}}</a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">VAT no: </dt>
              <dd class="govuk-summary-list__value">{{data['party-vat1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">EORI: </dt>
              <dd class="govuk-summary-list__value"><mark>{{data['party-eori1']}}</mark></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">D-U-N-S: </dt>
              <dd class="govuk-summary-list__value">{{data['party-duns1']}}</dd>
            </div>
          </dl> 
          <br>
          <details class="case-details govuk-details">
            <summary>
                Cases acting as an interested party: 0
            </summary>
          </details>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Users: 3
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                 <li><a href="/caseworker/users/user-account?account-user=party-user1" class="govuk-link--no-visited-state">{{data['party-user1']}}</a> - {{data['party-email1']}}</li>
                <li><a href="/caseworker/users/user-account?account-user=party-user11" class="govuk-link--no-visited-state">{{data['party-user11']}}</a> - {{data['party-email11']}}</li>
                <li><a href="/caseworker/users/user-account?account-user=party-user6" class="govuk-link--no-visited-state">{{data['party-user6']}}</a> - {{data['party-email6']}}</li>
              </ul>
            </div>
          </details>
        </div>
      </div>
      {% else %}        
      <div class="address-card address-card-duplicate">
        <div class="address-container">   
          <h3 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>  
          </h3>
          <dl class="govuk-summary-list govuk-!-margin-bottom-1"> 
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Address:</dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-address1']}}<br>
                {{data['dup-party-postcode1']}}<br>
                {{data['dup-party-country1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Reg number: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-org-number1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Web address: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-web1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">VAT no: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-vat1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">EORI: </dt>
              <dd class="govuk-summary-list__value"><mark>{{data['dup-party-eori1']}}</mark></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">D-U-N-S: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-duns1']}}</dd>
            </div>
          </dl> 
          <br>
          <details class="case-details govuk-details">
            <summary>
                Cases acting as an interested party: 0
            </summary>
          </details>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Users: 1
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user111']}}</a> - {{data['party-email111']}}</li>
              </ul>
            </div>
          </details>
        </div>
      </div>
    {% endif %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <!--Show a Review Merge button according to whether all orgs have been checked-->
  </div>
  <div class="govuk-grid-column-two-thirds">
     {% if data['who-signin'] =="invest" %}
      <div class="address-card">
        <div class="address-container">
          <div class="govuk-warning-text">
            <p class="govuk-warning-text__text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong> 
                <span class="govuk-warning-text__assistive">Warning</span>
                  You do not have permission to complete a merge. Only Lead Investigators or higher are allowed.
              </strong>
            </p>
          </div>
        </div>
      </div>
    {% endif %}
    <form action="reginterest-merge-int-is-dup" method="post" id="reginterest-review-merge-form">
      <div class="govuk-button-group">
        {% if data['who-signin'] =="invest" %}
          {{ govukButton({
            text: "Continue review",
            disabled: true
          }) }}
          {% else %}
          {{ govukButton({
            text: "Continue review"
          }) }}
        {% endif %}

        {% if data['verify-type'] =="merge-only" and data['duplicate-org'] =="int" %}
          <a class="govuk-link" href="/caseworker/cases/existing-orgs-duplicate">Back to organisation</a>
          {% else %}
          {% if data['verify-type'] =="merge-only" and data['duplicate-org'] =="rep" %}
            <a class="govuk-link govuk-link--no-visited-state" href="/caseworker/reg-interest/reginterestv1-mergev2-rep-notstarted">Back to registration of interest</a>
            {% else %}
            {% if data['verify-type'] =="reg-interest" %}
              <a class="govuk-link govuk-link--no-visited-state" href="/caseworker/reg-interest/reginterest-tasks-dup">Back to registration of interest</a>
              {% else %}
              {% if data['verify-type'] =="rep-invite" %}
                <a class="govuk-link govuk-link--no-visited-state" href="/caseworker/reg-interest/reginterest-tasks-dup">Back to representative invite</a>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </form>
  </div>
</div>



{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


