{% extends "layout.html" %}

{% block pageTitle %}
  Letter of Authority – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     {% if (data['verify-type'] == "rep-invite") %}
      <span class="govuk-caption-xl">1.
        Review representative 
      </span>
      {% else %}
      {% if (data['verify-type'] == "reg-interest") and (data['third-party'] == "yes") %}
        <span class="govuk-caption-xl">2.
          Review representative 
        </span>
        {% else %}
        <span class="govuk-caption-xl">1.
          Review interested party
        </span>
      {% endif %}
    {% endif %}
    <h1 class="govuk-heading-xl">
      Letter of Authority
    </h1>

    <div class="address-card">
      <div class="address-container">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <p class="govuk-warning-text__text">
            <strong>
              <span class="govuk-warning-text__assistive">Warning</span>
              Review Letter of Authority submission
            </strong>
          </p>
          <p class="govuk-warning-text__text-p">The Letter of Authority submission must be considered sufficient before you can proceed with this step.</p>
          <p class="govuk-warning-text__text-p">
            <button class="govuk-button" data-module="govuk-button">
              Review submisison
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-inset-text govuk-inset-text__reginterest">
      <p><a href="" class="govuk-link--no-visited-state">Download the Letter of Authority</a></p>
    </div>

    <form action="/reginterest-loa-existing-route" method="post" id="reginterest-loa-existing-form">

      {{ govukRadios({
				idPrefix: "reginterest-auth-choose-contact",
				name: "reginterest-auth-choose-contact",
				fieldset: {
					legend: {
						html: "Who is the authorised signatory in the Letter of Authority?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--s"
					}
				},
				hint: {
					text: "We collect this data so that it's easily available when needed in the future."
			  },		
               
        items: [
          {
            value: "Jane Winder",
            text: "Jane Winder - j.winder@steeluk.com",
            checked: checked("reginterest-auth-choose-contact", "Jane Winder")
          },
          {
            divider: "or"
          },
          {
            value: "new-contact",
            text: "Add new contact",
            checked: checked("reginterest-auth-choose-contact", "new-contact")
          }
        ]
      }) }}  

      

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          disabled: true
        }) }}    
        <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
      </div>

    </form>
    
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Submission status</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <strong>Letter of Authority:</strong><br>
            Not sufficient
            </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


