{% extends "layout.html" %}

{% block pageTitle %}
  Confirm not duplicate – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Confirm not a duplicate
    </h1>
    <p>Are you sure the matching organisation is not a duplicate of the selected organisation?</p>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Not a duplicate",
        href: "reginterest-merge-int-check" 
      }) }}      

    </div>
  </div>
</div>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


