{% extends "layout.html" %}

{% block pageTitle %}
   Verify party – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks?primary-party-task=started">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">1.  
      {% if data['verify-type'] == "rep-invite" %}
        Review representative
      {% else %}
        Review interested party
      {% endif %}
    </span>    
    <h1 class="govuk-heading-xl">
      Verify party
    </h1>
    <!--If there is a rep then the Int Party is Steel UK-->
    {% if data['third-party'] == "yes" %}
      <div class="address-card">
        {% include "includes/org-steeluk-all.html" %}
      </div> 
      <!--If there is not a rep then the Int Party is Steeel-->
      {% else %}
       <div class="govuk-inset-text govuk-inset-text__reginterest">
        <strong>{{data['party1']}}</strong> has not been approved on any cases<br>
        <strong>{{data['dup-party1']}}</strong> has <a href="/caseworker/reg-interest/reginterest-tasks?verify-type=reg-interest&third-party=no" class="govuk-link govuk-link--no-visited-state">registered interest</a> in a case<br>
      </div>
      <div class="address-card">
        {% include "includes/org-steeel-all.html" %}
      </div> 
    {% endif %}

    <form action="/reginterest-interested-party-route" method="post" id="reginterest-interested-party-form">

      {% set validHTML %}
      Have you been able to verify the interested party?
      {% endset %}

      {{ govukRadios({
        idPrefix: "reginterest-valid-primary",
        name: "reginterest-valid-primary",
        fieldset: {
          legend: {
            html: validHTML,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Verified",
            text: "Yes, I have been able to verify the interested party",
            checked: checked("reginterest-valid-representative", "Verified")
          },
          {
            value: "Unverified",
            text: "No, I have not been able to verify the interested party",
            checked: checked("reginterest-valid-representative", "Unverified")
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link govuk-link--no-visited-state" href="reginterest-tasks?primary-party-task=started">Back</a>
      </div>

    </form>
    
  </div>

</div>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


