{% extends "layout.html" %}

{% block pageTitle %}
  Parties - {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}

<table role="presentation" width="100%" style="border-collapse: collapse;min-width: 100%;width: 100% !important;" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr align="center">
      <td>
        <a href="/caseworker/reg-interest/reginterest-tasks-dup"></href><img src="/public/images/roiv1-merge-notstarted.png" width="62%"></a>
      </td>
    </tr>
  </tbody>
</table>


{% endblock %}

{% block content %}

   
{% endblock %}