{% extends "layout.html" %}

{% block pageTitle %}
  Select the correct party type – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<form action="reginterest-merge-rep-check" method="post" id="reginterest-merge-form">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">
        Review matching organisations
      </span>
      <h1 class="govuk-heading-xl">
        Select the correct party type<br> (1 of 2)
      </h1>
      <p>The matching organisations are registered as different party types on the same case. Choose the correct party type for the case.</p>
      {{ govukRadios({
        name: "party-type1",
        fieldset: {
          legend: {
            html: "AS3464 - Garnets from Gabon",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Producer",
            text: "Producer"
          },
          {
            value: "Exporter",
            text: "Exporter"
          }
        ]
      }) }}

      <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}  
         
      </div>
    </div>
  </div>
</form>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


