{% extends "layout.html" %}

{% block pageTitle %}
  Select if duplicate – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

{% if (data['merge-duplicates'] == "1c") %}
  <form action="/reginterest-merge-rep3-route" method="post" id="reginterest-merge-form">
  {% else %}
  {% if (data['merge-duplicates'] == "1of2") %}
    <form action="/reginterest-merge-rep1-route" method="post" id="reginterest-merge-form">
    {% else %}
    <form action="/reginterest-merge-rep2-route" method="post" id="reginterest-merge-form">
  {% endif %}
{% endif %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">
        Review matching organisations
      </span>
      <h1 class="govuk-heading-xl">
        {% if (data['merge-duplicates'] == "1c") %}
          Select if duplicate
          {% else %}
          {% if (data['merge-duplicates'] == "1of2") %}
            Select if duplicate (1 of 2)
            {% else %}
            Select if duplicate (2 of 2)
          {% endif %} 
        {% endif %} 
        </h1>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table merge">
        <caption class="govuk-table__caption">
          <span class="govuk-visually-hidden">A table showing the selected organisation and the matching organisation</span>
        </caption>    
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Field</th>
            <th scope="col" class="govuk-table__header">Selected organisation </th>
            <th scope="col" class="govuk-table__header">
              {% if (data['merge-duplicates'] == "1c") %}
                Matching organisation
                {% else %}
                {% if (data['merge-duplicates'] == "1of2") %}
                  Matching organisation (1 of 2)
                  {% else %}
                  Matching organisation (2 of 2)
                {% endif %} 
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell text-overflow">
              {{data['representative1'] }}
            </td>
            {% if data['merge-duplicates'] == "1a" or data['merge-duplicates'] == "1of2" %}
              <td class="govuk-table__cell text-overflow">
                    {{data['dup-party1'] }}
              </td>
            {% endif %}
            {% if data['merge-duplicates'] == "1c" or data['merge-duplicates'] == "2of2" %}
              <td class="govuk-table__cell text-overflow"> 
                {{data['dup-party3'] }}
              </td>
            {% endif %}
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell text-overflow">
              {% if data['merge-duplicates'] == "2of2" %}
                {{data['dup-party-address3'] }}<br>
                {{data['dup-party-postcode3'] }}<br>
                {{data['dup-party-country3'] }}
                {% else %}
                {{data['rep-address1'] }}<br>
                {{data['rep-postcode1'] }}<br>
                {{data['rep-country1'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell text-overflow">
              {% if data['merge-duplicates'] == "1a" or data['merge-duplicates'] == "1of2" %}
                {{data['dup-party-address1'] }}<br>
                {{data['dup-party-postcode1'] }}<br>
                {{data['dup-party-country1'] }}
                {% else %}
                {% if data['merge-duplicates'] == "1c" or data['merge-duplicates'] == "2of2" %}
                  {{data['dup-party-address3'] }}<br>
                  {{data['dup-party-postcode3'] }}<br>
                  {{data['dup-party-country3'] }}
                {% endif %}
              {% endif %}
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Reg number</th>
            <td class="govuk-table__cell text-overflow">
                {{data['rep-org-number1'] }}
            </td>
            {% if data['merge-duplicates'] == "1a" or data['merge-duplicates'] == "1of2" %}
              <td class="govuk-table__cell text-overflow">
                {% if (data['dup-party-org-number1'] == null) %}
                  {% else %}
                    <mark>{{data['dup-party-org-number1'] }}</mark>
                {% endif %}
              </td>
            {% endif %}
            {% if data['merge-duplicates'] == "1c" or data['merge-duplicates'] == "2of2" %}
              <td class="govuk-table__cell text-overflow">
                {% if (data['dup-party-org-number3'] == null) %}
                  {% else %}
                    <mark>{{data['dup-party-org-number3'] }}</mark>
                {% endif %}
              </td>
            {% endif %}
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Website</th>
            <td class="govuk-table__cell text-overflow">
              {{data['rep-web1'] }}
            </td>
            {% if data['merge-duplicates'] == "1a" or data['merge-duplicates'] == "1of2" %}
              <td class="govuk-table__cell text-overflow">
                {% if (data['dup-party-web1'] == null) %}
                  {% else %}                      
                    {{data['dup-party-web1'] }}
                {% endif %}
              </td>
            {% endif %}
            {% if data['merge-duplicates'] == "1c" or data['merge-duplicates'] == "2of2" %}
              <td class="govuk-table__cell text-overflow">
                {% if (data['dup-party-web3'] == null) %}
                  {% else %}                      
                    <mark>{{data['dup-party-web3'] }}</mark>
                  {% endif %}
              </td>
            {% endif %}
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">VAT number</th>
            <td class="govuk-table__cell text-overflow">
              {% if (data['rep-vat1'] == null) %}
                {% else %}
                  {{data['rep-vat1'] }}
              {% endif %}
            </td>
            {% if data['merge-duplicates'] == "1a" or data['merge-duplicates'] == "1of2" %}
              <td class="govuk-table__cell text-overflow">
                {% if (data['dup-party-vat1'] == null) %}
                  {% else %}
                    {{data['dup-party-vat1'] }}
                {% endif %}
              </td>
            {% endif %}
            {% if data['merge-duplicates'] == "1c" or data['merge-duplicates'] == "2of2" %}
              <td class="govuk-table__cell text-overflow">
                {% if (data['dup-party-vat3'] == null) %}
                  {% else %}
                    <mark>{{data['dup-party-vat3'] }}</mark>
                {% endif %}
              </td>
            {% endif %}
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">EORI number</th>
            <td class="govuk-table__cell text-overflow">
              {% if (data['rep-eori1'] == null) %}
                  {% else %}
                    {{data['rep-eori1'] }}
                {% endif %}

            </td>
            {% if data['merge-duplicates'] == "1a" or data['merge-duplicates'] == "1of2" %}
              <td class="govuk-table__cell text-overflow">
                {% if (data['dup-party-eori1'] == null) %}
                  {% else %}
                    {{data['dup-party-eori1'] }}
                {% endif %}
              </td>
            {% endif %}
            {% if data['merge-duplicates'] == "1c" or data['merge-duplicates'] == "2of2" %}
              <td class="govuk-table__cell text-overflow">
                {% if (data['dup-party-eori3'] == null) %}
                  {% else %}
                    {{data['dup-party-eori3'] }}
                {% endif %}
              </td>
            {% endif %}
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">DUNS number</th>
            <td class="govuk-table__cell text-overflow">
              {% if (data['rep-duns1'] == null) %}
                <label class="govuk-label govuk-radios__label" for="duns-rep">
                {% else %}
                  {{data['rep-duns1'] }}
              {% endif %}
            </td>
            {% if data['merge-duplicates'] == "1a" or data['merge-duplicates'] == "1of2" %}
              <td class="govuk-table__cell text-overflow">
                {% if (data['dup-party-duns1'] == null) %}
                  {% else %}
                    {{data['dup-party-duns1'] }}
                {% endif %}
              </td>
            {% endif %}
            {% if data['merge-duplicates'] == "1c" or data['merge-duplicates'] == "2of2" %}
              <td class="govuk-table__cell text-overflow">
                {% if (data['dup-party-duns3'] == null) %}
                  {% else %}
                    {{data['dup-party-duns3'] }}
                {% endif %}
              </td>
            {% endif %}
          </tr>
        </tbody>
      </table> 

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "reginterest-matching-orgs-question",
        fieldset: {
          legend: {
            text: "Is the matching organisation a duplicate?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        }, 
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}  

      <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}  
        <a class="govuk-link govuk-link--no-visited-state"  href="reginterest-tasks-dup">Exit</a>
      </div>
    </div>
  </div>
</form>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


