{% extends "layout.html" %}

{% block pageTitle %}
  Approve registration of interest – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <!--REg interest-->
  {% if data['verify-type'] == "reg-interest" %}
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">2. Confirm </span>   
      <h1 class="govuk-heading-xl">
        Approve registration of interest
      </h1>
      {% if data['loa-sufficient'] =="no" %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Review Letter of Authority
            </p>
          <p>You will need to review the Letter of Authority submission before you can verify this registration of interest.</p>
            <p><a class="govuk-notification-banner__link" href="#">Review submission</a></p>
          </div>
        </div>
      {% endif %}
      <h2 class="govuk-heading-m">Interested party</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation
          </dt>
          <dd class="govuk-summary-list__value">       
            {% if data['third-party'] == "no" %}
              {{data['dup-party1']}}
              {% else %}
              {{data ['party1']}}
            {% endif %} 
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Submitted by
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['third-party'] == "no" %}
              {{data['dup-user1']}}<br>
              {{data['dup-email1']}}
              {% else %}
              {{data ['party-user1']}}<br>
              {{data['party-email1']}}
            {% endif %} 
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        {% if data['third-party'] == "yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              LOA signatory
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['reginterest-auth-choose-contact'] == "Jane Winder" ) %}
                Jane Winder <br>
                j.winder@steeluk.com
                {% else %}        
                {{data['reginterest-auth-name'] }} <br>
                {{data['reginterest-auth-email'] or "j.winder@steeluk.com"}} 
              {% endif %}                  
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="reginterest-loa-existing" class="govuk-link--no-visited-state">
                Change
                <span class="govuk-visually-hidden govuk-link--no-visited-state"> contact</span>
              </a>
            </dd>
          </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Org status
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['reginterest-valid-primary'] or "Verified"}}             
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="reginterest-interested-party" class="govuk-link--no-visited-state">
              Change
              <span class="govuk-visually-hidden"> status</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Party type
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['reginterest-party-type'] or "Exporter"}}             
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="reginterest-party-type" class="govuk-link--no-visited-state">
              Change
              <span class="govuk-visually-hidden"> party type</span>
            </a>
          </dd>
        </div>
      </dl>

      {% if data['third-party'] == "yes" %}
        <h2 class="govuk-heading-m">Representative </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation 
            </dt>
            <dd class="govuk-summary-list__value">      
                {{data['representative1'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case contact 
            </dt>
            <dd class="govuk-summary-list__value">      
                {{data ['rep-user1']}}<br>
                {{data['rep-user1']}}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['reginterest-valid-representative'] or "Verified"}}             
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="reginterest-representative-party" class="govuk-link--no-visited-state">
                Change
                <span class="govuk-visually-hidden"> status</span>
              </a>
            </dd>
          </div>
        </dl>

      {% endif %}
      <p>If you approve this registration of interest, all parties will be notified of your decision.</p>
      <div class="govuk-button-group">
        {% if data['loa-sufficient'] =="no" %}
          {{ govukButton({
            text: "Approve registration of interest",
            disabled: true
          }) }}
          {% else %} 
            {{ govukButton({
              text: "Approve registration of interest",
              href: "reginterest-complete?accept-on-case-result=accept"
            }) }} 
        {% endif %} 
        <a class="govuk-link govuk-link--no-visited-state" href="reginterest-decline.html">Reject registration of interest</a>
      </div>
    </div>
    {% else %}

    <!--Rep invite-->
    {% if data['verify-type'] == "rep-invite" %}
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">2. Confirm </span>   
        <h1 class="govuk-heading-xl">
          Approve representative invite
        </h1>
        {% if data['loa-sufficient'] =="no" %}
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                Review Letter of Authority
              </p>
              <p>You will need to review the Letter of Authority submission before you can verify this registration of interest.</p>
              <p><a class="govuk-notification-banner__link" href="#">Review submission</a></p>
            </div>
          </div>
        {% endif %}
        <h2 class="govuk-heading-m">Interested party </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">       
              {{data ['party1']}}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Submitted by
            </dt>
            <dd class="govuk-summary-list__value">
              {{data ['party-user1']}}<br>
              {{data ['party-email1']}}      
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              LOA signatory
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['reginterest-auth-choose-contact'] == "Jane Winder" ) %}
                Jane Winder <br>
                j.winder@steeluk.com
                {% else %}        
                {{data['reginterest-auth-name'] }} <br>
                {{data['reginterest-auth-email'] or "j.winder@steeluk.com"}} 
              {% endif %}     
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="reginterest-loa-existing" class="govuk-link--no-visited-state">
                Change
                <span class="govuk-visually-hidden govuk-link--no-visited-state"> contact</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Representative </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation 
            </dt>
            <dd class="govuk-summary-list__value">      
                {{data['representative1'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case contact 
            </dt>
            <dd class="govuk-summary-list__value">      
                {{data ['rep-user1']}}<br>
                {{data ['rep-email1']}}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['reginterest-valid-representative'] or "Verified"}}             
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="reginterest-representative-party" class="govuk-link--no-visited-state">
                Change
                <span class="govuk-visually-hidden"> status</span>
              </a>
            </dd>
          </div>
        </dl>
        <p>If you approve this invite, all parties will be notified of your decision.</p>
        <div class="govuk-button-group">
          {% if data['loa-sufficient'] =="no" %}
            {{ govukButton({
              text: "Approve invite",
              disabled: true
            }) }}
            {% else %} 
              {{ govukButton({
                text: "Approve invite",
                href: "reginterest-complete?accept-on-case-result=accept"
              }) }} 
          {% endif %} 
          <a class="govuk-link govuk-link--no-visited-state" href="reginterest-decline">Reject invite</a>
        </div>
      </div>
    {% endif %} 
  {% endif %} 

</div>

{% endblock %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}


