{% extends "layout.html" %}

{% block pageTitle %}
  Review matching organisations – {{ serviceName }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">  
    <h1 class="govuk-heading-xl">
      Review matching organisations
    </h1>
    {% if data['merge-duplicates'] == "1c" %}
      <p>We have found 1 matching organisation you need to review.</p>
      {% else %}
      <p>We have found 2 matching organisations you need to review.</p>
    {% endif %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s merge-header">Selected organisation
    </h2>
    <div class="address-card">
      {% include "includes/org-bluesteel-all.html" %}
    </div>
  </div>

  <!--List of duplicates-->
    <div class="govuk-grid-column-one-half">
    {% from "govuk/components/pagination/macro.njk" import govukPagination %}
    <!--Show header according to how many dups there are-->
    {% if data['merge-duplicates'] == "1c" %}
      <h2 class="govuk-heading-s merge-header"><span class="">Matching organisation </span>
      </h2>
      {% else %}
      {% if data['merge-duplicates'] == "1of2" %}
      <div class="clearfix">
        <h2 class="govuk-heading-s merge-header left-aligned">Matches</h2>
      
          {{ govukPagination({
            classes: "right-aligned",
            next: {
              href: "?merge-duplicates=2of2"
            },
            items: [
              {
                number: 1,
                current: true,
                href: "?merge-duplicates=1of2"
              },
              {
                number: 2,
                href: "?merge-duplicates=2of2"
              }
            ]
          }) }}
        </h2>
        </div>
        {% else %}
        {% if data['merge-duplicates'] == "2of2" %}
        <div class="clearfix">
          <h2 class="govuk-heading-s merge-header left-aligned">Matches</h2>

            {{ govukPagination({
              classes: "right-aligned",
              previous: {
                href: "?merge-duplicates=1of2",
                classes: "govuk-link--no-visited-state"
              },
              items: [
                {
                  number: 1,
                  href: "?merge-duplicates=1of2"
                },
                {
                  number: 2,
                  current: true,
                  href: "?merge-duplicates=2of2"
                }
              ]
            }) }}
          </div>
          {% else %}
          {% if data['merge-duplicates'] == "all" and data['pagination'] == "all" %}
            <p>Up to 6 matches use the following pattern:</p>
            <div class="clearfix">
              <h2 class="govuk-heading-s merge-header left-aligned">Matches</h2>
              {{ govukPagination({
                classes: "right-aligned",
                next: {
                  href: "#"
                },
                items: [
                  {
                    number: 1,
                    current: true,
                    href: "#"
                  },
                  {
                    number: 2,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 3,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 4,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 5,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 6,
                    current: false,
                    href: "#"
                  }
                ]
              }) }}
            </div>
            
            <div class="clearfix">
              <h2 class="govuk-heading-s merge-header left-aligned">Matches</h2>
              {{ govukPagination({
                classes: "right-aligned",
                previous: {
                  href: "#"
                },
                next: {
                  href: "#"
                },
                items: [
                  {
                    number: 1,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 2,
                    current: true,
                    href: "#"
                  },
                  {
                    number: 3,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 4,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 5,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 6,
                    current: false,
                    href: "#"
                  }
                ]
              }) }}
            </div>

            <div class="clearfix">
              <h2 class="govuk-heading-s merge-header left-aligned">Matches</h2>
              {{ govukPagination({
                classes: "right-aligned",
                previous: {
                  href: "#"
                },
                items: [
                  {
                    number: 1,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 2,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 3,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 4,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 5,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 6,
                    current: true,
                    href: "#"
                  }
                ]
              }) }}
            </div>
            <br>
            <p>If there are more than 6 matches then use the following pattern:</p> 
            
            <div class="clearfix">
              <h2 class="govuk-heading-s merge-header left-aligned">Matches</h2>
              {{ govukPagination({
                classes: "right-aligned",
                next: {
                  href: "#"
                },
                items: [
                  {
                    number: 1,
                    current: true,
                    href: "#"
                  },
                  {
                    number: 2,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 3,
                    current: false,
                    href: "#"
                  },
                  {
                    ellipsis: true
                  },
                  {
                    number: 100,
                    href: "#"
                  }
                ]
              }) }}
            </div>

            <div class="clearfix">
              <h2 class="govuk-heading-s merge-header left-aligned">Matches</h2>
              {{ govukPagination({
                classes: "right-aligned",
                previous: {
                  href: "#"
                },
                next: {
                  href: "#"
                },
                items: [
                  {
                    number: 1,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 2,
                    current: true,
                    href: "#"
                  },
                  {
                    ellipsis: true
                  },
                  {
                    number: 100,
                    href: "#"
                  }
                ]
              }) }}
            </div>

            <div class="clearfix">
              <h2 class="govuk-heading-s merge-header left-aligned">Matches</h2>
                {{ govukPagination({
                  classes: "right-aligned",
                  previous: {
                    href: "#"
                  },
                  next: {
                    href: "#"
                  },
                  items: [
                    {
                      number: 1,
                      current: false,
                      href: "#"
                    },
                    {
                      ellipsis: true
                    },
                    {
                      number: 3,
                      current: true,
                      href: "#"
                    },
                    {
                      ellipsis: true
                    },
                    {
                      number: 100,
                      href: "#"
                    }
                  ]
                }) }}  
            </div>

            <div class="clearfix">
              <h2 class="govuk-heading-s merge-header left-aligned">Matches</h2>
              {{ govukPagination({
                classes: "right-aligned",
                previous: {
                  href: "#"
                },
                next: {
                  href: "#"
                },
                items: [
                  {
                    number: 1,
                    current: false,
                    href: "#"
                  },
                  {
                    ellipsis: true
                  },
                  {
                    number: 98,
                    current: true,
                    href: "#"
                  },
                  {
                    ellipsis: true
                  },
                  {
                    number: 100,
                    href: "#"
                  }
                ]
              }) }}
            </div>

            <div class="clearfix">
              <h2 class="govuk-heading-s merge-header left-aligned">Matches</h2>
              {{ govukPagination({
                classes: "right-aligned",
                previous: {
                  href: "#"
                },
                next: {
                  href: "#"
                },
                items: [
                  {
                    number: 1,
                    current: false,
                    href: "#"
                  },
                  {
                    ellipsis: true
                  },
                  {
                    number: 99,
                    current: true,
                    href: "#"
                  },
                  {
                    number: 100,
                    href: "#"
                  }
                ]
              }) }}      
            </div> 
            <div class="clearfix"> 
              <h2 class="govuk-heading-s merge-header left-aligned">Matches</h2>
              {{ govukPagination({
                classes: "right-aligned",
                previous: {
                  href: "#"
                },
                items: [
                  {
                    number: 1,
                    current: false,
                    href: "#"
                  },
                  {
                    ellipsis: true
                  },
                  {
                    number: 98,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 99,
                    current: false,
                    href: "#"
                  },
                  {
                    number: 100,
                    current: true,
                    href: "#"
                  }
                ]
              }) }}
            </div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}


    <!--Show content according to how many dups there are-->  
    {% if (data['merge-duplicates'] == "1of2") or data['merge-duplicates'] == "all" %}
      <div class="address-card address-card-duplicate">
        <div class="address-container">   
          <h3 class="govuk-heading-m"><a href="/caseworker/orgs/org-steeel" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>  
          </h3>
          <dl class="govuk-summary-list govuk-!-margin-bottom-1"> 
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Address:</dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-address1']}}<br>
                {{data['dup-party-postcode1']}}<br>
                {{data['dup-party-country1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Reg number: </dt>
              <dd class="govuk-summary-list__value"><mark>{{data['dup-party-org-number1']}}</mark> 
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Web address: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-web1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">VAT no: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-vat1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">EORI: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-eori1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">D-U-N-S: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-duns1']}}</dd>
            </div>
          </dl> 
          <br>
          <details class="case-details govuk-details">
            <summary>
                Cases acting as an interested party: 0
            </summary>
          </details>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Users: 1
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user111']}}</a> - {{data['party-email111']}}</li>
              </ul>
            </div>
          </details> 
        </div>
      </div>
      {% else %}
      {% if (data['merge-duplicates'] == "2of2") or (data['merge-duplicates'] == "1c") %}
        <div class="address-card address-card-duplicate">
        <div class="address-container">   
          <h3 class="govuk-heading-m">
            <a href="" class="govuk-link--no-visited-state">{{data['dup-party3']}}</a>   
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-1">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address:</dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-address3']}}<br>
                  {{data['dup-party-postcode3']}}<br>
                  {{data['dup-party-country3']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reg number: </dt>
                <dd class="govuk-summary-list__value"><mark>{{data['dup-party-org-number3']}}</mark><img src="/public/images/checkmark.png" class="verified-tick" alt="Valid Companies House registration number" title="Valid Companies House registration number" width="20px"><span class="govuk-body-s">Valid</span>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Web address: </dt>
                <dd class="govuk-summary-list__value"><a href="" target="_blank"><mark>{{data['dup-party-web3']}}</mark></a></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">VAT no: </dt>
                <dd class="govuk-summary-list__value"><mark>{{data['dup-party-vat3']}}</mark></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">EORI: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-eori3']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-duns3']}}</dd>
              </div>
            </dl> 
            <br>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="">
                  Cases acting as an interested party: 0
              </summary>
            </details>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Cases acting as a representative: 1
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="" class="govuk-link--no-visited-state">{{data['case-ref2']}} - {{data['case-name2']}}</a> <img src="/public/images/green-checkmark-line-icon.png" class="pending-clock" alt="Approved on to case icon" title="Approved on to case"><span class="govuk-body-s"> 29 July 2022</span></li>
                </ul>
              </div>
            </details>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Users: 1
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['dup-user3']}}</a> - {{data['dup-email3']}}</li>
                </ul>
              </div>
            </details>
          </div>
        </div>
      {% endif %}
    {% endif %}
    <!--
      <nav class="govuk-pagination right-aligned-link" role="navigation" aria-label="results">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <span class="govuk-pagination__link-title">Previous</span></a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 7" aria-current="page">
                7
              </a>
            </li>

            <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 42">
                42
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">Next</span> 
              </a>
          </div>
        </nav>
        -->
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <!--Show a Review Merge button according to whether all orgs have been checked-->
  </div>
  <div class="govuk-grid-column-two-thirds">
     {% if data['who-signin'] =="invest" %}
      <div class="address-card">
        <div class="address-container">
          <div class="govuk-warning-text">
            <p class="govuk-warning-text__text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong> 
                <span class="govuk-warning-text__assistive">Warning</span>
                  You do not have permission to complete a merge. Only lead investigators or above can merge records.
              </strong>
            </p>
          </div>
        </div>
      </div>
    {% endif %}
    <form action="reginterest-merge-rep-is-dup" method="post" id="reginterest-review-merge-form">
      <div class="govuk-button-group">
        {% if data['who-signin'] =="invest" %}
          {{ govukButton({
            text: "Continue review",
            disabled: true
          }) }}
          {% else %}
          {{ govukButton({
            text: "Continue review"
          }) }}
        {% endif %}

        {% if data['verify-type'] =="merge-only" and data['duplicate-org'] =="int" %}
          <a class="govuk-link" href="/caseworker/cases/existing-orgs-duplicate">Back to organisation</a>
          {% else %}
          {% if data['verify-type'] =="merge-only" and data['duplicate-org'] =="rep" %}
            <a class="govuk-link govuk-link--no-visited-state" href="/caseworker/reg-interest/reginterestv1-mergev2-rep-notstarted">Back to registration of interest</a>
            {% else %}
            {% if data['verify-type'] =="reg-interest" %}
              <a class="govuk-link govuk-link--no-visited-state" href="/caseworker/reg-interest/reginterest-tasks-dup">Back to registration of interest</a>
              {% else %}
              {% if data['verify-type'] =="rep-invite" %}
                <a class="govuk-link govuk-link--no-visited-state" href="/caseworker/reg-interest/reginterest-tasks-dup">Back to representative invite</a>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </form>
  </div>
</div>


{% endblock %}
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}