<nav id="secondary-navigation" class="secondary-navigation govuk-clearfix" role="navigation" aria-labelledby="secondary-navigation-heading">
  <h2 class="govuk-visually-hidden" id="secondary-navigation-heading">Case menu</h2>
  <ul class="govuk-list secondary-navigation__list secondary-width-container govuk-width-container" id="case-nav">
    <li class="secondary-navigation__list-item secondary-navigation__list-item--case">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline secondary-navigation__link" href="/caseworker/cases/case-overview">
        Overview 
      </a>
    </li><li class="secondary-navigation__list-item secondary-navigation__list-item--party">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline secondary-navigation__link" href="/caseworker/cases/case-parties">
        Parties
      </a>
    </li>
    <li class="secondary-navigation__list-item secondary-navigation__list-item--submission">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline secondary-navigation__link" href="">
        Submissions
      </a>
    </li>
    <li class="secondary-navigation__list-item secondary-navigation__list-item--workflow">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline secondary-navigation__link" href="#">
        Workflow
      </a>
    </li>
    <li class="secondary-navigation__list-item secondary-navigation__list-item--file">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline secondary-navigation__link"  href="">
        All files
      </a>    
    </li>
    <li class="secondary-navigation__list-item secondary-navigation__list-item--pubic">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline secondary-navigation__link" href="#">
        Public files
      </a>
    </li>
    <li class="secondary-navigation__list-item secondary-navigation__list-item--milestone">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline secondary-navigation__link" href="/caseworker/cases/case-milestones">
        Milestones
      </a>
    </li>
  </ul>
</nav>