<div class="govuk-form-group">
  <label class="govuk-label" for="country">
    Country
  </label>
  <select class="govuk-select" id="country" name="country">
<option {{ "selected" if data["country"] == "United Kingdom" }} value="United Kingdom">United Kingdom</option>
<option>----------</option>
<option {{ "selected" if data["country"] == "Afghanistan" }} value="Afghanistan">Afghanistan</option>  
<option {{ "selected" if data["country"] == "Aland Islands"  }} value="Aland Islands">Aland Islands</option>
<option {{ "selected" if data["country"] == "Albania" }} value="Albania">Albania</option>
<option {{ "selected" if data["country"] == "Algeria" }} value="Algeria">Algeria</option>
<option {{ "selected" if data["country"] == "American Samoa" }} value="American Samoa">American Samoa</option>
<option {{ "selected" if data["country"] == "Andorra" }} value="Andorra">Andorra</option>
<option {{ "selected" if data["country"] == "Angola" }} value="Angola">Angola</option>
<option {{ "selected" if data["country"] == "Anguilla" }} value="Anguilla">Anguilla</option>
<option {{ "selected" if data["country"] == "Antarctica" }} value="Antarctica">Antarctica</option>
<option {{ "selected" if data["country"] == "Antigua and Barbuda"  }} value="Antigua and Barbuda">Antigua and Barbuda</option>
<option {{ "selected" if data["country"] == "Argentina" }} value="Argentina">Argentina</option>
<option {{ "selected" if data["country"] == "Armenia" }} value="Armenia">Armenia</option>
<option {{ "selected" if data["country"] == "Aruba" }} value="Aruba">Aruba</option>
<option {{ "selected" if data["country"] == "Australia" }} value="Australia">Australia</option>
<option {{ "selected" if data["country"] == "Austria" }} value="Austria">Austria</option>
<option {{ "selected" if data["country"] == "Azerbaijan" }} value="Azerbaijan">Azerbaijan</option>
<option {{ "selected" if data["country"] == "Bahamas" }} value="Bahamas">Bahamas</option>
<option {{ "selected" if data["country"] == "Bahrain" }} value="Bahrain">Bahrain</option>
<option {{ "selected" if data["country"] == "Bangladesh" }} value="Bangladesh">Bangladesh</option>
<option {{ "selected" if data["country"] == "Barbados" }} value="Barbados">Barbados</option>
<option {{ "selected" if data["country"] == "Belarus" }} value="Belarus">Belarus</option>
<option {{ "selected" if data["country"] == "Belgium" }} value="Belgium">Belgium</option>
<option {{ "selected" if data["country"] == "Belize" }} value="Belize">Belize</option>
<option {{ "selected" if data["country"] == "Benin" }} value="Benin">Benin</option>
<option {{ "selected" if data["country"] == "Bermuda" }} value="Bermuda">Bermuda</option>
<option {{ "selected" if data["country"] == "Bhutan" }} value="Bhutan">Bhutan</option>
<option {{ "selected" if data["country"] == "Bolivia" }} value="Bolivia">Bolivia</option>
<option {{ "selected" if data["country"] == "Bonaire, Sint Eustatius and Saba" }} value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
<option {{ "selected" if data["country"] == "Bosnia and Herzegovina" }} value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
<option {{ "selected" if data["country"] == "Botswana" }} value="Botswana">Botswana</option>
<option {{ "selected" if data["country"] == "Bouvet Island" }} value="Bouvet Island">Bouvet Island</option>
<option {{ "selected" if data["country"] == "Brazil" }} value="Brazil">Brazil</option>
<option {{ "selected" if data["country"] == "British Indian Ocean Territory" }} value="British Indian Ocean Territory">British Indian Ocean Territory</option>
<option {{ "selected" if data["country"] == "Brunei Darussalam" }} value="Brunei Darussalam">Brunei Darussalam</option>
<option {{ "selected" if data["country"] == "Bulgaria" }} value="Bulgaria">Bulgaria</option>
<option {{ "selected" if data["country"] == "Burkina Faso" }} value="Burkina Faso">Burkina Faso</option>
<option {{ "selected" if data["country"] == "Burundi" }} value="Burundi">Burundi</option>
<option {{ "selected" if data["country"] == "Cambodia" }} value="Cambodia">Cambodia</option>
<option {{ "selected" if data["country"] == "Cameroon" }} value="Cameroon">Cameroon</option>
<option {{ "selected" if data["country"] == "Canada" }} value="Canada">Canada</option>
<option {{ "selected" if data["country"] == "Cape Verde" }} value="Cape Verde">Cape Verde</option>
<option {{ "selected" if data["country"] == "Cayman Islands" }} value="Cayman Islands">Cayman Islands</option>
<option {{ "selected" if data["country"] == "Central African Republic" }} value="Central African Republic">Central African Republic</option>
<option {{ "selected" if data["country"] == "Chad" }} value="Chad">Chad</option>
<option {{ "selected" if data["country"] == "Chile" }} value="Chile">Chile</option>
<option {{ "selected" if data["country"] == "China" }} value="China">China</option>
<option {{ "selected" if data["country"] == "Christmas Island" }} value="Christmas Island">Christmas Island</option>
<option {{ "selected" if data["country"] == "Cocos  (Keeling) Islands" }} value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
<option {{ "selected" if data["country"] == "Colombia" }} value="Colombia">Colombia</option>
<option {{ "selected" if data["country"] == "Comoros" }} value="Comoros">Comoros</option>
<option {{ "selected" if data["country"] == "Congo" }} value="Congo">Congo</option>
<option {{ "selected" if data["country"] == "Congo, Democratic Republic of the Congo" }} value="Congo, Democratic Republic of the Congo">Congo, Democratic Republic of the Congo</option>
<option {{ "selected" if data["country"] == "Cook Islands" }} value="Cook Islands">Cook Islands</option>
<option {{ "selected" if data["country"] == "Costa Rica"  }} value="Costa Rica">Costa Rica</option>
<option {{ "selected" if data["country"] == "Cote D'Ivoire" }} value="Cote D'Ivoire">Cote D'Ivoire</option>
<option {{ "selected" if data["country"] == "Croatia" }} value="Croatia">Croatia</option>
<option {{ "selected" if data["country"] == "Cuba" }} value="Cuba">Cuba</option>
<option {{ "selected" if data["country"] == "Curacao" }} value="Curacao">Curacao</option>
<option {{ "selected" if data["country"] == "Cyprus" }} value="Cyprus">Cyprus</option>
<option {{ "selected" if data["country"] == "Czech Republic" }} value="Czech Republic">Czech Republic</option>
<option {{ "selected" if data["country"] == "Denmark" }} value="Denmark">Denmark</option>
<option {{ "selected" if data["country"] == "Djibouti" }} value="Djibouti">Djibouti</option>
<option {{ "selected" if data["country"] == "Dominica" }} value="Dominica">Dominica</option>
<option {{ "selected" if data["country"] == "Dominican Republic" }} value="Dominican Republic">Dominican Republic</option>
<option {{ "selected" if data["country"] == "Ecuador" }} value="Ecuador">Ecuador</option>
<option {{ "selected" if data["country"] == "Egypt" }} value="Egypt">Egypt</option>
<option {{ "selected" if data["country"] == "El Salvador" }} value="El Salvador">El Salvador</option>
<option {{ "selected" if data["country"] == "Equatorial Guinea" }} value="Equatorial Guinea">Equatorial Guinea</option>
<option {{ "selected" if data["country"] == "Eritrea" }} value="Eritrea">Eritrea</option>
<option {{ "selected" if data["country"] == "Estonia" }} value="Estonia">Estonia</option>
<option {{ "selected" if data["country"] == "Ethiopia" }} value="Ethiopia">Ethiopia</option>
<option {{ "selected" if data["country"] == "Falkland Islands (Malvinas)"  }} value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
<option {{ "selected" if data["country"] == "Faroe Islnads" }} value="Faroe Islnads">Faroe Islands</option>
<option {{ "selected" if data["country"] == "Fiji" }} value="Fiji">Fiji</option>
<option {{ "selected" if data["country"] == "Finland" }} value="Finland">Finland</option>
<option {{ "selected" if data["country"] == "France" }} value="France">France</option>
<option {{ "selected" if data["country"] == "French Guiana" }} value="French Guiana">French Guiana</option>
<option {{ "selected" if data["country"] == "French Polynesia" }} value="French Polynesia">French Polynesia</option>
<option {{ "selected" if data["country"] == "French Southern Territories" }} value="French Southern Territories">French Southern Territories</option>
<option {{ "selected" if data["country"] == "Gabon" }} value="Gabon">Gabon</option>
<option {{ "selected" if data["country"] == "Gambia" }} value="Gambia">Gambia</option>
<option {{ "selected" if data["country"] == "Georgia" }} value="Georgia">Georgia</option>
<option {{ "selected" if data["country"] == "Germany" }} value="Germany">Germany</option>
<option {{ "selected" if data["country"] == "Ghana" }} value="Ghana">Ghana</option>
<option {{ "selected" if data["country"] == "Gibraltar" }} value="Gibraltar">Gibraltar</option>
<option {{ "selected" if data["country"] == "Greece" }} value="Greece">Greece</option>
<option {{ "selected" if data["country"] == "Greenland" }} value="Greenland">Greenland</option>
<option {{ "selected" if data["country"] == "Grenada" }} value="Grenada">Grenada</option>
<option {{ "selected" if data["country"] == "Guadeloupe" }} value="Guadeloupe">Guadeloupe</option>
<option {{ "selected" if data["country"] == "Guam" }} value="Guam">Guam</option>
<option {{ "selected" if data["country"] == "Guatemala" }} value="Guatemala">Guatemala</option>
<option {{ "selected" if data["country"] == "Guernsey" }} value="Guernsey">Guernsey</option>
<option {{ "selected" if data["country"] == "Guinea" }} value="Guinea">Guinea</option>
<option {{ "selected" if data["country"] == "Guinea--Bissau" }} value="Guinea-Bissau">Guinea-Bissau</option>
<option {{ "selected" if data["country"] == "Guyana" }} value="Guyana">Guyana</option>
<option {{ "selected" if data["country"] == "Haiti" }} value="Haiti">Haiti</option>
<option {{ "selected" if data["country"] == "Heard Island and Mcdonald Islands"  }} value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
<option {{ "selected" if data["country"] == "Holy See (Vatican City State)"  }} value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
<option {{ "selected" if data["country"] == "Honduras" }} value="Honduras">Honduras</option>
<option {{ "selected" if data["country"] == "Hong Kong"}} value="Hong Kong">Hong Kong</option>
<option {{ "selected" if data["country"] == "Hungary" }} value="Hungary">Hungary</option>
<option {{ "selected" if data["country"] == "Iceland" }} value="Iceland">Iceland</option>
<option {{ "selected" if data["country"] == "India" }} value="India">India</option>
<option {{ "selected" if data["country"] == "Indonesia" }} value="Indonesia">Indonesia</option>
<option {{ "selected" if data["country"] == "Iran, Islamic Republic of" }} value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
<option {{ "selected" if data["country"] == "Iraq" }} value="Iraq">Iraq</option>
<option {{ "selected" if data["country"] == "Ireland" }} value="Ireland">Ireland</option>
<option {{ "selected" if data["country"] == "Isle of Man"  }} value="Isle of Man">Isle of Man</option>
<option {{ "selected" if data["country"] == "Israel" }} value="Israel">Israel</option>
<option {{ "selected" if data["country"] == "Italy" }} value="Italy">Italy</option>
<option {{ "selected" if data["country"] == "Jamaica" }} value="Jamaica">Jamaica</option>
<option {{ "selected" if data["country"] == "Japan" }} value="Japan">Japan</option>
<option {{ "selected" if data["country"] == "Jersey" }} value="Jersey">Jersey</option>
<option {{ "selected" if data["country"] == "Jordan" }} value="Jordan">Jordan</option>
<option {{ "selected" if data["country"] == "Kazakhstan" }} value="Kazakhstan">Kazakhstan</option>
<option {{ "selected" if data["country"] == "Kenya" }} value="Kenya">Kenya</option>
<option {{ "selected" if data["country"] == "Kiribati" }} value="Kiribati">Kiribati</option>
<option {{ "selected" if data["country"] == "Korea, Democratic People's Republic of" }} value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
<option {{ "selected" if data["country"] == "Korea,Republic of" }} value="Korea, Republic of">Korea, Republic of</option>
<option {{ "selected" if data["country"] == "Kosovo" }} value="Kosovo">Kosovo</option>
<option {{ "selected" if data["country"] == "Kuwait" }} value="Kuwait">Kuwait</option>
<option {{ "selected" if data["country"] == "Kyrgyzstan" }} value="Kyrgyzstan">Kyrgyzstan</option>
<option {{ "selected" if data["country"] == "Lao People's Democratic Republic"  }} value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
<option {{ "selected" if data["country"] == "Latvia" }} value="Latvia">Latvia</option>
<option {{ "selected" if data["country"] == "Lebanon" }} value="Lebanon">Lebanon</option>
<option {{ "selected" if data["country"] == "Lesotho" }} value="Lesotho">Lesotho</option>
<option {{ "selected" if data["country"] == "Liberia" }} value="Liberia">Liberia</option>
<option {{ "selected" if data["country"] == "Libyan Arab Jamahiriya"  }} value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
<option {{ "selected" if data["country"] == "Liechtenstein" }} value="Liechtenstein">Liechtenstein</option>
<option {{ "selected" if data["country"] == "Lithuania" }} value="Lithuania">Lithuania</option>
<option {{ "selected" if data["country"] == "Luxembourg" }} value="Luxembourg">Luxembourg</option>
<option {{ "selected" if data["country"] == "Macao" }} value="Macao">Macao</option>
<option {{ "selected" if data["country"] == "Macedonia, the Former Yugoslav Republic of" }} value="Macedonia, the Former Yugoslav Republic of">Macedonia, the Former Yugoslav Republic of</option>
<option {{ "selected" if data["country"] == "Madagascar" }} value="Madagascar">Madagascar</option>
<option {{ "selected" if data["country"] == "Malawi" }} value="Malawi">Malawi</option>
<option {{ "selected" if data["country"] == "Malaysia" }} value="Malaysia">Malaysia</option>
<option {{ "selected" if data["country"] == "Maldives" }} value="Maldives">Maldives</option>
<option {{ "selected" if data["country"] == "Mali" }} value="Mali">Mali</option>
<option {{ "selected" if data["country"] == "Malta" }} value="Malta">Malta</option>
<option {{ "selected" if data["country"] == "Marshall Islands"  }} value="Marshall Islands">Marshall Islands</option>
<option {{ "selected" if data["country"] == "Martinique" }} value="Martinique">Martinique</option>
<option {{ "selected" if data["country"] == "Mauritania" }} value="Mauritania">Mauritania</option>
<option {{ "selected" if data["country"] == "Mauritius" }} value="Mauritius">Mauritius</option>
<option {{ "selected" if data["country"] == "Mayotte" }} value="Mayotte">Mayotte</option>
<option {{ "selected" if data["country"] == "Mexico" }} value="Mexico">Mexico</option>
<option {{ "selected" if data["country"] == "Micronesia,  Federated States of" }} value="Micronesia, Federated States of">Micronesia, Federated States of</option>
<option {{ "selected" if data["country"] == "Moldova, Republic of"}} value="Moldova, Republic of">Moldova, Republic of</option>
<option {{ "selected" if data["country"] == "Monaco" }} value="Monaco">Monaco</option>
<option {{ "selected" if data["country"] == "Mongolia" }} value="Mongolia">Mongolia</option>
<option {{ "selected" if data["country"] == "Montenegro" }} value="Montenegro">Montenegro</option>
<option {{ "selected" if data["country"] == "Montserrat" }} value="Montserrat">Montserrat</option>
<option {{ "selected" if data["country"] == "Morocco" }} value="Morocco">Morocco</option>
<option {{ "selected" if data["country"] == "Mozambique" }} value="Mozambique">Mozambique</option>
<option {{ "selected" if data["country"] == "Myanmar" }} value="Myanmar">Myanmar</option>
<option {{ "selected" if data["country"] == "Namibia" }} value="Namibia">Namibia</option>
<option {{ "selected" if data["country"] == "Nauru" }} value="Nauru">Nauru</option>
<option {{ "selected" if data["country"] == "Nepal" }} value="Nepal">Nepal</option>
<option {{ "selected" if data["country"] == "Netherlands" }} value="Netherlands">Netherlands</option>
<option {{ "selected" if data["country"] == "Netherlands Antilles" }} value="Netherlands Antilles">Netherlands Antilles</option>
<option {{ "selected" if data["country"] == "New Caledonia"}} value="New Caledonia">New Caledonia</option>
<option {{ "selected" if data["country"] == "New Zealand" }} value="New Zealand">New Zealand</option>
<option {{ "selected" if data["country"] == "Nicaragua" }} value="Nicaragua">Nicaragua</option>
<option {{ "selected" if data["country"] == "Niger" }} value="Niger">Niger</option>
<option {{ "selected" if data["country"] == "Nigeria" }} value="Nigeria">Nigeria</option>
<option {{ "selected" if data["country"] == "Niue" }} value="Niue">Niue</option>
<option {{ "selected" if data["country"] == "Norfolk Island" }} value="Norfolk Island">Norfolk Island</option>
<option {{ "selected" if data["country"] == "Northern Mariana Islands" }} value="Northern Mariana Islands">Northern Mariana Islands</option>
<option {{ "selected" if data["country"] == "Norway" }} value="Norway">Norway</option>
<option {{ "selected" if data["country"] == "Oman" }} value="Oman">Oman</option>
<option {{ "selected" if data["country"] == "Pakistan" }} value="Pakistan">Pakistan</option>
<option {{ "selected" if data["country"] == "Palau" }} value="Palau">Palau</option>
<option {{ "selected" if data["country"] == "Palestinian Territory, Occupied" }} value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
<option {{ "selected" if data["country"] == "Panama" }} value="Panama">Panama</option>
<option {{ "selected" if data["country"] == "Papua New Guinea" }} value="Papua New Guinea">Papua New Guinea</option>
<option {{ "selected" if data["country"] == "Paraguay" }} value="Paraguay">Paraguay</option>
<option {{ "selected" if data["country"] == "Peru" }} value="Peru">Peru</option>
<option {{ "selected" if data["country"] == "Philippines" }} value="Philippines">Philippines</option>
<option {{ "selected" if data["country"] == "Pitcairn" }} value="Pitcairn">Pitcairn</option>
<option {{ "selected" if data["country"] == "Poland" }} value="Poland">Poland</option>
<option {{ "selected" if data["country"] == "Portugal" }} value="Portugal">Portugal</option>
<option {{ "selected" if data["country"] == "Puerto Rico"  }} value="Puerto Rico">Puerto Rico</option>
<option {{ "selected" if data["country"] == "Qatar" }} value="Qatar">Qatar</option>
<option {{ "selected" if data["country"] == "Reunion" }} value="Reunion">Reunion</option>
<option {{ "selected" if data["country"] == "Romania" }} value="Romania">Romania</option>
<option {{ "selected" if data["country"] == "Russian Federation" }} value="Russian Federation">Russian Federation</option>
<option {{ "selected" if data["country"] == "Rwanda" }} value="Rwanda">Rwanda</option>
<option {{ "selected" if data["country"] == "Saint Barthelemy" }} value="Saint Barthelemy">Saint Barthelemy</option>
<option {{ "selected" if data["country"] == "Saint Helena" }} value="Saint Helena">Saint Helena</option>
<option {{ "selected" if data["country"] == "Saint Kitts and Nevis" }} value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
<option {{ "selected" if data["country"] == "Saint Lucia" }} value="Saint Lucia">Saint Lucia</option>
<option {{ "selected" if data["country"] == "Saint Martin" }} value="Saint Martin">Saint Martin</option>
<option {{ "selected" if data["country"] == "Saint Pierre and Miquelon"  }} value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
<option {{ "selected" if data["country"] == "Saint Vincent and the Grenadines" }} value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
<option {{ "selected" if data["country"] == "Samoa" }} value="Samoa">Samoa</option>
<option {{ "selected" if data["country"] == "San Marino" }} value="San Marino">San Marino</option>
<option {{ "selected" if data["country"] == "Sao Tome and Principe" }} value="Sao Tome and Principe">Sao Tome and Principe</option>
<option {{ "selected" if data["country"] == "Saudi Arabia" }} value="Saudi Arabia">Saudi Arabia</option>
<option {{ "selected" if data["country"] == "Senegal" }} value="Senegal">Senegal</option>
<option {{ "selected" if data["country"] == "Serbia" }} value="Serbia">Serbia</option>
<option {{ "selected" if data["country"] == "Serbia and Montenegro" }} value="Serbia and Montenegro">Serbia and Montenegro</option>
<option {{ "selected" if data["country"] == "Seychelles" }} value="Seychelles">Seychelles</option>
<option {{ "selected" if data["country"] == "Sierra Leone" }} value="Sierra Leone">Sierra Leone</option>
<option {{ "selected" if data["country"] == "Singapore" }} value="Singapore">Singapore</option>
<option {{ "selected" if data["country"] == "Sint Maarten" }} value="Sint Maarten">Sint Maarten</option>
<option {{ "selected" if data["country"] == "Slovakia" }} value="Slovakia">Slovakia</option>
<option {{ "selected" if data["country"] == "Solomon Islands" }} value="Solomon Islands">Solomon Islands</option>
<option {{ "selected" if data["country"] == "Somalia" }} value="Somalia">Somalia</option>
<option {{ "selected" if data["country"] == "South Africa" }} value="South Africa">South Africa</option>
<option {{ "selected" if data["country"] == "South Georgia and the South Sandwich Islands" }} value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
<option {{ "selected" if data["country"] == "South Sudan" }} value="South Sudan">South Sudan</option>
<option {{ "selected" if data["country"] == "Spain" }} value="Spain">Spain</option>
<option {{ "selected" if data["country"] == "Sri Lanka" }} value="Sri Lanka">Sri Lanka</option>
<option {{ "selected" if data["country"] == "Sudan" }} value="Sudan">Sudan</option>
<option {{ "selected" if data["country"] == "Suriname" }} value="Suriname">Suriname</option>
<option {{ "selected" if data["country"] == "Svalbard and Jan Mayen" }} value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
<option {{ "selected" if data["country"] == "Swaziland" }} value="Swaziland">Swaziland</option>
<option {{ "selected" if data["country"] == "Sweden" }} value="Sweden">Sweden</option>
<option {{ "selected" if data["country"] == "Switzerland" }} value="Switzerland">Switzerland</option>
<option {{ "selected" if data["country"] == "Syrian Arab Republic" }} value="Syrian Arab Republic">Syrian Arab Republic</option>
<option {{ "selected" if data["country"] == "Taiwan, Province of China" }} value="Taiwan, Province of China">Taiwan, Province of China</option>
<option {{ "selected" if data["country"] == "Tajikistan" }} value="Tajikistan">Tajikistan</option>
<option {{ "selected" if data["country"] == "Tanzania, United Republic of"}} value="Tanzania, United Republic of">Tanzania, United Republic of</option>
<option {{ "selected" if data["country"] == "Thailand" }} value="Thailand">Thailand</option>
<option {{ "selected" if data["country"] == "Timor-Leste" }} value="Timor-Leste">Timor-Leste</option>
<option {{ "selected" if data["country"] == "Togo" }} value="Togo">Togo</option>
<option {{ "selected" if data["country"] == "Tokelau" }} value="Tokelau">Tokelau</option>
<option {{ "selected" if data["country"] == "Tonga" }} value="Tonga">Tonga</option>
<option {{ "selected" if data["country"] == "Trinidad and Tobago" }} value="Trinidad and Tobago">Trinidad and Tobago</option>
<option {{ "selected" if data["country"] == "Tunisia" }} value="Tunisia">Tunisia</option>
<option {{ "selected" if data["country"] == "Turkey" }} value="Turkey">Turkey</option>
<option {{ "selected" if data["country"] == "Turkmenistan" }} value="Turkmenistan">Turkmenistan</option>
<option {{ "selected" if data["country"] == "Turks and Caicos Islands" }} value="Turks and Caicos Islands">Turks and Caicos Islands</option>
<option {{ "selected" if data["country"] == "Tuvalu" }} value="Tuvalu">Tuvalu</option>
<option {{ "selected" if data["country"] == "Uganda" }} value="Uganda">Uganda</option>
<option {{ "selected" if data["country"] == "Ukraine" }} value="Ukraine">Ukraine</option>
<option {{ "selected" if data["country"] == "United Arab Emirates" }} value="United Arab Emirates">United Arab Emirates</option>
<option {{ "selected" if data["country"] == "United Kingdom" }} value="United Kingdom">United Kingdom</option>
<option {{ "selected" if data["country"] == "United States" }} value="United States">United States</option>
<option {{ "selected" if data["country"] == "United States Minor Outlying Islands" }} value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
<option {{ "selected" if data["country"] == "Uruguay" }} value="Uruguay">Uruguay</option>
<option {{ "selected" if data["country"] == "Uzbekistan" }} value="Uzbekistan">Uzbekistan</option>
<option {{ "selected" if data["country"] == "Vanuatu" }} value="Vanuatu">Vanuatu</option>
<option {{ "selected" if data["country"] == "Venezuela" }} value="Venezuela">Venezuela</option>
<option {{ "selected" if data["country"] == "Viet Nam"  }} value="Viet Nam">Viet Nam</option>
<option {{ "selected" if data["country"] == "Virgin Islands, British" }} value="Virgin Islands, British">Virgin Islands, British</option>
<option {{ "selected" if data["country"] == "Virgin Islands, U.S." }} value="Virgin Islands, U.s.">Virgin Islands, U.s.</option>
<option {{ "selected" if data["country"] == "Wallis and Futuna" }} value="Wallis and Futuna">Wallis and Futuna</option>
<option {{ "selected" if data["country"] == "Western Sahara" }} value="Western Sahara">Western Sahara</option>
<option {{ "selected" if data["country"] == "Yemen" }} value="Yemen">Yemen</option>
<option {{ "selected" if data["country"] == "Zambia" }} value="Zambia">Zambia</option>
<option {{ "selected" if data["country"] == "Zimbabwe" }} value="Zimbabwe">Zimbabwe</option>
  </select>
</div>







