<div class="upload-card">
    <div class="upload-container">
        <div class="waiting_for_upload" id="waiting-upload-{{ id }}">
            <p><img src="/public/images/download.png"><br>
            <input type="file" name="private-file" id="file-{{ id }}" class="inputfile" />
            <label for="file-{{ id }}" class="govuk-link">Choose a <span class="govuk-visually-hidden">non-confidential </span>file</label> or drag it here</p>
        </div>
        <div class="scanning_file_for_virus" style="display:none">
            <label class="govuk-label" for="progress-1">
                Scanning file:
                <div class="file_name"></div>
            </label>
            <progress id="progress-scan"></progress>
            <p><a href="#" class="govuk-link--no-visited-state" id="cancel-upload"> Cancel <span class="govuk-visually-hidden">file</span></a></p>
        </div>

        <div class="uploading_file" style="display:none">
            <label class="govuk-label" for="progress-10">
                <div class="upload_percentage">Uploading 10%:</div>
                <div class="file_name"></div>
            </label>
            <progress class="progress-10" max="100" value="10"></progress>
            <progress class="progress-40" max="100" value="40" style="display:none"></progress>
            <progress class="progress-70" max="100" value="70" style="display:none"></progress>
            <progress class="progress-100" max="100" value="100" style="display:none"></progress>
            <p><a href="#" class="govuk-link--no-visited-state" id="case-selected-status">Cancel <span class="govuk-visually-hidden">file</span></a></p>
        </div>

        <div class="upload_file_complete" style="display:none" id="complete-upload-{{ id }}">
            <label class="govuk-label" for="progress-complete">
                <span class="govuk-visually-hidden">Upload complete:</span>
            </label>
            <p class="file_name" id="progress-complete"></p>
            <p><a href="#doc-1" class="govuk-link govuk-link--no-visited-state" onclick="removeDoc()">Remove <span class="govuk-visually-hidden">non-confidential file</span></a></p>
        </div>

    </div>
</div>


