<div class="address-container">
  <h3 class="govuk-heading-m clearfix">{{data['party111']}}
    <p class="right-aligned-link">
      <a href="" class="govuk-link--no-visited-state">Edit</a>
    </p>   
  </h3>
  <dl class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Address:</dt>
      <dd class="govuk-summary-list__value">{{data['party-address111']}} <br>
        {{data['party-postcode111']}}<br>
        {{data['party-country111']}}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Reg number: </dt>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Web address: </dt>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VAT no: </dt>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">EORI: </dt>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">D-U-N-S: </dt>
      <dd class="govuk-summary-list__value"></dd>
    </div>
  </dl> 
</div>