<div class="address-container">
  <h3 class="govuk-heading-m clearfix">{{data['representative1']}}
    <p class="right-aligned-link">
      <a href="" class="govuk-link--no-visited-state">Edit</a>
    </p> 
  </h3>
  <dl class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Address:</dt>
      <dd class="govuk-summary-list__value">{{data['rep-address1']}} <br>
        {{data['rep-postcode1']}}<br>
        {{data['rep-country1']}}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Reg number: </dt>
      <dd class="govuk-summary-list__value">{{data['rep-org-number1']}} <img src="/public/images/checkmark.png" class="verified-tick" alt="Valid Companies House registration number" title="Valid Companies House registration number" width="20px"><span class="govuk-body-s">Valid</span>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Web address: </dt>
      <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['rep-web1']}}</a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">VAT no: </dt>
      <dd class="govuk-summary-list__value">{{data['rep-vat1']}}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">EORI: </dt>
      <dd class="govuk-summary-list__value">{{data['rep-eori1']}}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">D-U-N-S: </dt>
      <dd class="govuk-summary-list__value">{{data['rep-duns1']}}</dd>
    </div>
  </dl> 
</div>