<!-- Duplicate Representative only show if there is dup rep 
{% if (data['duplicate-org'] == "rep") or (data['duplicate-org'] == "both") %}

  {% if (data['merge-rep-task'] == "complete") %}
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-merge-rep-party" class="govuk-link--no-visited-state" aria-describedby="duplicate-status">
          Duplicate organisations
        </a>
      </span>
      <strong class="govuk-tag app-task-list__tag" id="duplicate-status">Complete</strong>
    </li>

    {% else %}
    {% if (data['merge-rep-task'] == "pending") %}
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-merge-rep-party?merge-duplicates=1of2" class="govuk-link--no-visited-state" aria-describedby="duplicate-status">
            Duplicate organisations
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="duplicate-status">Pending approval</strong>
      </li>
      {% else %}
      {% if (data['merge-rep-task'] == "started") %}
        <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-merge-rep-party" class="govuk-link--no-visited-state" aria-describedby="duplicate-status">
            Duplicate organisations
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="duplicate-status">In progress</strong>
        </li>
      
        {% else %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="reginterest-merge-rep-party?merge-duplicates=1of2" class="govuk-link--no-visited-state" aria-describedby="duplicate-status">
              Duplicate organisations
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="duplicate-status">Not started yet</strong>
        </li>
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
-->
<!-- Rep party -->
<!-- If there are dups and the dups are not complete, Int Party cannot be started -->

  {% if ((data['duplicate-org'] == "rep") and (data['merge-rep-task'] != "complete")) 
  or ((data['duplicate-org'] == "both") and (data['merge-rep-task'] != "complete")) %}

    <li class="app-task-list__item">
      <span class="app-task-list__task-name" aria-describedby="rep-party-status">
        Representative 
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="rep-party-status">Cannot start yet</strong>
    </li>

    {% else %}
    {% if (data['rep-party-task'] == "complete") %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="reginterest-representative-party" class="govuk-link--no-visited-state" aria-describedby="rep-party-status">
              Representative 
            </a>
          </span>
          <strong class="govuk-tag app-task-list__tag" id="rep-party-status">Complete</strong>
        </li>

        {% else %}
        
        <!-- If the user has not started section 2 show -->
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="reginterest-representative-party" class="govuk-link--no-visited-state" aria-describedby="rep-party-status">
              Representative {{data['loa-task']}}
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="rep-party-status">Not started yet</strong>
        </li>
    {% endif %}
  {% endif %}

<!-- LOA -->
<!-- If there are dups and the dups are not complete, LOA cannot be started -->

{% if ((data['duplicate-org'] == "rep") and (data['merge-rep-task'] != "complete")) 
or ((data['duplicate-org'] == "both") and (data['merge-rep-task'] != "complete")) %}
  <li class="app-task-list__item">
    <span class="app-task-list__task-name" aria-describedby="organisation-loa-status">  
        Letter of Authority
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-loa-status">Cannot start yet</strong>
  </li>

  {% else %}
  <!-- If there are no dups LOA status is according to what the user has done -->
  {% if (data['loa-task'] == "complete") %}
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-loa-existing" class="govuk-link--no-visited-state" aria-describedby="organisation-loa-status">
         Letter of Authority
        </a>
      </span>
      <strong class="govuk-tag app-task-list__tag" id="organisation-loa-status">Complete</strong>
    </li>
    <!-- If the user has not completed a submission -->
    {% else %}
     {% if (data['loa-task'] == "started") %}
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-loa-submission" class="govuk-link--no-visited-state" aria-describedby="organisation-loa-status">
            Letter of Authority
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="organisation-loa-status">In progress</strong>
      </li>
      {% else %}
      {% if (data['loa-task'] == null ) %}
        <!-- If the user has not started -->
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="reginterest-loa-existing" class="govuk-link--no-visited-state" aria-describedby="organisation-loa-status">
              Letter of Authority
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-loa-status">Not started yet</strong>
        </li>
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}