<!--If the user is trying to reg interest show: -->
{% if data['tasklist-type'] == "reg-interest" %}

  {% if (data['regcase-task'] == "complete") %}
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-case" class="govuk-link--no-visited-state" aria-describedby="case-selected-status">
          Select a Trade Remedies case
        </a>
      </span>
      <strong class="govuk-tag app-task-list__tag" id="case-selected-status">Complete</strong>
    </li>

    {% else %}
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-case" class="govuk-link--no-visited-state" aria-describedby="case-selected-status">
          Select a Trade Remedies case 	
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="case-selected-status">Not started</strong>
    </li>


  {% endif %}

  {% else %}

  <!--If the user is trying to invite a third party show: -->

    {% if data['tasklist-type'] == "invite-rep" %}

        {% if (data['invite-case-task'] == "complete") %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="invite-case" class="govuk-link--no-visited-state" aria-describedby="case-selected-status">
              Select a Trade Remedies case 
            </a>
          </span>
          <strong class="govuk-tag app-task-list__tag" id="case-selected-status">Complete</strong>
        </li>

        {% else %}

          {% if (data['invite-case-task'] == "started") %}
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="invite-case" class="govuk-link--no-visited-state" aria-describedby="case-selected-status">
                  Select a Trade Remedies case
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="case-selected-status">In progress</strong>
            </li>

            {% else %}

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="invite-case" class="govuk-link--no-visited-state" aria-describedby="case-selected-status">
                    Select a Trade Remedies case
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="case-selected-status">Not started</strong>
              </li>

          {% endif %}

      {% endif %}


    {% endif %}

{% endif %}