<!--If the user is trying to reg interest show: -->
<!--If the user is trying to reg interest show: -->
<!--If the user is trying to reg interest show: -->
{% if data['tasklist-type'] == "reg-interest" %}

  <!-- Public - reginterest org - organisation - if the user has completed section 2 show: -->
  {% if (data['which-org-task'] == "complete") %}

    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-which-org" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
          Organisation details 
        </a>
      </span>
      <strong class="govuk-tag app-task-list__tag" id="organisation-selected-status">Complete</strong>
    </li>

    {% else %}
      <!-- If the user has started section 2 show: -->
    {% if (data['which-org-task'] == "started")  %}

      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-which-org" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
            Organisation details 
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="organisation-selected-status">In progress</strong>
      </li>
        
      {% else %}
        <!-- If the user has not started section 2 show -->
      {% if (data['regcase-task'] == "complete")  %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="reginterest-which-org?which-org-task=started" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
              Organisation details  
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-selected-status">Not started yet</strong>
        </li>

        {% else %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name" aria-describedby="organisation-selected-status">
            Organisation details  
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-selected-status">Cannot start yet</strong>
        </li>
      {% endif %}
    {% endif %}
  {% endif %}

  {% else %}

  <!--If the user is trying to invite a third party show: -->
  <!--If the user is trying to invite a third party show: -->
  <!--If the user is trying to invite a third party show: -->
  <!--If the user is trying to invite a third party show: -->

  {% if data['tasklist-type'] == "invite-rep" %}

    <!--If the user does not have any existing cases or reps: -->
    {% if (data['existing-cases-reps'] == "no")  %}

      {% if (data['invite-which-org-task'] == "complete") %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="invite-rep-contact" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
              Organisation details 
            </a>
          </span>
          <strong class="govuk-tag app-task-list__tag" id="organisation-selected-status">Complete</strong>
        </li>

        {% else %}

          <!-- If the user has this secton show: -->
        {% if (data['invite-which-org-task'] == "started")  %}
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="invite-rep-contact" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
                Organisation details  
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="organisation-selected-status">In progress</strong>
          </li>
            
          {% else %}

          <!-- If the the user has completed section 1: Cases -->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="invite-rep-contact" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
                Organisation details 
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-selected-status">Not started yet</strong>
          </li> 
        {% endif %}
      {% endif %}

      {% else %}

        <!--If the user does have existing cases and reps: -->
      {% if (data['existing-cases-reps'] != "no")  %}
        {% if (data['invite-which-org-task'] == "complete") %}
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="invite-rep-which-org" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
                Organisation details  
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="organisation-selected-status">Complete</strong>
          </li>

          {% else %}

            <!-- If the user has this secton show: -->
          {% if (data['invite-which-org-task'] == "started")  %}
            <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="invite-rep-which-org" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
                Organisation details  
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="organisation-selected-status">In progress</strong>
            </li>
                
            {% else %}
          
              <!-- If the the user has completed section 1: Cases -->
            {% if (data['invite-case-task'] == "complete") %}
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="invite-rep-which-org" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
                    Organisation details  
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-selected-status">Not started yet</strong>
              </li>

              {% else %}

              <li class="app-task-list__item">
                <span class="app-task-list__task-name" aria-describedby="organisation-selected-status">
                  Organisation details 
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-selected-status">Cannot start yet</strong>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}