<!-- Duplicate Interested party only show if there is dup int 
{% if (data['duplicate-org'] == "int") or (data['duplicate-org'] == "both") %}
  {% if (data['merge-task'] == "complete") %}
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-merge-int-party" class="govuk-link--no-visited-state" aria-describedby="duplicate-status">
          Duplicate organisations
        </a>
      </span>
      <strong class="govuk-tag app-task-list__tag" id="duplicate-status">Complete</strong>
    </li>

    {% else %}
   
    {% if (data['merge-task'] == "started") %}
      <li class="app-task-list__item">
      <span class="app-task-list__task-name">
      <a href="reginterest-merge-int-party" class="govuk-link--no-visited-state" aria-describedby="duplicate-status">
          Duplicate organisations
      </a>
      </span>
      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="duplicate-status">In progress</strong>
      </li>
      {% else %}

      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-merge-int-party?merge-duplicates=1b" class="govuk-link--no-visited-state" aria-describedby="duplicate-status">
            Duplicate organisations
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="duplicate-status">Not started yet</strong>
      </li>
    {% endif %}
  {% endif %}
{% endif %}
-->
<!-- Interested party -->
<!-- If there are dups and the dups are not complete, Int Party cannot be started -->
{% if ((data['duplicate-org'] == "int") and (data['merge-task'] != "complete")) 
or ((data['duplicate-org'] == "both") and (data['merge-task'] != "complete")) %}

  <li class="app-task-list__item">
    <span class="app-task-list__task-name" aria-describedby="primary-party-status">
      Interested party
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="primary-party-status">Cannot start yet</strong>
  </li>

  {% else %}
  {% if (data['int-party-task'] == "complete") %}
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-interested-party" class="govuk-link--no-visited-state" aria-describedby="primary-party-status">
            Interested party
          </a>
        </span>
        <strong class="govuk-tag app-task-list__tag" id="primary-party-status">Complete</strong>
      </li>
      {% else %}
      <!-- If the user has not started section 2 show -->
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-interested-party" class="govuk-link--no-visited-state" aria-describedby="primary-party-status">
            Interested party
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="primary-party-status">Not started yet</strong>
      </li>
  {% endif %}
{% endif %}

