{% extends "layout.html" %}

{% block pageTitle %}
  Enter your password – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <form action="createaccount-auth-2fa" method="post" id="forgotpass-newpass">   
        
        {% call govukFieldset({
          legend: {
            text: "Enter your password",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

<!-- This text is only shown to screen readers and informs the user that the password is / isn't hidden -->
        <p aria-live="polite" id="password-text" class="sr-only">Password hidden.</p>

        <div class="input-with-button">
          <button id="show-password" type="button" role="switch" aria-pressed="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            <span class="show-icon">Show</span>
          </button>
          
          {{ govukInput({
            label: {
              text: "Enter password"
            },
            classes: "govuk-input--width-10",
            id: "password",
            name: "password",
            type: "password",
            describedBy: "password-hints",
            autocomplete: "new-password" 
          }) }}
        
        </div>
        
        <div class="input-with-button">
          <button id="show-password" type="button" role="switch" aria-pressed="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            <span class="show-icon">Show</span>
          </button>
        
          {{ govukInput({
            label: {
              text: "Confirm password"
            },
            classes: "govuk-input--width-10",
            id: "createacount-password-confirm",
            name: "createacount-password-confirm",
            type: "password"
          }) }}
        
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
        {% endcall %} 
        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}