{% extends "layout.html" %}

{% block pageTitle %}
  Invite contact details - {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav' %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    <form action="invite-party-check" novalidate method="post" id="invite-party-contacts-choice-form">

      {% set user1HTML %}
        {{data['party-user1'] }} - {{data['party-email1'] }}
      {% endset -%}

      {% set user2HTML %}
      {{data['party-user11'] }} - {{data['party-email11'] }}
      {% endset -%}

      {{ govukCheckboxes({
        idPrefix: "invite-party-contacts-choice",
        name: "invite-party-contacts-choice",
        fieldset: {
          legend: {
            text: "Which contact do you want to invite?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all contacts you want to invite."
        },
        items: [
          {
            value: user1HTML,
            html: user1HTML,
            checked: checked("invite-party-contacts-choice", "user1HTML")
          },
          {
            value: user2HTML,
            html: user2HTML,
            checked: checked("invite-party-contacts-choice", "user2HTML")
          }
        ]
      }) }}

      {{ govukDetails({
        summaryText: "I want to invite a new contact from this organisation",
        html: '<p>To avoid duplicate accounts, please ask the admin from the organisation to invite the new contact to the account first.</p>'
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
      </div>

    </form>
    
  </div>

</div>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}


