{% extends "layout.html" %}

{% block pageTitle %}
  Invite sent - {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav' %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Invite sent
        </h1>
      </div>
  
      <p>We have sent the invite to:</p>
      {% if data ['direct-invite'] == "no" %}
        {% if data['invite-party-contacts-choice'] == "new-contact" %}
          <ul class="govuk-list">
            {{data['invite-contact-name'] or "Jane Winder"}}  - {{data['invite-contact-email'] or "j.winder@steeluk.org"}}</ul>
          <p>Organisation:  {{data['invite-contact-org-name'] or "Steel UK"}}<br>
            Case: AD2224 - Steel plate from Russia<br>     
          </p>
          {% else %}
          <ul class="govuk-list">
            {% for contact in data['invite-party-contacts-choice'] %}
              <li>{{ contact }}</li>
            {% endfor %}
          </ul>
          <p> Organisation: Steel UK<br>
            Case: {{data['case-ref1']}} - {{data['case-name1']}}
           <br>          
          </p>
        {% endif %}

        {% else %}
        {% if data ['direct-invite'] == "yes" %}
          <ul class="govuk-list govuk-list--bullet">
            <li>{{data['invite-contact-name']}}  - {{data['invite-contact-email']}}</li>
          </ul>
          <p> Organisation: Bluesteel Partners<br>
            Case: AD2224 - Steel plate from Russia          
          </p>
        {% endif %}
      {% endif %}


      <p>The invite will ask them to register interest in the case.</p>
      <p>You will be alerted when they have completed their registration of interest.</p>

      <form action="../case-parties" method="post" id="dashboard">              

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Back to case"
          }) }}    
          <a class="govuk-link govuk-link--no-visited-state" href="invite-party">Invite another party</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
        },
        {
          href: "/public-site/email/email-caseworker-existing-invite-org",
          text: "Existing user invite email"
        },
        {
          href: "/public-site/email/email-caseworker-new-invite-org",
          text: "New user invite email"
        }
      ]
    }
  }) }}
{% endblock %}