{% extends "layout.html" %}

{% block pageTitle %}
   Review your answers – {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav' %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Review your answers
    </h1>

    <h2 class="govuk-heading-m">Your invite</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['case-ref1']}} - {{data['case-name1']}}
        </dd>
      </div>
    </dl>
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['invite-party-contacts-choice'] == "new-contact" %}
            {{data['invite-contact-org-name'] or "Steel UK"}}
            {% else %}
            Steel UK
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['invite-party-contacts-choice'] == "new-contact" %}
            <a href="invite-party" class="govuk-link--no-visited-state">
            Change
              <span class="govuk-visually-hidden"> organisation</span>
            </a>
          {% else %}
          <a href="invite-party" class="govuk-link--no-visited-state">
            Change
              <span class="govuk-visually-hidden"> organisation</span>
            </a>
          {% endif %}
        </dd>
      </div>
    </dl>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            {% if data['invite-party-contacts-choice'] == "new-contact" %}
              <li>{{data['invite-contact-name'] or "Jane Winder"}}  - {{data['invite-contact-email'] or "j.winder@steeluk.org"}}</li>
              {% else %}
              {% for contact in data['invite-party-contacts-choice'] %}
                <li>{{ contact }}</li>
              {% endfor %}
            {% endif %}
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['invite-party-contacts-choice'] == "new-contact" %}
            <a href="invite-new-contact-details" class="govuk-link--no-visited-state">
            Change
              <span class="govuk-visually-hidden"> contact</span>
            </a>
          {% else %}
          <a href="invite-party-contacts-choice" class="govuk-link--no-visited-state">
            Change
              <span class="govuk-visually-hidden"> contact</span>
            </a>
          {% endif %}
        </dd>
        
      </div>
    
    </dl>
   

    <h2 class="govuk-heading-m">Now send your invite</h2>
    <p>Submitting this information will send email invites.</p>
    
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm and send invite",
        href: "invite-party-complete"
      }) }}    
       

    </div>

    </form>


</div>

</div>
{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}