{% extends "layout.html" %}

{% block pageTitle %}
  Merge organisations - {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav' %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="merge-choose-table-radio?who-signin=lead&merge-duplicates=1c" method="post" id="merge-two-orgs-form"> 

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Select two organisations to merge
          </h1>
        </legend>
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="merge_org_1">
              Organisation 1
            </label>
          </h2>
          <select class="govuk-select autocomplete-select" id="merge_org_1"  data-selected-company-wrapper-id="company_data_1" name="merge_org_1" autocomplete-placeholder="Search by organisation name or registration number">
            <option value="" class="selected"></option>
            <option value="ALUMINUM TRADE LTD (05850450) Suite 19 Old Anglo House, Mitton Street, Stourport-On-Severn, Worcestershire, DY13 9AQ">ALUMINUM TRADE LTD (05850450)</option>
            <option value="ALUMINUM ELECTRICS LIMITED (05337101) 20 Highbury Place, Bramley, Leeds, United Kingdom, LS13 4PW">ALUMINUM ELECTRICS LIMITED (05337101)</option>
            <option value="ALUMINUM SQUIRREL LIMITED (SOUTH WALES) (08199303) 16 Bracken Park, Bingley, United Kingdom, BD16 3LG">ALUMINUM SQUIRREL LIMITED (SOUTH WALES) (08199303)</option>
            <option value="ALUMINIUM PROFILE SERVICES LIMITED (09849849) Clock Cottage, Corneybury Farm, Royston Road, Buntingford, Hertfordshire, England, SG9 9RS">ALUMINIUM PROFILE SERVICES LIMITED (09849849)</option>
            <option value="ALUMINIUM INTEGRATED SOLUTIONS LIMITED (09424974) 61 Great North Road, Newcastle Upon Tyne, Tyne And Wear, United Kingdom, NE3 2DQ">ALUMINIUM INTEGRATED SOLUTIONS LIMITED (09424974)</option>
            <option value="ALUMINIUM STAR LIMITED (07751077) 21 Princess Mary House, Vincent Street Westminster, London, England, SW1P 4HL">ALUMINIUM STAR LIMITED (07751077) </option>
            <option value="ALUMINUMNOW LIMITED (07650927) 29 Belfont Walk, London, 29 Belfont Walk, London, Greater London, England, N7 0SN">ALUMINUMNOW LIMITED (07650927) </option>
            <option value="ALUMINUMNOW MARITIME SOLUTIONS LTD. (08567105) 29 Belfont Walk 29 Belfont Walk, London, Greater London, England, N7 0SN">ALUMINUMNOW MARITIME SOLUTIONS LTD. (08567105)</option>
            <option value="AEROSPACE ALUMINUM CO., LTD (08667181) Unit G25 Waterfront Studios, 1 Dock Road, London, United Kingdom, E16 1AH">AEROSPACE ALUMINUM CO., LTD (08667181)</option>
            <option value="BLUESTEEL (223456789) 243 Cupboard Lane, Leeds, LE1 1AF, United Kingdomm">BLUESTEEL (223456789)</option>
            <option value="BLUESTEEL PARTNERS (223456789) 305 Fleet Street, London, EC4Y 1JU, United Kingdom">BLUESTEEL PARTNERS (223456789)</option>
            <option value="Steel UK (49069784) 20 Highbury Place, Bramley, Leeds, LS13 4PW, United Kingdom">Steel UK (49069784)</option>
          </select>
        </div>

        <div style="display:none;" id="company_data_1">
          <div class="govuk-inset-text" id="selected_company"></div>
        </div>

        <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="merge_org_2">
              Organisation 2
          </label>
        </h2>
        <select class="govuk-select autocomplete-select" id="merge_org_2" data-selected-company-wrapper-id="company_data_2"  name="merge_org_2" autocomplete-placeholder="Search by organisation name or registration number">
            <option value="" class="selected"></option>
            <option value="ALUMINUM TRADE LTD (05850450) Suite 19 Old Anglo House, Mitton Street, Stourport-On-Severn, Worcestershire, DY13 9AQ">ALUMINUM TRADE LTD (05850450)</option>
            <option value="ALUMINUM ELECTRICS LIMITED (05337101) 20 Highbury Place, Bramley, Leeds, United Kingdom, LS13 4PW">ALUMINUM ELECTRICS LIMITED (05337101)</option>
            <option value="ALUMINUM SQUIRREL LIMITED (SOUTH WALES) (08199303) 16 Bracken Park, Bingley, United Kingdom, BD16 3LG">ALUMINUM SQUIRREL LIMITED (SOUTH WALES) (08199303)</option>
            <option value="ALUMINIUM PROFILE SERVICES LIMITED (09849849) Clock Cottage, Corneybury Farm, Royston Road, Buntingford, Hertfordshire, England, SG9 9RS">ALUMINIUM PROFILE SERVICES LIMITED (09849849)</option>
            <option value="ALUMINIUM INTEGRATED SOLUTIONS LIMITED (09424974) 61 Great North Road, Newcastle Upon Tyne, Tyne And Wear, United Kingdom, NE3 2DQ">ALUMINIUM INTEGRATED SOLUTIONS LIMITED (09424974)</option>
            <option value="ALUMINIUM STAR LIMITED (07751077) 21 Princess Mary House, Vincent Street Westminster, London, England, SW1P 4HL">ALUMINIUM STAR LIMITED (07751077) </option>
            <option value="ALUMINUMNOW LIMITED (07650927) 29 Belfont Walk, London, 29 Belfont Walk, London, Greater London, England, N7 0SN">ALUMINUMNOW LIMITED (07650927) </option>
            <option value="ALUMINUMNOW MARITIME SOLUTIONS LTD. (08567105) 29 Belfont Walk 29 Belfont Walk, London, Greater London, England, N7 0SN">ALUMINUMNOW MARITIME SOLUTIONS LTD. (08567105)</option>
            <option value="AEROSPACE ALUMINUM CO., LTD (08667181) Unit G25 Waterfront Studios, 1 Dock Road, London, United Kingdom, E16 1AH">AEROSPACE ALUMINUM CO., LTD (08667181)</option>
            <option value="BLUESTEEL (223456789) 243 Cupboard Lane, Leeds, LE1 1AF, United Kingdomm">BLUESTEEL (223456789)</option>
            <option value="BLUESTEEL PARTNERS (223456789) 305 Fleet Street, London, EC4Y 1JU, United Kingdom">BLUESTEEL PARTNERS (223456789)</option>
            <option value="Steel UK (49069784) 20 Highbury Place, Bramley, Leeds, LS13 4PW, United Kingdom">Steel UK (49069784)</option>
          </select>
        </div>

        <div style="display:none;" id="company_data_2">
          <div class="govuk-inset-text" id="selected_company"></div>
        </div>
        
      </fieldset>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
      </div>
    </form> 
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}