{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Organisations: {{data['dup-party1']}} – {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width org-nav org-overview-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="orgs-all" class="govuk-breadcrumbs__link">All organisations</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{data['dup-party1']}}
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{data['dup-party1']}}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
    {% set casesHTML %}
      <h3 class="govuk-heading-m">Cases
      </h3>
      <form>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-!-display-inline" for="sort-cases">
              Sort your cases by
            </label>
           <select class="govuk-select" id="sort-cases" name="sort-cases">
              <option value="Case No." selected>Case No.</option>
              <option value="Case">Case</option>
              <option value="Case role">Case role</option> 
            </select>           
          </div>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-visually-hidden" for="direction-cases">
              Direction
            </label>
            <select class="govuk-select" id="direction-cases" name="direction-cases">
              <option value="Decending" selected>Decending</option>
              <option value="Ascending ">Ascending </option>
            </select>
          </div>
  
          {{ govukButton({
            text: "Sort",
            classes: "govuk-button--secondary table-sort"
          }) }}
      </form>  
  
      <table class="govuk-table sortable mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing all of the cases this organisation is involved in
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Case No.
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Case
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Case role
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header no-sort">
              <span class="govuk-visually-hidden--desktop">Action:</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Case No. </span><a href="cases/case-overview" class="govuk-link--no-visited-state">{{data['case-ref1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Case: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">{{data['case-name1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Party type: </span><strong class="govuk-tag govuk-tag--yellow">Pending</strong>
            </td>
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="../reg-interest/reginterest-tasks?verify-type=reg-interest&third-party=no&notify-contact=yes" class="govuk-link--no-visited-state">View request <span class="govuk-visually-hidden">for case {{data['case-ref1']}}</span></a>
            </td>
          </tr>
        </body>
      </table>    

    {% endset %}

    {% set usersHTML %}
    <h3 class="govuk-heading-m">Users
    </h3>
    <form>
        <div class="govuk-form-group table-sort">
          <label class="govuk-label govuk-!-display-inline" for="sort-users">
            Sort users by
          </label>
          <select class="govuk-select" id="sort-users" name="sort-users">
            <option value="No." selected>Name</option>
            <option value="Case">Email</option>
            <option value="Account role">Account role</option>
            <option value="Cases">Cases</option>
          </select>
        </div>
        <div class="govuk-form-group table-sort">
          <label class="govuk-label govuk-visually-hidden" for="direction-users">
            Direction
          </label>
          <select class="govuk-select" id="direction-users" name="direction-users">
            <option value="Decending" selected>Decending</option>
            <option value="Ascending ">Ascending </option>
          </select>
        </div>

        {{ govukButton({
          text: "Sort",
          classes: "govuk-button--secondary table-sort"
        }) }}
    </form>  

    <table class="govuk-table sortable mobile-table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
        A table listing all of the users that are related to this organisation's account
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" aria-sort="ascending">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Name
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Email
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Account role
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Cases
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Name: </span><a href="" class="govuk-link--no-visited-state">{{data['dup-user1']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Email: </span><a href="" class="govuk-link--no-visited-state">{{data['dup-email1']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Org role: </span>Admin user
          </td>
           <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Cases: </span>0
          </td>
        </tr>
      </body>
    </table> 
    {% endset %}

    {% set detailsHTML %}
    <h3 class="govuk-heading-m">Organisation details
    </h3>
    <div class="address-card">
      {% include "includes/org-steeel.html" %}
    </div>   
    {% endset %}



    {{ govukTabs ({
      items: [
      { 
        label: "All cases",
        id: "cases",
        panel: {
          html: casesHTML
        }
      },
      { 
        label: "Users",
        id: "users",
        panel: {
          html: usersHTML
        }
      },
      { 
        label: "Organisation details",
        id: "details",
        panel: {
          html: detailsHTML
        }
      }
      ]
    }) }}

</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
