{% extends "layout.html" %}

{% block pageTitle %}
  Edit organisation details - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width org-nav org-overview-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    <!--This determines where the edit page should go back to-->
    {% if data['org-edit-type'] == "org-int" %}
      <form action="/caseworker/orgs/org-steeluk#details" method="post" id="edit-org-dets-form"> 
      {% else %}
      {% if data['org-edit-type'] == "merge-int" %}
        <form action="/caseworker/reg-interest/reginterest-merge-int-party" method="post" id="edit-org-dets-form"> 
        {% else %}
        {% if data['org-edit-type'] == "verfiy-int" %}      
          <form action="/caseworker/reg-interest/reginterest-interested-party" method="post" id="edit-org-dets-form"> 
        {% endif %}
      {% endif %}
    {% endif %}


        <h1 class="govuk-heading-xl">
          Edit organisation details
        </h1>

        <!--This uses different field content as it is the int party-->
        {% if data['party-type'] == "int" %}

          {{ govukInput({
            label: {
              text: "Name of organisation",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            classes: "govuk-input--width-20",
            id: "party1",
            name: "party1",
            value: data['party1'],
            type: "text"
          }) }}
        
          {% call govukFieldset({
            legend: {
              text: "Address of organisation",
              classes: "govuk-fieldset__legend--s",
              isPageHeading: true
            }
          }) %}

          <p>Provide the address of the main office.</p>

            {{ govukTextarea({
              label: {
                text: "Street address",
                isPageHeading: false
              },
              classes: "govuk-input--width-20",
              id: "party-address1",
              name: "party-address1",
              value: data['party-address1'],
              type: "text"
            }) }}

            {{ govukInput({
              label: {
                text: "Postcode or zip code",
                isPageHeading: false
              },
              classes: "govuk-input--width-5",
              id: "party-postcode1",
              name: "party-postcode1",
              value: data['party-postcode1'],
              type: "text"
            }) }}
          
          {% endcall %}

          {% include "includes/country-list.html" %}
          
          {{ govukInput({
            label: {
              text: "Organisation registration number",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            classes: "govuk-input--width-10",
            id: "party-org-number1",
            name: "party-org-number1",
            value: data['party-org-number1'],
            type: "text"
          }) }} 

          {{ govukInput({
            label: {
              text: "Website (optional)",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            classes: "govuk-input--width-20",
            id: "party-web1",
            name: "party-web1",
            type: "text",
            value: data['party-web1']  
          }) }}
          
          {{ govukInput({
            label: {
              text: "VAT registration number (optional)",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            classes: "govuk-input--width-20",
            id: "party-vat1",
            name: "party-vat1",
            type: "text",
            value: data['party-vat1']
          }) }}

          {{ govukInput({
            label: {
              text: "EORI number (optional)",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            classes: "govuk-input--width-20",
            id: "party-eori1",
            name: "party-eori1",
            type: "text",
            value: data['party-eori1']          
          }) }}

          {{ govukInput({
            label: {
              text: "DUNS number (optional)",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            classes: "govuk-input--width-20",
            id: "party-duns1",
            name: "party-duns1",
            type: "text",
            value: data['party-duns1']  
          }) }}

          {% else %}

          <!--This uses different field contents as it is the duplicate org-->
          {% if data['party-type'] == "int-dup1" %}
          
            {{ govukInput({
              label: {
                text: "Name of organisation",
                classes: "govuk-label--s",
                isPageHeading: false
              },
              classes: "govuk-input--width-20",
              id: "dup-party1",
              name: "dup-party1",
              value: data['dup-party1'],
              type: "text"
            }) }}
          
            {% call govukFieldset({
              legend: {
                text: "Address of organisation",
                classes: "govuk-fieldset__legend--s",
                isPageHeading: true
              }
            }) %}

            <p>Provide the address of the main office.</p>

              {{ govukTextarea({
                label: {
                  text: "Street address",
                  isPageHeading: false
                },
                classes: "govuk-input--width-20",
                id: "dup-party-address1",
                name: "dup-party-address1",
                value: data['dup-party-address1'],
                type: "text"
              }) }}

              {{ govukInput({
                label: {
                  text: "Postcode or zip code",
                  isPageHeading: false
                },
                classes: "govuk-input--width-5",
                id: "dup-party-postcode1",
                name: "dup-party-postcode1",
                value: data['dup-party-postcode1'],
                type: "text"
              }) }}
            
            {% endcall %}

            {% include "includes/country-list.html" %}
            {{ govukInput({
              label: {
                text: "Organisation registration number",
                classes: "govuk-label--s",
                isPageHeading: false
              },
              classes: "govuk-input--width-10",
              id: "dup-party-org-number1",
              name: "dup-party-org-number1",
              value: data['dup-party-org-number1'],
              type: "text"
            }) }} 

            {{ govukInput({
              label: {
                text: "Website (optional)",
                classes: "govuk-label--s",
                isPageHeading: false
              },
              classes: "govuk-input--width-20",
              id: "dup-party-web1",
              name: "dup-party-web1",
              type: "text",
              value: data['dup-party-web1']  
            }) }}
            
            {{ govukInput({
              label: {
                text: "VAT registration number (optional)",
                classes: "govuk-label--s",
                isPageHeading: false
              },
              classes: "govuk-input--width-20",
              id: "dup-party-vat1",
              name: "dup-party-vat1",
              type: "text",
              value: data['dup-party-vat1']
            }) }}

            {{ govukInput({
              label: {
                text: "EORI number (optional)",
                classes: "govuk-label--s",
                isPageHeading: false
              },
              classes: "govuk-input--width-20",
              id: "dup-party-eori1",
              name: "dup-party-eori1",
              type: "text",
              value: data['dup-party-eori1']          
            }) }}

            {{ govukInput({
              label: {
                text: "DUNS number (optional)",
                classes: "govuk-label--s",
                isPageHeading: false
              },
              classes: "govuk-input--width-20",
              id: "dup-party-duns1",
              name: "dup-party-duns1",
              type: "text",
              value: data['dup-party-duns1']  
            }) }}

            {% else %}

            <!--This uses different field contents as it is the duplicate org-->
            {% if data['party-type'] == "int-dup2" %}
            
              {{ govukInput({
                label: {
                  text: "Name of organisation",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                classes: "govuk-input--width-20",
                id: "dup-party2",
                name: "dup-party2",
                value: data['dup-party2'],
                type: "text"
              }) }}
            
              {% call govukFieldset({
                legend: {
                  text: "Address of organisation",
                  classes: "govuk-fieldset__legend--s",
                  isPageHeading: true
                }
              }) %}

              <p>Provide the address of the main office.</p>

                {{ govukTextarea({
                  label: {
                    text: "Street address",
                    isPageHeading: false
                  },
                  classes: "govuk-input--width-20",
                  id: "dup-party-address2",
                  name: "dup-party-address2",
                  value: data['dup-party-address2'],
                  type: "text"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Postcode or zip code",
                    isPageHeading: false
                  },
                  classes: "govuk-input--width-5",
                  id: "dup-party-postcode2",
                  name: "dup-party-postcode2",
                  value: data['dup-party-postcode2'],
                  type: "text"
                }) }}
              
              {% endcall %}

              {% include "includes/country-list.html" %}
              {{ govukInput({
                label: {
                  text: "Organisation registration number",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                classes: "govuk-input--width-10",
                id: "dup-party-org-number2",
                name: "dup-party-org-number2",
                value: data['dup-party-org-number2'],
                type: "text"
              }) }} 

              {{ govukInput({
                label: {
                  text: "Website (optional)",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                classes: "govuk-input--width-20",
                id: "dup-party-web2",
                name: "dup-party-web2",
                type: "text",
                value: data['dup-party-web2']  
              }) }}
              
              {{ govukInput({
                label: {
                  text: "VAT registration number (optional)",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                classes: "govuk-input--width-20",
                id: "dup-party-vat2",
                name: "dup-party-vat2",
                type: "text",
                value: data['dup-party-vat2']
              }) }}

              {{ govukInput({
                label: {
                  text: "EORI number (optional)",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                classes: "govuk-input--width-20",
                id: "dup-party-eori2",
                name: "dup-party-eori2",
                type: "text",
                value: data['dup-party-eori2']          
              }) }}

              {{ govukInput({
                label: {
                  text: "DUNS number (optional)",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                classes: "govuk-input--width-20",
                id: "dup-party-duns2",
                name: "dup-party-duns2",
                type: "text",
                value: data['dup-party-duns2']  
              }) }}
            {% endif %}
          {% endif %}
        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save details"
          }) }}    
          

      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}