{% extends "layout.html" %}

{% set header1 = "Organisations" %}

{% block pageTitle %}
  {{header1}} - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width org-nav' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{header1}}
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{header1}}
    </h1>
 
    {% set activeOrgsHTML %}
      <h2 class="govuk-heading-m clearfix">All organisations
        <span class="govuk-body right-aligned-link">
        <a href="merge-two-orgs" class="govuk-link--no-visited-state">Merge organisations</a>
      </span> 
      </h2>

      <div class="govuk-form-group govuk-!-width-two-thirds" role="search">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="filterSearch">
            Search
          </label>
        </h1>
        <input class="govuk-input" id="filterSearch" name="filterSearch" type="search" onkeyup="tablefilterSearch()" placeholder="Enter the organisation name, registration number or country" aria-description="Search will filter the table of users">
      </div>

      <div id="filterbuttonContainer">
        <button class="govuk-button govuk-button--secondary active" onclick="filterSelection('all')"> All <span class="govuk-label govuk-visually-hidden">organisations</span></button>
        <button class="govuk-button govuk-button--secondary" onclick="filterSelection('none')"><span class="govuk-label govuk-visually-hidden">Organisations with </span> No case</button>
        <button class="govuk-button govuk-button--secondary" onclick="filterSelection('rejected')"> Rejected <span class="govuk-label govuk-visually-hidden">organisations</span></button>
      </div>

      
      <form>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-!-display-inline" for="sort-active-org">
              Sort organisations by
            </label>
            <select class="govuk-select" id="sort-active-org" name="sort-active-org">
              <option value="Organisation" selected>Organisation</option>
              <option value="Registration number">Registration number</option>
              <option value="Country">Country</option>
              <option value="No. cases">No. cases</option>
              <option value="No. users">No. users</option>
              <option value="Registered">Registered</option>
            </select>
          </div>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-visually-hidden" for="direction-active-orgs">
              Direction
            </label>
            <select class="govuk-select" id="direction-active-orgs" name="direction-active-orgs">
              <option value="Decending" selected>Decending</option>
              <option value="Ascending ">Ascending </option>
            </select>
          </div>
          {{ govukButton({
            text: "Sort organisations",
            classes: "govuk-button--secondary table-sort"
          }) }}
      </form>

      <table class="govuk-table sortable mobile-table-border generic-filter" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing all of the active organisations
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Organisation
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Country
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">Registration number
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>No. cases
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>No. users
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Registered
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row no-border hideTR all rejected none">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="org-awesomesteel" class="govuk-link--no-visited-state">{{data['party111']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Country: </span>People's Republic of China
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registration number: </span>357964356
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. cases: </span>0
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. users: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['initiated5']}}
            </td>
          </tr>
          <tr class="govuk-table__row no-border hideTR all">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['party4']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Country: </span>Republic of Gabon
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registration number: </span>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. cases: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. users: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['initiated5']}}
            </td>
          </tr>

          <tr class="govuk-table__row no-border hideTR all">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="org-bluesteel" class="govuk-link--no-visited-state">{{data['representative1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Country: </span>United Kingdom
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registration number: </span>45689357
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. cases: </span>2
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. users: </span>3
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>28 May 2022
            </td>
          </tr>

          <tr class="govuk-table__row no-border hideTR all">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['party3']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Country: </span>{{data['country3']}}
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registration number: </span>X4547
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. cases: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. users: </span>4
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['created3']}}
            </td>
          </tr>

          <tr class="govuk-table__row no-border hideTR all">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['party5']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Country: </span>Republic of Gabon
            </td>
             <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registration number: </span>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. cases: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. users: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['initiated5']}}
            </td>
          </tr>

          <tr class="govuk-table__row no-border hideTR all">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['representative2']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Country: </span>United Kingdom
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registration number: </span>06875378567
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. cases: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. users: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>28 April 2021
            </td>
          </tr>
          <tr class="govuk-table__row no-border hideTR all none">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="org-steeel" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Country: </span>{{data['dup-party-country1']}}
            </td>
             <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registration number: </span>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. cases: </span>0
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. users: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>28 May 2022
            </td>
          </tr>

          <tr class="govuk-table__row no-border hideTR all none">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Country: </span>United Kingdom
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registration number: </span>357964356
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. cases: </span>0
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. users: </span>3
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>28 May 2022
            </td>
          </tr>

          <tr class="govuk-table__row no-border hideTR all">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['applicant1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Country: </span>United Kingdom
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registration number: </span>7985693925
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. cases: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. users: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['created1']}}
            </td>
          </tr>
        </body>
      </table>


    {% endset %}

    {% set requestsHTML %}
      <h2 class="govuk-heading-m">Requests</h2>
      <p>There are <strong>4</strong> requests waiting to be reviewed</p>
      <form>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-!-display-inline" for="sort-party">
              Sort parties by
            </label>
            <select class="govuk-select" id="sort-party" name="sort-party">
              <option value="Interested party" selected>Interested party</option>
              <option value="Submission">Submission</option>              
              <option value="Submitted by">Submitted by</option>
              <option value="Request">Request</option>
            </select>
          </div>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-visually-hidden" for="direction-party">
              Direction
            </label>
            <select class="govuk-select" id="direction-party" name="direction-party">
              <option value="Decending" selected>Decending</option>
              <option value="Ascending ">Ascending </option>
            </select>
          </div>

          {{ govukButton({
            text: "Sort",
            classes: "govuk-button--secondary table-sort"
          }) }}
      </form>  
      <table class="govuk-table sortable mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing all of the organisation waiting to be approved on to a case
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Interested party
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Request
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted by
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header no-sort">
                <span class="govuk-visually-hidden--desktop">Action:</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body"> 
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="" class="govuk-link--no-visited-state">{{data['party4']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Request: </span>{{data['party-submission1']}}
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="#" class="govuk-link--no-visited-state">{{data['party-user111']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>22 May 2022
            </td>  
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?verify-type=reg-interest&third-party=no&notify-contact=yes" class="govuk-link--no-visited-state">Review <span class="govuk-visually-hidden">{{data['dup-party1']}}</span></a>
            </td>             
          </tr>            
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="org-steeel" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Request: </span>{{data['party-submission1']}}
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="#" class="govuk-link--no-visited-state">{{data['dup-user1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>22 May 2022
            </td>  
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?verify-type=reg-interest&third-party=no&notify-contact=yes" class="govuk-link--no-visited-state">Review <span class="govuk-visually-hidden">{{data['dup-party1']}}</span></a>
            </td>             
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Request: </span>{{data['party-submission2']}}
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="/caseworker/users/user-account?account-user=party-user1" class="govuk-link--no-visited-state">{{data['party-user1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>{{data['submission-date2']}}
            </td>  
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?who-signin=invest&verify-type=rep-invite&third-party=yes&loa-sufficient=yes" class="govuk-link--no-visited-state">Review <span class="govuk-visually-hidden">submission from {{data['party1']}}</span></a>
            </td>             
          </tr>
  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Request: </span>{{data['party-submission1']}}
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted by: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Submitted: </span>28 May 2022
            </td>   
            <td class="govuk-table__cell action">
              <span class="govuk-visually-hidden--desktop">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?verify-type=reg-interest&third-party=yes&notify-contact=yes" class="govuk-link--no-visited-state">Review <span class="govuk-visually-hidden">{{data['party1']}}
              </span></a>
            </td>        
          </tr> 
        </body>
      </table>   
    {% endset %}

    {% set rejOrgtHTML %}
      <h2 class="govuk-heading-m">Rejected from case</h2> 
      <p>There are <strong>0</strong> organisations that were rejected from a case.</p> 
    {% endset %}

    {% set dupOrgtHTML %}
      <h2 class="govuk-heading-m">Duplicates</h2> 
      <p>There are <strong>3</strong> organisations that match other organisations.</p> 
      <p>Select an organisations to decide if they should be merged with the matched organisation or kept as separate.</p>

      <form>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-!-display-inline" for="sort-dup">
              Sort organisations by
            </label>
            <select class="govuk-select" id="sort-dup" name="sort-dup">
              <option value="Organisation" selected>Organisation</option>
              <option value="Matches">Matches</option>
              <option value="Status">Status</option>
            </select>
          </div>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-visually-hidden" for="direction-dup">
              Direction
            </label>
            <select class="govuk-select" id="direction-dup" name="direction-dup">
              <option value="Decending" selected>Decending</option>
              <option value="Ascending ">Ascending </option>
            </select>
          </div>

          {{ govukButton({
            text: "Sort",
            classes: "govuk-button--secondary table-sort"
          }) }}
      </form> 
      <table class="govuk-table sortable mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing all of the parties waiting to be verified
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Organisation
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Matches
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Status
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header no-sort">
                <span class="govuk-visually-hidden--desktop">Action:</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">             
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="org-steeluk" class="govuk-link--no-visited-state">{{data['dup-party3']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Matches: </span>2
            </td>  
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Status: </span>Not started
            </td>  
            <td class="govuk-table__cell action">
              <a href="/caseworker/reg-interest/reginterest-merge-rep-review?who-signin=lead&verify-type=rep-invite&duplicate-org=rep&third-party=yes&loa-sufficient=yes&merge-rep-task=Not%20started&merge-duplicates=1of2" class="govuk-link govuk-link--no-visited-state">Select<a/><span class="govuk-visually-hidden"> {{data['dup-party3']}}</span>
            </td>             
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="org-bluesteel" class="govuk-link--no-visited-state">{{data['representative1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Matches: </span>2
            </td>  
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Status: </span>Not started
            </td>  
            <td class="govuk-table__cell action">
              <a href="/caseworker/reg-interest/reginterest-merge-rep-review?who-signin=lead&verify-type=rep-invite&duplicate-org=rep&third-party=yes&loa-sufficient=yes&merge-rep-task=Not%20started&merge-duplicates=1of2" class="govuk-link govuk-link--no-visited-state">Select<a/><span class="govuk-visually-hidden"> {{data['representative1']}}</span>
            </td>             
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="org-steeel" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Matches: </span>2
            </td>  
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Status: </span>Not started
            </td>  
            <td class="govuk-table__cell action">
              <a href="/caseworker/reg-interest/reginterest-merge-rep-review?who-signin=lead&verify-type=rep-invite&duplicate-org=rep&third-party=yes&loa-sufficient=yes&merge-rep-task=Not%20started&merge-duplicates=1of2" class="govuk-link govuk-link--no-visited-state">Select<a/><span class="govuk-visually-hidden"> {{data['dup-party1']}}</span>
            </td>             
          </tr>
        </body>
      </table> 
    {% endset %}
      
      
    {{ govukTabs ({
      items: [
      { 
        label: "All organisations (9)",
        id: "active-orgs",
        panel: {
          html: activeOrgsHTML
        }
      },
      { 
      label: "Requests (4)",
      id: "requests",
      panel: {
        html: requestsHTML
        }
      }
      ]
    }) }}
    
  </div>

</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}