{% extends "layout.html" %}

{% block pageTitle %}
  Who is registering? – {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
 {% include "includes/header-public-signedout.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="createaccount-your-account-invite" method="post" id="invite-rep-who-reg-form">

      {% set inviteRepNameHtml %}
        I am the email recipient: <strong>{{data['invite-rep-name'] or data['rep-user1'] }}</strong>   
      {% endset -%}

      {% set inviteRepOrgHtml %} 
      {% if data['invite-rep-what-org'] == "new-org" %} 
        I work for: <strong>{{data['createaccount-org-name'] or data['representative1'] }}</strong>
        {% else %}   
        I work for: <strong>{{data['invite-rep-what-org'] or data['representative1'] }}</strong> 
      {% endif %}  

      {% endset -%}
    
    
      {{ govukRadios({
        idPrefix: "invite-rep-who-reg",
        name: "invite-rep-who-reg",
        fieldset: {
          legend: {
            html: "Are you the named recipient of the invite?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Email recipient",
            text: "Yes, I am the named recipient",
            checked: checked("invite-rep-who-reg", "Email recipient")
          },
          {
            value: "Colleague",
            html: "No, I am not the named recipient, but work for the same organisation",
            checked: checked("invite-rep-who-reg", "Colleague")
          }
        ]
      }) }}

      {{ govukDetails({
        summaryText: "I work for a different organisation",
        html:'<p>If you work for a different organisation, you need to ask for an invite to be sent to you personally at your organisation.</p>'
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}
