{% extends "layouts/main.html" %}

{% block pageTitle %}
  Add public title – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% set titleHintText %}
<p class="govuk-body">You need to provide a public summary for the barrier <strong>{% if data['barrier-summary'] %} {{ data['barrier-summary'] }} {% else %} Exporting electronics to Iceland are frozen at present. {% endif %}</strong>.</p>
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Guidance on writing public summaries
      </span>
    </summary>
    <div class="govuk-details__text">
      We will add some guidance here and possibly links to help, or examples or both or more.
    </div>
  </details>
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Add a public summary
      </h1>

      <form class="form" action="public-view-tab-temp" method="post">
      {{ govukCharacterCount({
        name: "public-summary",
        value: data['public-summary'],
        id: "public-summary",
        maxlength: 1500,
        rows: 5,        
        hint: {
          html: titleHintText | safe
        }
      }) }}


        {{ govukButton({
          text: "Finish"
        }) }}
  


      </form>

    </div>
  </div>

{% endblock %}
