{% extends "layout.html" %}

{% set header1 = "Investigator details" %}

{% block pageTitle %}
  {{header1}} - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width user-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="users-all">All users</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {% if data['account-user'] =="caseworker-invest" %}
        {{data['caseworker-invest']}}
        {% else %}
        {% if data['account-user'] =="caseworker-lead" %}
          {{data['caseworker-lead']}}
          {% else %}
          {% if data['account-user'] =="caseworker-admin" %}
            {{data['caseworker-admin']}}
            {% else %}
            {% if data['account-user'] =="caseworker-head" %}
              {{data['caseworker-head']}}
              {% else %}
              {% if data['account-user'] =="new-caseworker" %}
                {{data['caseworker-name']}}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {% if data['account-user'] =="caseworker-invest" %}
        {{data['caseworker-invest']}}
        {% else %}
        {% if data['account-user'] =="caseworker-lead" %}
          {{data['caseworker-lead']}}
          {% else %}
          {% if data['account-user'] =="caseworker-admin" %}
            {{data['caseworker-admin']}}
            {% else %}
            {% if data['account-user'] =="caseworker-head" %}
              {{data['caseworker-head']}}
              {% else %}
              {% if data['account-user'] =="new-caseworker" %}
                {{data['caseworker-name']}}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    </h1>

    {% if (data['account-user'] =="caseworker-invest" and data['caseworker-invest-status'] =="Inactive") or (data['account-user'] =="caseworker-lead" and data['caseworker-lead-status'] =="Inactive") or (data['account-user'] =="caseworker-admin" and data['caseworker-admin-status'] =="Inactive")  or (data['account-user'] =="caseworker-head" and data['caseworker-head-status'] =="Inactive") or (data['account-user'] =="caseworker-name" and data['caseworker-status'] =="Inactive")  %}
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <p class="govuk-warning-text__text">
          <strong>
            <span class="govuk-warning-text__assistive">Warning</span>
            This account has been marked as Inactive
          </strong>
        </p>
      </div>
    {% endif %}

    {% set casesHtml %}
      <h2 class="govuk-heading-m clearfix">Cases
        <span class="govuk-body right-aligned-link">
          <a href="" class="govuk-link--no-visited-state">Assign user to case</a>
        </span>
      </h2>
      {% if data['account-user'] =="caseworker-admin" or data['account-user'] =="new-caseworker" %}
        <p>This user is not involved in any cases</p>
        {% else %}
        <p>Manage the user's case involvement.</p>
        <form>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-!-display-inline" for="sort-cases">
              Sort cases by
            </label>
            <select class="govuk-select" id="sort-cases" name="sort-cases">
              <option value="Case no." selected>Case no.</option>
              <option value="Case name">Case name</option>
            </select>
          </div>
          <div class="govuk-form-group table-sort">
            <label class="govuk-label govuk-visually-hidden" for="direction-cases">
              Direction
            </label>
            <select class="govuk-select" id="direction-cases" name="direction-cases">
              <option value="Decending" selected>Decending</option>
              <option value="Ascending ">Ascending </option>
            </select>
          </div>
          {{ govukButton({
            text: "Sort cases",
            classes: "govuk-button--secondary table-sort"
          }) }}
        </form>
        
        <table class="govuk-table sortable table-border mobile-table-border" id="table-header">
          <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">A table listing all of the cases the users is involved in</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" aria-sort="ascending">
                <button class="govuk-button govuk-button--secondary">
                  <span class="govuk-visually-hidden--desktop">Sort by: </span>No.
                  <span class="indicator" aria-hidden="true"></span>
                </button>
              </th>
              <th class="govuk-table__header">
                <button class="govuk-button govuk-button--secondary">
                  <span class="govuk-visually-hidden--desktop">Sort by: </span>Case
                  <span class="indicator" aria-hidden="true"></span>
                </button>
              </th>
              <th class="govuk-table__header no-sort">
                <span class="govuk-visually-hidden--desktop">Action 2: </span>
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% if data['account-user'] =="caseworker-invest" %}
              <tr class="govuk-table__row no-border">
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop">Case No. </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref1']}}</a>
                </td>
                <td class="govuk-table__cell text-overflow">
                  <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name1']}}</a>
                </td>
                <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Action 2: </span><a href="" class="govuk-link govuk-link--no-visited-state">Remove<span class="govuk-visually-hidden--desktop"> from case {{data['case-ref5']}}</span> </a> 
                  </td>
              </tr>
              {% else %}
              {% if data['account-user'] =="caseworker-head" or data['account-user'] =="caseworker-lead" %}
                <tr class="govuk-table__row no-border">
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Case No. </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref1']}}</a>
                  </td>
                  <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name1']}}</a>
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Action 2: </span><a href="" class="govuk-link govuk-link--no-visited-state">Remove<span class="govuk-visually-hidden--desktop"> from case {{data['case-ref5']}}</span> </a> 
                  </td>
                </tr>
                <tr class="govuk-table__row no-border">
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Case No. </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref5']}}</a>
                  </td>
                  <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name5']}}</a>
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Action 2: </span><a href="" class="govuk-link govuk-link--no-visited-state">Remove<span class="govuk-visually-hidden--desktop"> from case {{data['case-ref5']}}</span> </a> 
                  </td>
                </tr>
                <tr class="govuk-table__row no-border">
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Case No. </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref6']}}</a>
                  </td>
                  <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name6']}}</a>
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Action 2: </span><a href="remove-user?remove-case=case5" class="govuk-link govuk-link--no-visited-state">Remove<span class="govuk-visually-hidden--desktop"> from case {{data['case-ref6']}}</span> </a> 
                  </td>
                </tr>
              {% endif %}
            {% endif %}
          </body>
        </table>
      {% endif %}
    {% endset %}

    {% set userHtml %}
      <h2 class="govuk-heading-m">User details</h2>
      <div class="address-card">
        <div class="address-container">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact details
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['account-user'] =="caseworker-invest" %}
                  {{data['caseworker-invest']}}<br>
                  {{data['caseworker-invest-email']}}<br>
                  {{data['caseworker-invest-mobile'] or "+447821945034"}}  
                  {% else %}
                  {% if data['account-user'] =="caseworker-lead" %}
                    {{data['caseworker-lead']}}<br>
                    {{data['caseworker-lead-email']}}<br>
                    {{data['caseworker-lead-mobile'] or "+447821945034"}}
                    {% else %}
                    {% if data['account-user'] =="caseworker-admin" %}
                      {{data['caseworker-admin']}}<br>
                      {{data['caseworker-admin-email']}}<br>
                      {{data['caseworker-admin-mobile'] or "+447821945034"}}
                      {% else %}
                      {% if data['account-user'] =="caseworker-head" %}
                        {{data['caseworker-head']}}<br>
                        {{data['caseworker-head-email']}}<br>
                        {{data['caseworker-head-mobile'] or "+447821945034"}}
                        {% else %}
                        {% if data['account-user'] =="new-caseworker" %}
                          {{data['caseworker-name']}}<br>
                          {{data['caseworker-email']}}<br>
                          {{data['caseworker-mobile'] or "+447821945034"}}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link--no-visited-state" href="user-edit">
                  Edit<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div> 
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Two-factor authentication
              </dt>
              <dd class="govuk-summary-list__value">
                By {{ data['user-2fa'] or "email"}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link--no-visited-state" href="user-2fa">
                  Change<span class="govuk-visually-hidden"> two-factor authentication</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Password
              </dt>
              <dd class="govuk-summary-list__value">
                ***********
              </dd>    
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link--no-visited-state" href="user-changepass">
                  Change<span class="govuk-visually-hidden"> password</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Account permission
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['account-user'] =="caseworker-invest" %}
                  {{data['caseworker-invest-permiss'] or "Investigator"}} 
                  {% else %}
                  {% if data['account-user'] =="caseworker-lead" %}
                  {{data['caseworker-lead-permiss'] or "Lead Investigator"}} 
                    {% else %}
                    {% if data['account-user'] =="caseworker-admin" %}
                    {{data['caseworker-admin-permiss'] or "Administrator"}} 
                      {% else %}
                      {% if data['account-user'] =="caseworker-head" %}
                      {{data['caseworker-head-permiss'] or "Head of Investigation"}}
                       {% else %}
                        {% if data['account-user'] =="new-caseworker" %}
                        {{data['caseworker-permiss'] or "Investigator"}} 
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                {% if (data['account-user'] =="caseworker-invest" and data['caseworker-invest-status'] == "Inactive") or (data['account-user'] =="caseworker-lead" and data['caseworker-lead-status'] == "Inactive") or (data['account-user'] =="caseworker-admin" and data['caseworker-admin-status'] == "Inactive") or (data['account-user'] =="caseworker-head" and data['caseworker-head-status'] == "Inactive") or (data['account-user'] =="caseworker-head" and data['caseworker-head-status'] == "Inactive")or (data['account-user'] =="new-caseworker" and data['caseworker-status'] == "Inactive") %} 
                  {% else %}
                  <a class="govuk-link--no-visited-state" href="user-account-permiss-invest">
                    Change<span class="govuk-visually-hidden"> account permission</span>
                  </a>
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['account-user'] =="caseworker-invest" %}
                  {{data['caseworker-invest-status'] or "Active"}} 
                  {% else %}
                  {% if data['account-user'] =="caseworker-lead" %}
                    {{data['caseworker-lead-status'] or "Active"}} 
                    {% else %}
                    {% if data['account-user'] =="caseworker-admin" %}
                      {{data['caseworker-admin-status'] or "Active"}} 
                      {% else %}
                      {% if data['account-user'] =="caseworker-head" %}
                        {{data['caseworker-head-status'] or "Active" }} 
                        {% else %}
                        {% if data['account-user'] =="new-caseworker" %}
                          {{data['caseworker-status'] or "Active" }} 
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}    
              </dd>
              <dd class="govuk-summary-list__actions">
                {% if data['account-user'] =="party-user6" %}
                  <a class="govuk-link--no-visited-state" href="user-account-status">
                    Change<span class="govuk-visually-hidden"> account status</span>
                  </a>
                  {% else %}
                  <a class="govuk-link--no-visited-state" href="user-account-status">
                    Change<span class="govuk-visually-hidden"> account status</span>
                  </a>
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address validated
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['account-user'] =="caseworker-invest" %}
                  {{data['caseworker-invest-email-valid'] or "Yes"}} 
                  {% else %}
                  {% if data['account-user'] =="caseworker-lead" %}
                    {{data['caseworker-lead-email-valid'] or "Yes"}} 
                    {% else %}
                    {% if data['account-user'] =="caseworker-admin" %}
                      {{data['caseworker-admin-email-valid'] or "Yes"}} 
                      {% else %}
                      {% if data['account-user'] =="caseworker-head" %}
                        {{data['caseworker-head-email-valid'] or "Yes" }} 
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}   
              </dd>
              <dd class="govuk-summary-list__actions">
                {% if data['account-user'] =="party-user6" %}
                  <a class="govuk-link--no-visited-state" href="user-account-valid">
                    Change<span class="govuk-visually-hidden"> email validation status</span>
                  </a>
                  {% else %}
                  <a class="govuk-link--no-visited-state" href="user-account-valid">
                    Change<span class="govuk-visually-hidden"> email validation status</span>
                  </a>
                {% endif %}
              </dd>
            </div>                  
          </dl>
        </div>
      </div>
    {% endset %}

    {{ govukTabs({
      items: [
        {
          label: "Cases",
          id: "cases-cases",
          panel: {
            html: casesHtml
          }
        },
        {
          label: "User details",
          id: "user-details",
          panel: {
            html: userHtml
          }
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}