{% extends "layout.html" %}

{% set header1 = "User two-factor authentication" %}

{% block pageTitle %}
  {{header1}} - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width user-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    
      <form action="user-changepass" method="post" id="add-user-2fa-form">   

        <h1 class="govuk-heading-xl">
          {{header1}}
        </h1>

        <p>When the user signs in, we will send them a code as part of our two-factor authentication. This helps ensure that their account is kept safe and secure.</p>
        
        <!-- Put this text into the radio for mobile-->
        {% set mobileHtml %} 
          {% include "includes/country-code-list.html" %}    
        
          {{ govukInput({
            id: "2FA-mobile",
            name: "2FA-mobile",
            value: data['2FA-mobile'],
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-!-width-one-third",
            label: {
              text: "Enter their mobile number"
            }
          }) }}
        {% endset %}

        {% if data['account-user'] == "new-customer" %}

          <!-- Put this text into the radio for email-->
          {% set emailText %}
            By email: <strong>{{data['rep-email3']}}</strong>
          {% endset %}

          <!-- Radio buttons-->
          {{ govukRadios({
            name: "2fa-choice",
            fieldset: {
              legend: {
                text: "How do they want to receive their code?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
            {
              value: "mobile",
              text: "By text message",
              id: "mobile",
              conditional: {
                html: mobileHtml
              }
            },
            {
              value: "rep-email3",
              html: emailText,
              id: "rep-email3"
            }
            ]
          }) }}

          {% else %}

          <!-- Put this text into the radio for email-->
          {% set emailText %}
            By email: <strong>{{data['invest-email']}}</strong>
          {% endset %}

          <!-- Radio buttons-->
          {{ govukRadios({
            name: "2fa-choice",
            fieldset: {
              legend: {
                text: "How do they want to receive their code?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
            {
              value: "mobile",
              text: "By text message",
              id: "mobile",
              conditional: {
                html: mobileHtml
              }
            },
            {
              value: "invest-email",
              html: emailText,
              id: "invest-email"
            }
            ]
          }) }}

        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}    
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}