{% extends "layout.html" %}

{% set header1 = "Delete user" %}

{% block pageTitle %}
  {{header1}} - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width user-nav' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{header1}}
      </h1>

      <p>
        {% if data['account-user'] =="party-user1" %}
          {{data['party-user1']}} -
          {{data['party-email1']}}
          {% else %}
          {% if data['account-user'] =="party-user11" %}
            {{data['party-user11']}} -
            {{data['party-email11']}}
            {% else %}
            {% if data['account-user'] =="party-user6" %}
              {{data['party-user6']}} -
              {{data['party-email6']}}
              {% else %}
              {% if data['account-user'] =="rep-user3" %}
                {{data['rep-user3']}} -
                {{data['rep-email3']}}
                {% else %}
                {% if data['account-user'] =="rep-user1" %}
                  {{data['rep-user1']}} -
                  {{data['rep-email1']}}
                {% endif %}  
              {% endif %}  
            {% endif %}
          {% endif %}
        {% endif %}
      </p>
      <p>Are you sure you want to delete this user? This cannot be undone</p>
      <form action="user-account-delete-complete" method="post" id="cancel-invite-form">

        <!-- <input type="hidden" id="show-invite" name="show-invite" value="no"> -->
        {{ govukButton({
          text: "Delete user",
          classes: "govuk-button--warning"
        }) }}    
        
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}