{% extends "layout.html" %}

{% set header1 = "User details" %}

{% block pageTitle %}
  {{header1}} - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width user-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{header1}}
      </h1>

      {% if data['account-user'] == "new-customer" or data['account-user'] == "new-caseworker" %}
        <form action="user-add-2fa" method="post" novalidate id="account-update-details-form"> 
        {% else %}
        <form action="user-account#user-details" novalidate method="post" id="account-update-details-form"> 
      {% endif %}

        <!--Jane-->
        {% if (data['account-user'] == "party-user1") %}
          {{ govukInput({
            label: {
              text: "User's name",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            classes: "govuk-input--width-20",
            id: "party-user1",
            name: "party-user1",
            type: "text",
            autocomplete: "name",
            value: data['party-user1']
          }) }}

          {{ govukInput({
            label: {
              text: "Email address",
              classes: "govuk-label--s"
            },
          
            id: "party-email1",
            name: "party-email1",
            classes: "govuk-input--width-20",
            type: "email",
            autocomplete: "email",
            value: data['party-email1']
          }) }}

          {% call govukFieldset({
            legend: {
              text: "Mobile number",
              classes: "govuk-fieldset__legend--s",
              isPageHeading: false
            }
          }) %}

            {% include "includes/country-code-list-selected.html" %}    

            {{ govukInput({
              id: "party-mobile1",
              name: "party-mobile1",
              type: "tel",
              autocomplete: "tel",
              classes: "govuk-!-width-one-third",
              label: {
                text: "Mobile number"
              },
              value: data['party-mobile1'] or '07821945034'
            }) }}
              
          {% endcall %}

          {% else %}
          <!--Lara -->
          {% if (data['account-user'] == "party-user11") %}
            {{ govukInput({
              label: {
                text: "User's name",
                classes: "govuk-label--s",
                isPageHeading: false
              },
              classes: "govuk-input--width-20",
              id: "party-user11",
              name: "party-user11",
              type: "text",
              autocomplete: "name",
              value: data['party-user11']
            }) }}

            {{ govukInput({
              label: {
                text: "Email address",
                classes: "govuk-label--s"
              },
            
              id: "party-email11",
              name: "party-email11",
              classes: "govuk-input--width-20",
              type: "email",
              autocomplete: "email",
              value: data['party-email11']
            }) }}

            {% call govukFieldset({
              legend: {
                text: "Mobile number",
                classes: "govuk-fieldset__legend--s",
                isPageHeading: false
              }
            }) %}

              {% include "includes/country-code-list-selected.html" %}    

              {{ govukInput({
                id: "party-mobile11",
                name: "party-mobile11",
                type: "tel",
                autocomplete: "tel",
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Mobile number"
                },
                value: data['party-mobile11'] or "07821945034"
              }) }}
              
            {% endcall %}

            {% else %}
            <!--Rodney -->
            {% if (data['account-user'] == "party-user6") %}
              {{ govukInput({
                label: {
                  text: "User's name",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                classes: "govuk-input--width-20",
                id: "party-user6",
                name: "party-user6",
                type: "text",
                autocomplete: "name",
                value: data['party-user6']
              }) }}

              {{ govukInput({
                label: {
                  text: "Email address",
                  classes: "govuk-label--s"
                },
              
                id: "party-email6",
                name: "party-email6",
                classes: "govuk-input--width-20 ",
                type: "email",
                autocomplete: "email",
                value: data['party-email6']
              }) }}

              {% call govukFieldset({
                legend: {
                  text: "Mobile number",
                  classes: "govuk-fieldset__legend--s",
                  isPageHeading: false
                }
                }) %}

                {% include "includes/country-code-list-selected.html" %}    

                {{ govukInput({
                  id: "party-mobile6",
                  name: "party-mobile6",
                  type: "tel",
                  autocomplete: "tel",
                  classes: "govuk-!-width-one-third",
                  label: {
                    text: "Mobile number"
                  },
                  value: data['party-mobile6'] or '07821945034'
                }) }}
              {% endcall %}             

              {% else %}
              <!--Bob Hoskins-->
              {% if (data['account-user'] == "rep-user1") %}
                {{ govukInput({
                  label: {
                    text: "User's name",
                    classes: "govuk-label--s",
                    isPageHeading: false
                  },
                  classes: "govuk-input--width-20",
                  id: "rep-user1",
                  name: "rep-user1",
                  type: "text",
                  autocomplete: "name",
                  value: data['rep-user1']
                }) }}

                {{ govukInput({
                  label: {
                    text: "Email address",
                    classes: "govuk-label--s"
                  },
                  id: "rep-email1",
                  name: "rep-email1",
                  classes: "govuk-input--width-20",
                  type: "email",
                  autocomplete: "email",
                  value: data['rep-email1']
                }) }}

                {% call govukFieldset({
                    legend: {
                      text: "Mobile number",
                      classes: "govuk-fieldset__legend--s",
                      isPageHeading: false
                    }
                  }) %}

                  {% include "includes/country-code-list-selected.html" %}    

                  {{ govukInput({
                    id: "rep-mobile1",
                    name: "rep-mobile1",
                    type: "tel",
                    autocomplete: "tel",
                    classes: "govuk-!-width-one-third",
                    label: {
                      text: "Mobile number"
                    },
                    value: data['rep-mobile1'] or "07821945034"
                  }) }}
                {% endcall %} 

                {% else %}
                <!--Demi Moore-->
                {% if (data['account-user'] == "rep-user3") %}
                  {{ govukInput({
                    label: {
                      text: "User's name",
                      classes: "govuk-label--s",
                      isPageHeading: false
                    },
                    classes: "govuk-input--width-20",
                    id: "rep-user3",
                    name: "rep-user3",
                    type: "text",
                    autocomplete: "name",
                    value: data['rep-user3']
                  }) }}

                  {{ govukInput({
                    label: {
                      text: "Email address",
                      classes: "govuk-label--s"
                    },
                    id: "rep-email3",
                    name: "rep-email3",
                    classes: "govuk-input--width-20",
                    type: "email",
                    autocomplete: "email",
                    value: data['rep-email3']
                  }) }}

                  {% call govukFieldset({
                    legend: {
                      text: "Mobile number",
                      classes: "govuk-fieldset__legend--s",
                      isPageHeading: false
                      }
                    }) %}

                    {% include "includes/country-code-list-selected.html" %}    

                    {{ govukInput({
                      id: "rep-mobile3",
                      name: "rep-mobile3",
                      type: "tel",
                      autocomplete: "tel",
                      classes: "govuk-!-width-one-third",
                      label: {
                        text: "Mobile number"
                      },
                      value: data['rep-mobile3'] or "07821945034"
                    }) }}
                  {% endcall %} 

                  {% else %}
                  <!--Jonanna-->
                  {% if (data['account-user'] == "caseworker-invest") %}
                    {{ govukInput({
                      label: {
                        text: "User's name",
                        classes: "govuk-label--s",
                        isPageHeading: false
                      },
                      classes: "govuk-input--width-20",
                      id: "caseworker-invest",
                      name: "caseworker-invest",
                      type: "text",
                      autocomplete: "name",
                      value: data['caseworker-invest']
                    }) }}

                    {{ govukInput({
                      label: {
                        text: "Email address",
                        classes: "govuk-label--s"
                      },
                      id: "caseworker-invest-email",
                      name: "caseworker-invest-email",
                      classes: "govuk-input--width-20",
                      type: "email",
                      autocomplete: "email",
                      value: data['caseworker-invest-email']
                    }) }}

                    {% call govukFieldset({
                      legend: {
                        text: "Mobile number",
                        classes: "govuk-fieldset__legend--s",
                        isPageHeading: false
                        }
                      }) %}

                      {% include "includes/country-code-list-selected.html" %}    

                      {{ govukInput({
                        id: "caseworker-invest-mobile",
                        name: "caseworker-invest-mobile",
                        type: "tel",
                        autocomplete: "tel",
                        classes: "govuk-!-width-one-third",
                        label: {
                          text: "Mobile number"
                        },
                        value: data['caseworker-invest-mobile'] or "07821945034"
                      }) }}
                    {% endcall %} 

                    {% else %} 

                    <!--New customer-->
                    {% if (data['account-user'] == "new-customer") %}
                      {{ govukInput({
                        label: {
                          text: "User's name",
                          classes: "govuk-label--s",
                          isPageHeading: false
                        },
                        classes: "govuk-input--width-20",
                        id: "rep-user3",
                        name: "rep-user3",
                        type: "text",
                        autocomplete: "name"
                      }) }}

                      {{ govukInput({
                        label: {
                          text: "Email address",
                          classes: "govuk-label--s"
                        },
                        id: "rep-email3",
                        name: "rep-email3",
                        classes: "govuk-input--width-20",
                        type: "email",
                        autocomplete: "email"
                      }) }}
                      {% else %}
                      <!--New investigator-->
                      {% if (data['account-user'] == "new-caseworker") %}
                        {{ govukInput({
                          label: {
                            text: "User's name",
                            classes: "govuk-label--s",
                            isPageHeading: false
                          },
                          classes: "govuk-input--width-20",
                          id: "caseworker-invest",
                          name: "caseworker-invest",
                          type: "text",
                          autocomplete: "name"
                        }) }}

                        {{ govukInput({
                          label: {
                            text: "Email address",
                            classes: "govuk-label--s"
                          },
                          id: "caseworker-invest-email",
                          name: "caseworker-invest-email",
                          classes: "govuk-input--width-20",
                          type: "email",
                          autocomplete: "email"
                        }) }}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
  
        {% if data['account-user'] == "new-customer" or data['account-user'] == "new-caseworker" %}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}    
          </div>
          {% else %}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Submit"
            }) }}    
          </div>
        {% endif %}

      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}