{% extends "layout.html" %}

{% set header1 = "User password" %}

{% block pageTitle %}
  {{header1}} - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width user-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['account-user'] == "new-customer" %}
        <form action="user-account-org" method="post" id="account-changepass-form">
        {% else %}
        {% if data['account-user'] == "new-caseworker" %}
          <form action="user-account-permiss-invest" method="post" id="account-changepass-form">
          {% else %}
          <form action="user-account#user-details" method="post" id="account-changepass-form">
        {% endif %}
      {% endif %}
      
        
        <h1 class="govuk-heading-xl">
          {{header1}}
        </h1>

  
<!-- Content contains accessibility code for screen readers based on this blog: https://incl.ca/show-hide-password-accessibility-and-password-hints-tutorial -->
        
        <p id="password-hints">The password for this account must: 

  <!-- This text is only shown to screen readers -->        
          <span class="sr-only">Be at least 8 characters, have at least 1 number, have at least 1 uppercase letter, have at least one lowercase letter. and have at least 1 special character.</span></p>
   
  <!-- This text is not shown to screen readers --> 
        <ul class="govuk-list govuk-list--bullet" aria-hidden="true">
          <li id="length" class="invalid">be at least 8 characters long,</li>
          <li id="number" class="invalid">have at least one number (0 to 9),</li>
          <li id="letter" class="invalid">include at least one lowercase letter,</li>
          <li id="captial" class="invalid">include at least one uppercase letter,</li>
          <li id="special" class="invalid">contain a special character (e.g. !@$%/<)</li>
        </ul>  
  
  <!-- This text is only shown to screen readers and informs the user that the password is / isn't hidden -->
        <p aria-live="polite" id="password-text" class="sr-only">Password hidden.</p>

        <div class="input-with-button">
          <button id="show-password" type="button" role="switch" aria-checked="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            <span class="show-text">Show</span>
          </button>
          
          {{ govukInput({
            label: {
              text: "Enter new password"
            },
            classes: "govuk-input--width-15",
            id: "password",
            name: "password",
            type: "password",
            describedBy: "password-hints",
            autocomplete: "new-password" 
          }) }}
        
        </div>

        {% if data['account-user'] == "new-customer" or data['account-user'] == "new-caseworker" %}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}    
          </div>
          {% else %}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Submit"
            }) }}    
          </div>
        {% endif %}
      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}