{% extends "layout.html" %}

{% set header1 = "User deleted" %}

{% block pageTitle %}
  {{header1}} - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width user-nav' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{header1}}
      </h1>

      <p>The user's account has been deleted.</p>
      <form action="users-all" method="post" id="cancel-invite-form">
        {{ govukButton({
          text: "Back to Users"
        }) }} 
      </form>   
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}