{% extends "layout.html" %}

{% set header1 = "Has the user email address been validated?" %}

{% block pageTitle %}
  {{header1}} - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width user-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['account-user'] == "new-customer" or data['account-user'] == "new-caseworker" %}
          <form action="user-account?account-user=rep-user3&show-demi=yes#user-details" method="post" id="account-validated-form">
        {% else %}
          <form action="user-account#user-details" method="post" id="account-validated-form">
      {% endif %}
 
        <!--Jane-->
        {% if data['account-user'] =="party-user1" %}
          {{ govukRadios({
              idPrefix: "party-user1-email-valid",
              name: "party-user1-email-valid",
              fieldset: {
                legend: {
                  html: header1,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("party-user1-email-valid", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("party-user1-email-valid", "No")
              }
              ]
            }) }}    
          {% else %}
          <!--Lara-->
          {% if data['account-user'] =="party-user11" %}
            {{ govukRadios({
              idPrefix: "party-user11-email-valid",
              name: "party-user11-email-valid",
              fieldset: {
                legend: {
                  html: header1,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("party-user11-email-valid", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("party-user11-email-valid", "No")
              }
              ]
            }) }}  
            {% else %}
            <!--Rodney-->
            {% if data['account-user'] =="party-user6" %}
              {{ govukRadios({
                idPrefix: "party-user6-email-valid",
                name: "party-user6-email-valid",
                fieldset: {
                  legend: {
                  html: header1,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
                items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: checked("party-user6-email-valid", "Yes")
                },
                {
                  value: "No",
                  text: "No",
                  checked: checked("party-user6-email-valid", "No")
                }
                ]
              }) }}  
              {% else %}
              <!--Bob-->
              {% if data['account-user'] =="rep-user1" %}
                {{ govukRadios({
                  idPrefix: "rep-user1-email-valid",
                  name: "rep-user1-email-valid",
                  fieldset: {
                    legend: {
                    html: header1,
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--xl"
                    }
                  },
                  items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("rep-user1-email-valid", "Yes")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("rep-user1-email-valid", "No")
                  }
                  ]
                }) }}  
                {% else %}
                <!--Demi-->
                {% if data['account-user'] =="rep-user3" %}
                  {{ govukRadios({
                    idPrefix: "rep-user3-email-valid",
                    name: "rep-user3-email-valid",
                    fieldset: {
                      legend: {
                      html: header1,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--xl"
                      }
                    },
                    items: [
                    {
                      value: "Yes",
                      text: "Yes",
                      checked: checked("rep-user3-email-valid", "Yes")
                    },
                    {
                      value: "No",
                      text: "No",
                      checked: checked("rep-user3-email-valid", "No")
                    }
                    ]
                  }) }}  
                  {% else %}
                  <!--New customer-->
                  {% if data['account-user'] =="new-customer" %}
                    {{ govukRadios({
                      idPrefix: "rep-user3-email-valid",
                      name: "rep-user3-email-valid",
                      fieldset: {
                        legend: {
                        html: header1,
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--xl"
                        }
                      },
                      items: [
                      {
                        value: "Yes",
                        text: "Yes"
                      },
                      {
                        value: "No",
                        text: "No"
                      }
                      ]
                    }) }}  
                  {% endif %}  
                {% endif %}  
              {% endif %}  
            {% endif %}  
          {% endif %}  
        {% endif %}

        {% if (data['account-user'] == "new-customer") %}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}    
          </div>
          {% else %}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Submit"
            }) }}    
          </div>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}