{% extends "layout.html" %}

{% set header1 = "All users" %}

{% block pageTitle %}
  {{header1}} - {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width user-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{header1}}
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{header1}}
    </h1>

    {% set manageCustomersHTML %}
      <h2 class="govuk-heading-m">Customers
        <span class="govuk-body right-aligned-link">
          <a href="user-edit?account-user=new-customer" class="govuk-link--no-visited-state">Add customer</a>
        </span>
      </h2> 

      <div class="govuk-form-group govuk-!-width-two-thirds" role="search">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="filterSearch">
            Search
          </label>
        </h1>
        <input class="govuk-input" id="filterSearch" name="filterSearch" type="search" onkeyup="tablefilterSearch()" placeholder="Enter the customers name, email address or organisation">
      </div>
      <div id="filterbuttonContainer">
        <button class="govuk-button govuk-button--secondary active" onclick="filterSelection('all')"> All <span class="govuk-label govuk-visually-hidden">customers</span></button>
        <button class="govuk-button govuk-button--secondary" onclick="filterSelection('none')"><span class="govuk-label govuk-visually-hidden">Customers with </span> No case</button>
        <button class="govuk-button govuk-button--secondary" onclick="filterSelection('invalid')"> Not validated <span class="govuk-label govuk-visually-hidden">customers</span></button>
        <button class="govuk-button govuk-button--secondary" onclick="filterSelection('inactive')"> Inactive <span class="govuk-label govuk-visually-hidden">customers</span></button>
      </div>

      <form id="sort-users">
        <div class="govuk-form-group table-sort" aria-description="Sort the customers in the table">
          <label class="govuk-heading-s" for="sort-user">
            Sort customers in the table by
          </label>
          <select class="govuk-select" id="sort-user" name="sort-user">
            <option value="User" selected>User</option>
            <option value="Email">Email</option>
            <option value="Organisation">Organisation</option>
            <option value="Number of cases">Number of cases</option>
            <option value="Registered">Registered</option>
          </select>
        </div>
        <div class="govuk-form-group table-sort">
          <label class="govuk-label govuk-visually-hidden" for="direction-users">
            Direction
          </label>
          <select class="govuk-select" id="direction-users" name="direction-users">
            <option value="Decending" selected>Decending</option>
            <option value="Ascending ">Ascending </option>
          </select>
        </div>
        {{ govukButton({
          text: "Sort users",
          classes: "govuk-button--secondary table-sort"
        }) }}
      </form>

      <table class="govuk-table sortable mobile-table-border generic-filter" id="table-header">
        <caption class="govuk-table__caption govuk-table__caption--s govuk-visually-hidden--desktop">
          A table listing all of the customers
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>User
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Email
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Organisation
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Cases
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
             <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Registered
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body"> 
          <!--Arni-->
          <tr class="govuk-table__row no-border hideTR all">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="" class="govuk-link--no-visited-state">{{data['rep-user6'] }}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['rep-email6'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="../orgs/org-bluesteel" class="govuk-link--no-visited-state">{{data['representative1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['initiated5']}}
            </td>
          </tr>   
          <!--Bob-->
          <tr class="govuk-table__row no-border hideTR all">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="user-account?account-user=rep-user1" class="govuk-link--no-visited-state">{{data['rep-user1'] }}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['rep-email1'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="../orgs/org-bluesteel" class="govuk-link--no-visited-state">{{data['representative1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>2
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['initiated6']}}
            </td>
          </tr>       
          <!--Clay-->
          <tr class="govuk-table__row no-border hideTR all">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="" class="govuk-link govuk-link--no-visited-state">{{data['party-user2']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['party-email2']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['party2']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>3
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['initiated4']}}
            </td>
          </tr>  
          <!--Demi - If the user Approved by TRA the invite move them from 'Invites' tab to Account users tab OR if you want to see all user states-->
          {% if data['invite-rep-task'] == "Approved" or data['manage-user-states'] == "All" or data['show-demi'] == "yes" %}
            <tr class="govuk-table__row no-border hideTR all">
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">User: </span><a href="user-account?account-user=invite-rep-name" class="govuk-link--no-visited-state">{{data['invite-rep-name'] or data['rep-user3'] }}</a>
              </td>
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Email: </span>{{data['invite-rep-email'] or data['rep-email3'] }}
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="../orgs/org-bluesteel" class="govuk-link--no-visited-state">{{data['representative1']}}</a>
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Cases: </span>1
              </td>
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['initiated3']}}
              </td>
            </tr>
          {% endif %}
          <!--George -->
          <tr class="govuk-table__row no-border hideTR all none">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="" class="govuk-link govuk-link--no-visited-state">{{data['party-user5']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['party-email5']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['party5']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>0
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['initiated2']}}
            </td>
          </tr>  
          <!--Gusto -->
          <tr class="govuk-table__row no-border hideTR all">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="" class="govuk-link govuk-link--no-visited-state">{{data['dup-user1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['dup-email1']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="../orgs/org-steeel" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>1
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['initiated1']}}
            </td>
          </tr>  
          <!--Itsa -->
          <tr class="govuk-table__row no-border hideTR all none">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="" class="govuk-link govuk-link--no-visited-state">{{data['party-user111']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['party-email111']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="../orgs/org-awesomesteel" class="govuk-link--no-visited-state">{{data['party111']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>0
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['created6']}}
            </td>
          </tr>
          <!--Jane-->
          <tr class="govuk-table__row no-border hideTR all none">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="user-account?account-user=party-user1" class="govuk-link--no-visited-state">{{data['createaccount-name'] or data['party-user1'] }}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['createaccount-email'] or data['party-email1'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="../orgs/org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>0
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['created5']}}
            </td>
          </tr>
          <!--Lara-->
          <tr class="govuk-table__row no-border hideTR all none">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="user-account?account-user=party-user11" class="govuk-link--no-visited-state">{{data['invite-user-name'] or data['party-user11'] }}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['invite-user-email'] or data['party-email11'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="../orgs/org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>0
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['created4']}}
            </td>
          </tr>
          <!--Mohawks-->
          <tr class="govuk-table__row no-border hideTR all none">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="user-account?account-user=party-user4" class="govuk-link--no-visited-state">{{data['party-user4'] }}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['party-email4'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['party4']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>0
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['created3']}}
            </td>
          </tr>
          <!--Odessa -->
          <tr class="govuk-table__row no-border hideTR all">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="" class="govuk-link govuk-link--no-visited-state">{{data['party-user3']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['party-email3']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="" class="govuk-link--no-visited-state">{{data['party3']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>2
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['created2']}}
            </td>
          </tr>  
          <!--Rodney -->
          <tr class="govuk-table__row no-border hideTR all none inactive invalid">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="user-account?account-user=party-user6" class="govuk-link govuk-link--no-visited-state">{{data['party-user6']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['party-email6']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Organisation: </span><a href="../orgs/org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>0
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Registered: </span>{{data['created1']}}
            </td>
          </tr>           
        </body>
      </table>
    {% endset %}

    {% set manageInvestigatorsHTML %}
      <h2 class="govuk-heading-m">Investigators
        <span class="govuk-body right-aligned-link">
          <a href="user-edit?account-user=new-caseworker" class="govuk-link--no-visited-state">Add investigator</a>
        </span>
      </h2>

       <div class="govuk-form-group govuk-!-width-two-thirds">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="filterSearch2">
            Search
          </label>
        </h1>
        <input class="govuk-input" id="filterSearch2" name="filterSearch2" type="search" onkeyup="tablefilterSearch2()" placeholder="Enter the investigators name, email address or role">
      </div>
    
      <form id="sort-investigators">
        <div class="govuk-form-group table-sort" aria-description="Sort the investigators in the table">
          <label class="govuk-label govuk-label--s" for="sort-investigator">
            Sort investigators in the table by
          </label>
          <select class="govuk-select" id="sort-investigator" name="sort-investigator">
            <option value="User" selected>User</option>
            <option value="Email">Email</option>
            <option value="Account permission">Account permission</option>
            <option value="Number of cases">Number of cases</option>
          </select>
        </div>
        <div class="govuk-form-group table-sort">
          <label class="govuk-label govuk-visually-hidden" for="direction-investigator">
            Direction
          </label>
          <select class="govuk-select" id="direction-users" name="direction-investigator">
            <option value="Decending" selected>Decending</option>
            <option value="Ascending ">Ascending </option>
          </select>
        </div>
        {{ govukButton({
          text: "Sort investigators",
          classes: "govuk-button--secondary table-sort"
        }) }}
      </form>

      <table class="govuk-table sortable mobile-table-border investigators-filter" id="table-header2">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden--desktop">
          A table listing all of the investigators
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>User
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Email
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Account permission
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Cases
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">         
          <!--Natalie - Always show-->
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="invest-account?account-user=caseworker-invest" class="govuk-link--no-visited-state">{{data['caseworker-invest'] }}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['caseworker-invest-email']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Account permission: </span>{{data['caseworker-invest-role']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>1
            </td>
          </tr>
           <!--Jonana - Always show-->
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="invest-account?account-user=caseworker-lead" class="govuk-link--no-visited-state">{{data['caseworker-lead'] }}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['caseworker-lead-email']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Account permission: </span>{{data['caseworker-lead-role']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>3
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="invest-account?account-user=caseworker-head" class="govuk-link--no-visited-state">{{data['caseworker-head'] }}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['caseworker-head-email']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Account permission: </span>{{data['caseworker-head-role']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>3
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">User: </span><a href="invest-account?account-user=caseworker-admin" class="govuk-link--no-visited-state">{{data['caseworker-admin'] }}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Email: </span>{{data['caseworker-admin-email']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Account permission: </span>{{data['caseworker-admin-role']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop">Cases: </span>0
            </td>
          </tr>
          
        </body>
      </table>
    {% endset %}

    {{ govukTabs ({
      items: [
      { 
        label: "Customers",
        id: "manage-customers",
        panel: {
          html: manageCustomersHTML
        }
      },
      { 
        label: "Investigators",
        id: "manage-investigators",
        panel: {
          html: manageInvestigatorsHTML
        }
      }
      ]
    }) }}
  </div>
</div>

{% endblock %}
{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
      
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
          href: "?invite-org-task=Approved",
          text: "Org accepts invite"
        },
        {
          href: "?invite-rep-task=Accepted#manage-invites",
          text: "Rep accept invite"
        },
        {
          href: "?invite-rep-task=Approved",
          text: "Rep approved by TRA"
        }
      ]
    }
  }) }}
{% endblock %}
