{% extends "layout.html" %}

{% set header1 = "TRA Investigations" %}

{% block pageTitle %}
  {{header1}} – {{ serviceName }} - GOV.UK
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'invest-nav' %}


{% block header %}
  {% if data['signed-out'] == "no" %}
    {% include "includes/header-public.html" %}
    {% else %}
    {% include "includes/header-public-signedout.html" %}
  {% endif %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../dashboard">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        {{header1}}
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Trade Remedies Authority</span>

    <h1 class="govuk-heading-xl">
      Active investigations
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data['signed-out'] == "no" %}
      <p>Review the public file of our active investigations. For your organisation to take part in an investigation, you need to <a href="/public-site/reg-interest/reginterest-tasks?tasklist-type=reg-interest" class="govuk-link--no-visited-state">register interest.</a></p>
      {% else %}
      <p>Review the public file of our active investigations. For your organisation to take part in an investigation, <a href="/public-site/create-account/createaccount-your-account" class="govuk-link--no-visited-state">create an account</a> or <a href="/public-site/signin" class="govuk-link--no-visited-state">sign in</a> to register interest.</p>
    {% endif %}

    <div class="govuk-form-group govuk-!-width-three-quarters">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="search-commodity">
          Search for an investigation
        </label>
      </h2>
      <select class="govuk-select autocomplete-select" id="search-commodity" name="search-commodity" autocomplete-placeholder="Enter case name, number or commodity code">
        <option value="" class="selected"></option>
        <option value="AD2224 - Steel plate from Russia" id="1">7222202100 </option>
        <option value="AD2224 - Steel plate from Russia" id="2">7222202900</option>
        <option value="AD2224 - Steel plate from Russia" id="3">7222203100</option>
        <option value="AD2224 - Steel plate from Russia" id="single">AD2224 - Steel plate from Russia</option>
        <option value="AD3245 - Steel balls from Murcia" id="4">AD3245 - Steel balls from Murcia</option>
      </select>
    </div>

    <div class="govuk-inset-text" id="selected_commodity_wrapper" style="display:none;">
      <ul class="govuk-list">
        <li id="selected_commodity2" style="display:none;"><a href="case-overview" class="govuk-link--no-visited-state">AS0020 - Ironing Boards from Turkey</a></li>
        <li><a href="case-overview" class="govuk-link--no-visited-state" id="selected_commodity"></a></li>
      </ul>
    </div>
    <br>
    <br>
  </div>
  
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Useful links
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="link" href="https://www.gov.uk/trade-tariff" target="_blank">Check your tariff (opens in a new window or tab)</a> 
          </li>   
          <li>
            <a class="link" href="https://www.gov.uk/government/collections/trade-remedies-notices" target="_blank">Current trade remedies (opens in a new window or tab)</a> 
          </li>    
        </ul>
      </nav>
    </aside>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  {% set activeCasesHTML %}
    <h2 class="govuk-heading-m">Active investigations</h2>

    <form>
      <div class="govuk-form-group table-sort">
        <label class="govuk-label govuk-!-display-inline" for="sort-cases">
          Sort by
        </label>
        <select class="govuk-select" id="sort-cases" name="sort-cases">
          <option value="Case no." selected>Case No.</option>
          <option value="Case">Case</option>
          <option value="Type">Type</option>
          <option value="Initiated">Commodity</option>
          <option value="Status">Initiated</option>
          <option value="Updated">Updated</option>
        </select>
      </div>
      <div class="govuk-form-group table-sort">
        <label class="govuk-label govuk-visually-hidden" for="direction-cases">
          Direction
        </label>
        <select class="govuk-select" id="direction-cases" name="direction-cases">
          <option value="Decending" selected>Decending</option>
          <option value="Ascending ">Ascending </option>
        </select>
      </div>
      {{ govukButton({
        text: "Sort",
        classes: "govuk-button--secondary table-sort"
      }) }}
      
    </form>     

    <table class="govuk-table sortable mobile-table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
        A table listing all of the active trade remedies investigations
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" aria-sort="descending">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>No.
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Case
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Commodity
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Country
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Type
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Initiated
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Updated
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Case No.: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref8']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name8']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Commodity: </span>Aluminium Extrusions
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Country: </span><abbr title="People's Republic of China">CN<abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type8']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated8']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Updated: </span>{{data ['updated8']}}
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Case No.: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref9']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name9']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Commodity: </span>Optical fibre cables
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Country: </span><abbr title="People's Republic of China">CN<abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type9']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated9']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Updated: </span>{{data ['updated9']}}
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Case No.: </span><a href="case-overview" class="govuk-link--no-visited-state">{{data['case-ref1']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="case-overview" class="govuk-link--no-visited-state">{{data['case-name1']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Commodity: </span>Steel plate
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Country: </span><abbr title="Russian Federation">RU<abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Updated: </span>{{data ['updated1']}}
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Case No.: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref10']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name10']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Commodity: </span>Ironing boards
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Country: </span><abbr title="Turkey">TU<abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type10']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated10']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Updated: </span>{{data ['updated10']}}
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Case No.: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref3']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name3']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Commodity: </span>Farents
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Country: </span><abbr title="Fabon">FA<abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type3']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated3']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Updated: </span>{{data ['updated3']}}
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Case No.: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref5']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name5']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Commodity: </span>Garnets
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Country: </span><abbr title="Gabbon">GA<abbr>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type5']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated5']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Updated: </span>{{data ['updated5']}}
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Case No.: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref4']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name4']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Commodity: </span>Barnets
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Country: </span><abbr title="Tabon">TA<abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type4']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated4']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Updated: </span>{{data ['updated4']}}
          </td>
        </tr>
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Case No.: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref6']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name6']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Commodity: </span>Electric bikes
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Country: </span><abbr title="Russian Federation">RU<abbr> / <abbr title="People's Republic of China">CN<abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data ['case-type6']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Initiated: </span>{{data ['initiated6']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop">Updated: </span>{{data ['updated6']}}
          </td>
        </tr>
      </tdbody>
    </table>

  {% endset %}

  {% set completedCasesHTML %}
    <h2 class="govuk-heading-m">Completed investigations</h2>
    <form>
      <div class="govuk-form-group table-sort">
        <label class="govuk-label govuk-!-display-inline" for="sort-closed-cases">
          Sort complete investigations by
        </label>
        <select class="govuk-select" id="sort-closed-cases" name="sort-closed-cases">
          <option value="Case No." selected>Case No.</option>
          <option value="Case">Case</option>
          <option calue="Commodity">Commodity</option>
          <option value="Country">Country</option>
          <option value="Type">Type</option>
          <option value="Initiated">Initiated</option>
          <option value="Closed">Closed</option>
        </select>
      </div>
      <div class="govuk-form-group table-sort">
        <label class="govuk-label govuk-visually-hidden" for="direction-closed-cases">
          Direction
        </label>
        <select class="govuk-select" id="direction-closed-cases" name="direction-closed-cases">
          <option value="Decending" selected>Decending</option>
          <option value="Ascending ">Ascending </option>
        </select>
      </div>

      {{ govukButton({
        text: "Sort",
        classes: "govuk-button--secondary table-sort"
      }) }}

      <table class="govuk-table sortable mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing all of the complete trade remedies investigations
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>No.
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Case
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Commodity
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Country
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Type
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Initiated
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Closed
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Case no. </span><a href="#" class="govuk-link--no-visited-state">{{data['case-ref2']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Case: </span><a href="#" class="govuk-link--no-visited-state">{{data['case-name2']}}</a>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Commodity: </span>Rainbow Trout
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Country: </span><abbr title="Turkey">TU<abbr>
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Type: </span>{{data['case-type2']}}
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Register by: </span>{{data['created2']}}
          </td>
          <td class="govuk-table__cell ">
            <span class="govuk-visually-hidden--desktop">Closed: </span>{{data['updated2']}}
          </td>        
        </tr>
      </table>
    </form>
  

  {% endset %}
  
  
  {{ govukTabs ({
    items: [
    
    { 
      label: "Active investigations",
      id: "active-cases",
      panel: {
        html: activeCasesHTML
      }
    },
    { 
      label: "Completed investigations",
      id: "completed-cases",
      panel: {
        html: completedCasesHTML
      }
    }
    ]
  }) }}
  
</div>


{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}